%h2.panel-heading.text-center
  %ul.nav.nav-tabs.nav-justified
    - if controller.action_name == 'dashboard'
      %li.active
        %a{href: '/users/dashboard'}
          Adventures
      %li
        %a{href: '/users/edit'} 
          Profile
      %li
        %a{href: '/users/wallet'} 
          Wallet
    - elsif controller.action_name == 'wallet' || controller.action_name == 'bookings' || controller.action_name == 'payouts'
      %li
        %a{href: '/users/dashboard'}
          Adventures
      %li
        %a{href: '/users/edit'} 
          Profile
      %li.active
        %a{href: '/users/wallet'} 
          Wallet
    - else 
      %li
        %a{href: '/users/dashboard'}
          Adventures
      %li.active
        %a{href: '/users/edit'} 
          Profile
      %li
        %a{href: '/users/wallet'} 
          Wallet