.panel-body.text-center
  %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form"}
    %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook?referrer_id=#{referrer.id}"}
      %i.fa.fa-facebook
      Facebook
    =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
    =tag(:input, :type => "hidden", :name => "user[referrer_id]", :value => referrer.id)
    =tag(:input, :type => "hidden", :name => "user[is_guide]", :value => true)
    .partner-email-signup-toggle.btn.btn-primary.sign_up_btn 
      Join with Email

    .partner-email-signup{style: 'margin-top: 10px;'}
      .form-group
        %input.form-control{placeholder: "Partner Email", type: "email", required: "required", name: "user[email]", id: "user_email"}
      .form-group
        %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", name: "user[password]"}
      .form-group
        %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", name: "user[password_confirmation]"}
      %input.btn.btn-primary.sign_up_btn{name: "sign_up", type: "submit", value: "Sign Up", style: 'width: 100%;'}


:javascript 
  
  $('.partner-email-signup-toggle').click(function(){
    $(this).hide()
    $(this).next().fadeIn()
  })

  $('.btn.btn-primary.sign_up_btn').hover(function(){
    $(this).css('border-color','transparent')
  })