#user_cancel_reservation_modal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        Cancel Resevation
      .cancellation_note.text-center
      .modal-body
        %form{"accept-charset" => "UTF-8", action: "/reservations/user_cancel", method: "POST", id: "user_cancel_form", "data-remote" => "true"}
          = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
          = tag(:input, :type => "hidden", :name => "user_cancel[reservation_id]", :id => "reservation_id")
          .form-group.row
            .col-md-4 
              .form_label.text-right Reason *
            .col-md-6
              %select.form-control{name: 'user_cancel[reason]'}
                - options = user_cancellation_reasons
                - options.each do |o|
                  %option{value: o.downcase}
                    = o
          .form-group.row
            .col-md-4 
              .form_label.text-right Details *
            .col-md-6
              %textarea.form-control{rows: "5", type: "text", name: "user_cancel[details]", id: "user_cancel_details", maxlength: "250"}

          .text-center
            %em
              The host will automatically be notified of your cancellation


          .row.text-center
            .col-md-11.col-md-offset-1
            %br
            .agree-to-cancel
              %input{type: "checkbox"}
              By cancelling this reservation you agree to 
              %a{href: "/terms", target: "_blank"}
                Advlo's cancellation policy.
                
            .row.text-center
              %input.btn.btn-primary.cancel_btn.disabled{type: "submit", value: "Cancel Adventure Reservation"}

        #cancel_user_submitted.text-center
          .row
            .col-md-10.col-md-offset-1
              .adv_title.text-center
              .adv_time.text-center
              .res_refund_amount
              You have cancelled this reservation
              %br
              Expect to receive your refund if applicable within 3-4 business days 
          = image_tag 'logos/advlo_header_logo.png'


:javascript
  $('.agree-to-cancel').find('input').click(function(){
    $('.cancel_btn').toggleClass('disabled')
  })
