- set_meta_tags(default_meta_tags)

#partner_sign_up
  .container
    .panel.col-md-4.col-md-offset-4
      %h2.text-center{style: 'font-size: 2.2em;'} Become a Partner Hostel

      .referrer_text.text-center
        Account Access Invite from:
        %em
          = @referrer.email
      %br
      .text-center
        Sign up for free and have access to:
      .text-left
        %br
        ="- Sell your hostel's adventure activities"
        %br
        ="- Earn money by inviting local adventure guides"
        %br
        ="- Promote your hostel to a global network of travelers"


      = render partial: "partner_signup", locals: {referrer: @referrer}
      

