#d_sign_up
  .container
    %h2.text-center Sign Up
    .d_error_msgs= devise_error_messages!
    %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form"}
      =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
      .form-group
        %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
      .form-group
        %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]"}
      .form-group
        %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", id: "user_password_confirmation", name: "user[password_confirmation]"}
      %input.btn.btn-primary.sign_up_btn{name: "sign_in", type: "submit", value: "Sign Up"}
      %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
        %i.fa.fa-facebook
        Connect with facebook