#d_sign_up
  .container
    .panel.col-md-4.col-md-offset-4
      %h2.text-center Join Advlo
      .panel-body
        .d_error_msgs= devise_error_messages!
        %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form"}
          %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
            %i.fa.fa-facebook
            Sign Up with Facebook
          =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
          .form-group
            %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
          .form-group
            %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]"}
          .form-group
            %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", id: "user_password_confirmation", name: "user[password_confirmation]"}
          %input.btn.btn-primary.sign_up_btn{name: "sign_up", type: "submit", value: "Sign Up"}
