- set_meta_tags(default_meta_tags)

#partner_sign_up
  .container
    .panel.col-md-4.col-md-offset-4
      %h2.text-center{style: 'font-size: 2.2em;'} Become a Partner Host

      .referrer_text.text-center
        Account Access Invite from:
        %em
          = @referrer.email
      %br
      .text-center
        Sign up for free and have access to:
      .text-left
        %br
        ="- Sell your adventure activities & receive global payments"
        %br
        ="- Create custom webpages for you and your adventures"
        %br
        ="- Reservation system / web hosting / SEO"


      = render partial: "partner_signup", locals: {referrer: @referrer}
      

:javascript
  $('.partner-email-signup-toggle').click(function(){
    $(this).hide()
    $('.partner-email-signup').fadeIn()
  })