#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        #wallet
          %h2.text-center
            %ul.nav.nav-tabs
              %li.active
                %a{href: "#"}
                  Bookings

              - if @host_reservations
                %li
                  %a{href: "/users/reservations"}
                    Reservations

              - if !@payouts.empty?
                %li
                  %a{href: "/users/payouts"} 
                    Payouts
                  
          .panel-heading.text-center
            .panel-body
              - if !@reservations
                .col-md-6.col-md-offset-3
                  .alert.alert-warning.text-center
                    There are no reservations for this adventure!
              .table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th Guide
                      %th Adventure
                      %th Start Date / Time
                      %th People
                      %th $ Total Paid
                  %tbody
                  / NEED TO REDO LOOK AT RESERVATIONS

                  / - @reservations.each_with_index do |res, i|
                  /   - # Add logic for sorting them by timeslot
                  /   %tr
                  /     %td.text-left= res.adventure.users.first.name
                  /     %td.text-left= link_to res.adventure.title, "/adventures/#{res.adventure.slug}", target: '_blank'
                  /     %td.text-left= res.event_start_time.strftime("%m/%d/%Y - %l:%M %P")
                  /     //%td.text-center= "#{res.head_count} @ (#{res.total_price.to_s / res.head_count}) / person"
                  /     %td.text-left= res.head_count
                  /     %td.text-left= "$ "+res.total_price.to_s
                  / %thead
                  /   %tr
                  /     %th
                  /     %th
                  /     %th
                  /     %th
                  /     %th= "$ "+current_user.reservations.sum(:total_price).to_s


          

