<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        ="Hello, my name is #{@name}. I'm the lead developer & co-founder of Adventure Local advlo.com"
        %br
        %br
        ="I found your contact during my search for #{@reference}, so I figured you would be up for checking out our platform."

        %p
          I am looking for guides who can offer unique adventures in their area =>
          %a{href:"http://www.advlo.com/invite/partner"} http://www.advlo.com/invite/partner
          %br
          Email me back if you’re interested or know someone who might be. I would be more than happy to answer any questions.