<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        ="Hello. My name is Jon Maser and i'm the founder of Adventure Local."
        %br
        %br
        ="I found your contact during my search for #{@reference}, so I figured you would be up for checking out the platform my team and I have been building over the past year."
        %br
        We are looking for individual guides & local businesses who can offer awesome local adventures in their area. 

        %p
          More information can be found on our partner page, 
          %a{href:"http://www.advlo.com/partner"} http://www.advlo.com/partner.
          Email me back if you’re interested or know someone who might be. I would be more than happy to answer questions.

