!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %br
    %p 
      Hey I know we already reached out to you, but I thought I would fill you in on our travel-fund feature. Perhaps your readers would find it interesting. 
    %p
      Thanks for checking us out.
    %p
      Christopher & the Advlo team
    %br
    %br
    %br
    .img-wrapper{style: 'width: 600px;'}
      %a{href: 'http://advlo.com/travel-fund', style: 'text-decoration: none;'}
        %img{alt: 'adventure local', src: "#{root_url}/assets/advloinfo-1232e108e6fba5b3c29341c877daf6cf.jpg", width: "650px", style: 'margin-left: 3px;'}
  
