<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %p= "Hello #{@publisher_name}."
      %p
        I'm one of 3 founders at Adventure Local:
        %a{href: "#{root_url}", style: 'color: #C35B26;'} http://advlo.com
      %p
        Advlo is a platform for travelers to directly connect with local adventure guides. 
        %br
        During each of our own travels we always saw local guides being outcompeted by foreign companies with fancy websites & international marketing budgets. 
        %br
        We wanted to build a platform to empower the local, as well as give access to the best cultural experience for the traveler. 
        %br
        %br
        You seem like someone who believes in making travel more authentic, so I figured you’d be up for checking it out. 

      %p 
        If you are interested in working with us we are definitely open to sponsoring blogposts,
        %br
        or sending you on an adventure if you find something you like :)
