<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h2= "Hey #{@user.get_name_or_email}!"
      
      .text-left
        %p 
          You now have  
          %b one
          entry to win $1000 on Advlo January 26th.


        %p 
          Keep in mind every person you invite will be 
          %b another entry! 
          %br
          Track your progress & get more entries
          %a{href: 'http://advlo.com/giveaway'} here.

        %a{href:"http://advlo.com/giveaway", style: "text-decoration: none;"}
          = image_tag 'advlo-promo/advlo_giveaway_more_entries.jpg',style: "position: relative;float: left;width: 100%;"

      %p{style: "position: relative; float: left;"}
        %i Thanks & good luck!
        %br
        Team Advlo