<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h2= "Hey #{@user.get_name_or_email}!"
      
      .text-left
        %p 
          You now have  
          %b one
          entry to win $1000 on Advlo January 27th.

        %p 
          Keep in mind every person you invite will be 
          %b another entry! 
          %br
          Track your progress & get more entries
          %a{href: 'http://advlo.com/giveaway'} here.

        %a{href:"http://advlo.com/giveaway", style: "text-decoration: none;"}
          = image_tag 'http://s3-us-west-2.amazonaws.com/advlo/hero_images/attachments/000/000/460/hero/advlo_giveaway_more_entries.jpg?1420860469',style: "position: relative;float: left;width: 100%;"


        %hr
        %br

      .text-center
        %hr
        %h4=link_to "Get more entries for the $1000 giveaway", 'http://advlo.com/blog/1000-dollar-giveaway'
        %hr

        %br
          %a{href: "http://www.advlo.com/giveaway", style: 'text-decoration: none; color: #000;'}
          .trip{style: "position:relative; float:left; width: 45%; margin: 2.5%; background: url('http://s3-us-west-2.amazonaws.com/advlo/blog_images/attachments/000/000/017/medium/Screen_Shot_2015-01-06_at_3.27.31_PM.png?1420594938') center center no-repeat; height: 150px;"}
            .title{style: "background-color: rgba(0,0,0,0.5);margin-top: 110px;color: #fff;font-size: 13px;height: 31px;padding-top: 9px;"} Freediving in Costa Rica
        %a{href: "http://www.advlo.com/giveaway", style: 'text-decoration: none; color: #000;'}
          .trip{style: "position:relative; float:left; width: 45%; margin: 2.5%; background: url('http://s3-us-west-2.amazonaws.com/advlo/blog_images/attachments/000/000/022/medium/burma-whale-credit.jpg?1420612282') center center no-repeat; height: 150px;"}
            .title{style: "background-color: rgba(0,0,0,0.5);margin-top: 110px;color: #fff;font-size: 13px;height: 31px;padding-top: 9px;"} Scuba diving in Burma
        %a{href: "http://www.advlo.com/giveaway", style: 'text-decoration: none; color: #000;'}
          .trip{style: "position:relative; float:left; width: 45%; margin: 2.5%; background: url('http://s3-us-west-2.amazonaws.com/advlo/blog_images/attachments/000/000/023/medium/multi.jpeg?1420612499') center center no-repeat; height: 150px;"}
            .title{style: "background-color: rgba(0,0,0,0.5);margin-top: 110px;color: #fff;font-size: 13px;height: 31px;padding-top: 9px;"} Multisport adventure in Ecuador
        
        %a{href: "http://www.advlo.com/giveaway", style: 'text-decoration: none; color: #000;'}
          .trip{style: "position:relative; float:left; width: 45%; margin: 2.5%; background: url('http://s3-us-west-2.amazonaws.com/advlo/blog_images/attachments/000/000/020/medium/kites.jpg?1420596713') center center no-repeat; height: 150px;"}
            .title{style: "background-color: rgba(0,0,0,0.5);margin-top: 110px;color: #fff;font-size: 13px;height: 31px;padding-top: 9px;"} Kitesurfing in South Africa

      %p{style: "position: relative; float: left;"}
        %i Thanks & good luck!
        %br
        Team Advlo