<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        = "Hey #{@name}," 
        %br
        %br
        Although we've reached out to you before regarding our platform, I thought you might be interested in learning about our new 
        %a{href:"#{root_url}affiliate"} affiliate program.
        %br
        %br
        We believe that the type of person we want on our platform and your readers go hand-in-hand and thought we could benefit each other.

      %p
        %b
          %u How it works:
        %br
        1. Create an account (If you don't already have one)
        %br
        2. Enter your Paypal email for payouts
        %br
        3. Copy & Paste your embed code onto your blog / site
        %br
        4. Track your metrics and earn money based on sign-ups and bookings
        %br
        5. All this information can also be found
        %a{href:"#{root_url}affiliate"} here

      %p
        If you know of any other travel or adventure related blogger who may be interested, feel free to forward this to them or have them contact us at founders@advlo.com

      %p
        Feel free to reach out to me if have any questions about this program.