<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        = "Hey #{@name}," 
        %br
        %br
        Although we've reached out to you before regarding our platform, I thought you might be interested in learning about our new 
        %a{href:"#{root_url}affiliate"} affiliate program.
        %br
        %br
        As a bootstrapped startup our budget is pretty slim, but we know how challenging it is to build an audience as committed as yours. We believe that your network includes the type of people we want to connect with, and we are willing to pay very fairly for that bridge. In order to take Adventure Local to the next level, we need your help. 
      
      %p
        So for every signup you get 
        %b ( 50 ¢ ) 
        and for each reservation they make you get 
        %b ( 5 % )
        of the total payment. 

      %p
        %b
          %u How it works:
        %br
        1. Create an account
        %br
        2. Enter your Paypal email
        %br
        3. Copy & Paste your embed code onto your blog ( or simply share your link via social media )
        
      %p 
        We made it easy to track your metrics so you know how many click throughs - and converted signups you make. Here is a post explaining more about it: 
        %a{href: "http://www.advlo.com/blog/adventure-local-affiliate-program"} http://www.advlo.com/blog/adventure-local-affiliate-program

      %p
        If you know of any other travel or adventure related blogger who may be interested, feel free to forward this to them or have them contact us at founders@advlo.com

      %p
        Feel free to contact us at founders@advlo.com - we would love to have you onboard.