<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        ="Hey there. My name is #{@name}. I'm the lead developer & co-founder of Adventure Local ( advlo.com )."
        %br
        %br
        ="I found your contact during my search for #{@reference}, so I figured you would be up for checking out the platform."

        %p
          We are looking for hostels or guides who can offer awesome local adventures in their area =>
          %a{href:"http://www.advlo.com/invite/hostel"} http://www.advlo.com/invite/hostel
          %br
          Email me back if you’re interested or know someone who might be. I would be more than happy to answer questions.