<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Contact form submission
    User:
    = @contact_user.email
    
    %p
      = @contact_user.comments