!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %a{href: 'http://advlo.com/travel-fund', style: 'text-decoration: none;'}
      = image_tag asset_path('advloinfo.jpg')
