!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .img-wrapper{style: 'width: 600px;'}
      %a{href: 'http://advlo.com/travel-fund', style: 'text-decoration: none;'}
        %img{alt: 'adventure local', src: "#{root_url}/assets/advloinfo-1232e108e6fba5b3c29341c877daf6cf.jpg", width: "650px", style: 'margin-left: 3px;'}
  
