<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        Hey. I'm one of 3 founders at Adventure Local.
      %p
        = "My name is Christopher - i'm an anthropologist turned programmer & I found your contact from #{@reference}."
      %p  
        We built a platform to change the way people connect with local adventure guides =>
        %a{href:"http://www.advlo.com/invite/partner"} http://www.advlo.com/invite/partner
        %br
        If your not interested my apologies on the email, but perhaps you may know a guide who would benefit from our platform.
        %br
        Email me back if you’re interested – i'd be more than happy to discuss Advlo in more depth. 