<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      = "Hey #{@user.get_name_or_email},"
      %p
        I wanted to personally thank you for joining the Advlo community. 
        %br
        It's been a little while since you signed up, and we wanted to let you know that it's adventure seekers like yourself who drive our team to change the way people travel. 
      %p
        Make sure to set up your
        %strong
          %a{href:"http://www.advlo.com/users/edit"} Adventure Preferences
        so we can connect you to the most relevant local guides and adventures.
        
      %p  
        Also, for every friend you invite - you each get $5 through our
        %strong
          %a{href:"http://www.advlo.com/travel-fund"} Travel Fund
        %br