<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .indented  
      %h1 PAYPAL PAYMENT REQUIRED
      
      %p
        For info only:
      %p
        To: @user.email
      %p
        Amount: @payout.amount