!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2.center Thanks for being an early member in the Advlo community :)

    %h3.center   
      
    %h4.text-center 
      We really value you as a member.
      %br
      %br
      And to show our thanks, heres 
      %a{href: "#{root_url}users/wallet"} $25
      towards your next adventure
      %br
      %i{style: 'font-size: 10px;'} (applicable to adventures $50 or more)
    .indented.text-center
      We will keep you updated on
      %a{href: "#{root_url}"} adventures
      in your area.
