<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h3.text-left
        = "Subscription Invoice"
      
      %p
        %i 
          Please 
          %a{href: "#{root_url}about"}contact us
          if you wish to receive your page specific analytics.

      %p
        * You can manage your adventure subscription at anytime
        %a{href: "#{root_url}users/dashboard"}here
