<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        Hey there.
        = "My name is Christopher. I'm one of the founders of Adventure Local ( advlo.com )" 

        %br
        We built a platform to change the way people connect with local adventure guides. 
        %br
        I found your contact while searching for surf guides, so I figured you would be up for checking it out.

        %p
          Here is a page with all the details on the platform. We are looking for for guides who can offer awesome local adventures, 
          %br
          to join our global community of adventure travelers. 
          %a{href:"http://www.advlo.com/invite/partner"} http://www.advlo.com/invite/partner
          %br
        %p
          Email me back if you’re interested, I would be more than happy to answer questions.