<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body 
    An official Syracuse University transcript for Shayan Dhanani is securly attached to this email. To open the transcript and related attachments, enter the following access code 
    