<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body 
    An official Syracuse University transcript for Shayan Dhanani is securly attached to this email. To open the transcript and related attachments, enter the following access code 
    %b
      %u imI7bQgc5RGcNM9qFFk4kQ==

    %br
    %br
    This transcript is being provided to you at the student's request. If you are not the intended receiver, please notify us immediately. 

    %br
    %br
    Transcripts made available via our secure email service are considered official only in the PDF format. Should the recipient print the transcript, save the transcript in a different format, or forward the transcript to a third party, those copies would be considered unofficial. Transcripts retrieved by students via our secure server are noted "Official Transcript Issued Directly to Student" and should be considered for student use only.

    %br
    %br
    If you have questions regarding the authenticity of a transcript delivered in any other way, please contact the Office of the Registrar at trecords@syr.edu or (315) 443-2411. Questions regarding the attachment(s) should be directed to the student.