!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to Adventure Local

    %h3   
      = "Your account email is: #{@user.email}"
    .indented
      %br

      You can now 
      %a{href: 'http://beta.advlo.com/users/edit'}
        %strong book
      awesome local adventures or become a guide by completing 

      %a{href: 'http://beta.advlo.com/users/edit'}
        your profile

      and 

      %a{href: 'http://beta.advlo.com/adventures/info'}
        %strong creating

      an adventure. We are ecited to have you on board. 

      %h3
