#p_banner {
	position: relative;
	float: left;
	height: 500px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;

	//Change to let user change profile pic?
	background-image: asset-url("background/advlo_mountains.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	#profile-box {
		margin-top: 6%;

		.caption {
			font-size: 0.65em;
			margin-bottom: 4px;
			margin-left: 5px;
		}
	}

	.panel {
		padding: 10px 0;
		background-color: rgba(0,0,0,0.45);
		color: $profile_banner_font_color;
		border-color: transparent;

		.panel-body {
			.profile-image {
				height: 200px;
				width: 200px;
				border-radius: 50%;
				background-size: 150% !important;
				margin: 0 auto;
				overflow: hidden;
				.non-fb-img {
					height: 100%;
					width: auto;
					min-width: 100%;
				}
			}

			.rating-disabled {
				cursor: default;
			}
		}

		.img_uploaded {
			width: 145px;
			height: 160px;
		}

		.banner_name {
			font-family: $profile_banner_name_font;
			font-size: 2em;
			margin-bottom: 5px;
			margin-top: 10px;
			text-transform: uppercase;
		}

		.banner_subtitle {
			font-family: $profile_banner_subtitle_font;
			font-size: 1.2em;
			font-style: italic;
		}
	} 
}
