#p_banner {
	padding-top: 15vh;
	height: 65vh;
	min-height: 350px;

	//Change to let user change profile pic?
	background-image: asset-url("background/advlo_forest.png",image);
	background-repeat: no-repeat;
	background-size: cover;

	.panel {
		padding: 10px 0;
		background-color: rgba(0,0,0,0.45);
		color: $profile_banner_font_color;
		border-color: $advlo_orange;

		.panel-body {
			.profile-image {
				height: 200px;
				width: 200px;
				border-radius: 50%;
				background-size: 150% !important;
				margin: 0 auto;
				overflow: hidden;
				.non-fb-img {
					height: 100%;
					width: auto;
					min-width: 100%;
				}
			}
		}

		.img_uploaded {
			width: 145px;
			height: 160px;
		}

		.banner_name {
			font-family: $profile_banner_name_font;
			font-size: 2em;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		.banner_subtitle {
			font-family: $profile_banner_subtitle_font;
			font-size: 1.2em;
			font-style: italic;
		}
	} 
}
#p_banner .panel .panel-body .profile-image {

}