#p_bio {
	min-height: 300px;
	background: rgba(0,0,0,0.5);
	color: $white;
	min-height: 260px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;

	.bio_header {
		font-family: nexa_bold !important;
		color: $profile_box_header_font_color;
		font-size: 2.8em;
	}

	.bio_body {
		margin-bottom: 25px;
		font-size: 1.4em;

		span {
			font-family: 'nexa_light';
			font-size: 35px;
		}
	}

}