#p_my_adventures {
	min-height: 400px;
	background-color: $profile_overview_background_color;

	.my_adv_header {
		font-family: nexa_bold !important;
		color: $profile_box_header_font_color;
		font-size: 2.8em;

		.header_sub {
			font-family: cabin_regular;
			font-size: 0.5em;
			color: $white;
			margin-left: 10px;
		}
	}

	

}