#p_overview {
	min-height: 300px;
	padding: 25px 0;

	.panel {
		background: rgba(0,0,0,0.5);
		color: $white;
		border-color: $light_gray;
		min-height: 200px;

    .overview_header {
      font-family: 'nexa_light';
      font-size: 1.5em;
      color: $advlo_orange;
      text-align: center;
      border-bottom: 1px solid $advlo_orange;
    }

    .overview_content {
      margin-top: 5px;
      font-size: 1.3em;
      color: #FFF;
      text-align: center;
    }

		.box_header {
			font-family: $profile_box_header_font;
			color: #fff;
			font-size: 1.6em;
			margin-top: 5px;  
			margin-bottom: 5px; 

			span {
				word-wrap: break-word;
				font-family: 'nexa_light';
			}
		}

		.box_header_line {
			border: 1px solid $profile_box_header_font_color;
		}

		.msg_btn {
			font-size: 1.4em;
			width: 90%;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-top: 20px;
			margin-bottom: 20px;

			background-color: $login_btn_color;
			border-color: $login_btn_color;

			.fa {
				padding-top: 4px;
				padding-left: 5px;
			}

			&:hover {
				background-color: $login_btn_color_hover;
				border-color: $login_btn_color_hover;
			}
		}

		.box_social {
			.social_btn {
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 7px 0;
        font-size: 18px;
        line-height: 1.6;
        border-radius: 20px;
      }

      .fb {
        color: #FFF;
        background-color: #3B5998;
        border-color: #3B5998;

        &:hover {
          opacity: 0.8;
        }          
      }

      .twitter {
        color: #FFF;
        background-color: #30D8F0;
        border-color: #30D8F0;

        &:hover {
          opacity: 0.8;
        }
      }

      .ta {
        background-color: #589442;
        border-color: #589442;

        &:hover {
          opacity: 0.8;
        }

        svg {
        	fill: #FFF;
        }
      }
		}
	}

  #sign-in-modal {
    .sign-in-toggle {
      font-size: 1.2em !important;
    }

    .sign_in_form {
      .sign_in_btn {
        font-size: 1.2em !important;
      }
    }

    .fb_btn {
      font-size: 1.2em !important;
      margin-top: 15px !important;
    }
  }

  .sign_up_btn {
    font-size: 1.2em !important;
  }
}

#contact_host_modal {
	.contact_btn {
      margin-top: 20px;
      font-size: 1.8em;
      background-color: $login_btn_color;
      border-color: $login_btn_color;
      padding: 5px 15px;

      &:hover {
        background-color: $login_btn_color_hover;
        border-color: $login_btn_color_hover;
      }
    }

    .modal-dialog {
      margin: 75px auto 0 auto;
    }

    .modal-header {
      font-family: cabin_bold;
      color: $orange;
      font-size: 1.6em;
    }

    .modal-body {

      form {
      	.form-group{
      		margin-bottom: 10px;
      	}

        .form_label {
          padding-top: 5px;
          font-size: 1.2em;
          font-weight: bold;
          color: #FFF;
        }

        .checkbox-inline {
          color: #FFF;
        }
      }


    .existing_user {
      display: block;
      opacity: 0.7;
      font-size: 20px;
      margin: 10px auto 5px auto;
      color: #FFF;
      cursor: pointer;

      &:hover  {
        opacity: 1;
      }
    }
	}
}