#p_overview {
	min-height: 300px;
	padding: 25px 0;

	.panel {
		background-color: $profile_overview_box_color;
		color: $white;
		border-color: $profile_overview_box_color;
		@include border_radius(0px);
		min-height: 200px;

		li {
			list-style-type: none;
			padding: 20px 0;
		}

		.overview_item {
			font-family: 'nexa_light';
			font-size: 1.5em;
			color: $orange;
			span {
				color: #fff;
				font-family: cabin_regular;

			}
		}

		.overview_item_header {
			@extend .overview_item;
			color: $orange;
			font-family: 'nexa_light';

			.over_item_sub {
				font-family: cabin_regular;
				font-size: 0.8em;
				color: $white;
			}
		}

		.box_header {
			font-family: $profile_box_header_font;
			color: #fff;
			font-size: 1.6em;
			margin-top: 5px;  
			margin-bottom: 5px; 

			span {
				word-wrap: break-word;
				font-family: 'nexa_light';
			}
		}

		.box_header_line {
			border: 1px solid $profile_box_header_font_color;
		}

		.msg_btn {
			font-size: 1.4em;
			width: 90%;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-top: 20px;
			margin-bottom: 20px;

			background-color: $login_btn_color;
			border-color: $login_btn_color;

			.fa {
				padding-top: 4px;
				padding-right: 10px;
			}

			&:hover {
				background-color: $login_btn_color_hover;
				border-color: $login_btn_color_hover;
			}
		}

		.box_social {
			font-size: 1.4em;

			.disabled {
				opacity: 1;
			}

			.btn {
				width: 80%;
				text-align: left !important;
				margin-bottom: 5px;
			}

			.fa {
				width: 40px;
				margin-left: 20px;
				//font-size: 2.2em;
			}
		}
	}
}

#contact_host_modal {
	.contact_btn {
      margin-top: 20px;
      font-size: 1.8em;
      background-color: $login_btn_color;
      border-color: $login_btn_color;
      padding: 5px 15px;

      &:hover {
        background-color: $login_btn_color_hover;
        border-color: $login_btn_color_hover;
      }
    }

    .modal-dialog {
      margin: 75px auto 0 auto;
    }

    .modal-header {
      font-family: cabin_bold;
      color: $orange;
      font-size: 1.6em;
    }

    .modal-body {

      form {
      	.form-group{
      		margin-bottom: 10px;
      	}

        .form_label {
          padding-top: 5px;
          font-size: 1.2em;
          font-weight: bold;
          color: #FFF;
        }

        .checkbox-inline {
          color: #FFF;
        }
      }

      #contact_host_submitted {
        display: none;
        color: #FFF;
        font-size: 1.5em;
        margin-bottom: 20px;

        img {
          margin: 0px auto 15px auto;
          width: 150px;
          height: auto;
        }
      }
	}
}