#p_overview {
	min-height: 300px;
	padding: 25px 0;
  background-color: #333;

	.panel {
		border: none;
		min-height: 200px;
    background: transparent;

    .bio-panel {
      background: transparent;
      color: white;
      padding: 20px;
      padding-bottom: 40px;
    }

    .bio-panel-header {
      font-family: nexa_bold;
      color: #e56b2d;
      font-size: 2em;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
      padding-top: 20px;
      padding-bottom: 20px;
      letter-spacing: 1px;
    }

    .overview_header {
      font-family: 'nexa_light';
      font-weight: bold;
      font-size: 1.5em;
      color: $advlo_orange;
      text-align: center;
      border-top: 2px solid $advlo_orange;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .overview_content {
      margin-top: 5px;
      font-size: 1.2em;
      color: whitesmoke;
      text-align: center;
      padding-right: 200px;
      padding-left: 200px;
    }

		.box_header {
			font-family: $profile_box_header_font;
			color: #fff;
			font-size: 1.6em;
			margin-top: 5px;  
			margin-bottom: 5px; 

			span {
				word-wrap: break-word;
			}
		}

		.box_header_line {
			border: 1px solid $profile_box_header_font_color;
		}

		.msg_btn {
			font-size: 1.4em;
			width: 20%;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-top: 20px;
			margin-bottom: 20px;
      min-width: 250px;
      background-color: rgba(255,255,255,0.6);
      text-shadow: 1px 1px 2px rgba(0,0,0,0.45);
      color: #000;
      border: 1px solid rgba(255,255,255,0.6);

      &:hover {
        border: 1px solid rgba(255,255,255,0.2);
        background-color: rgba(0,0,0,0.45);
        text-shadow: 1px 1px 2px rgba(0,0,0,0.45);
        color: #fff;
      }
		}

		.box_social {
			.social_btn {
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 7px 0;
        font-size: 18px;
        line-height: 1.6;
        border-radius: 20px;
      }

      .fb {
        color: #FFF;
        background-color: #3B5998;
        border-color: #3B5998;

        &:hover {
          opacity: 0.8;
        }          
      }

      .twitter {
        color: #FFF;
        background-color: #30D8F0;
        border-color: #30D8F0;

        &:hover {
          opacity: 0.8;
        }
      }

      .ta {
        background-color: #589442;
        border-color: #589442;

        &:hover {
          opacity: 0.8;
        }

        svg {
        	fill: #FFF;
        }
      }
		}
	}

  #sign-in-modal {
    .sign-in-toggle {
      font-size: 1.2em !important;
    }

    .sign_in_form {
      .sign_in_btn {
        font-size: 1.2em !important;
      }
    }

    .fb_btn {
      font-size: 1.2em !important;
      margin-top: 15px !important;
    }
  }

  .sign_up_btn {
    font-size: 1.2em !important;
  }
}

#contact_host_modal {
	.contact_btn {
      margin-top: 20px;
      font-size: 1.8em;
      background-color: $login_btn_color;
      border-color: $login_btn_color;
      padding: 5px 15px;

      &:hover {
        background-color: $login_btn_color_hover;
        border-color: $login_btn_color_hover;
      }
    }

    .modal-dialog {
      margin: 75px auto 0 auto;
    }

    .modal-header {
      font-family: cabin_regular;
      color: #333;
      font-size: 1.6em;
      padding-left: 60px;
      padding-right: 60px;
    }

    .modal-body {

      form {
      	.form-group{
      		margin-bottom: 10px;
      	}

        .form_label {
          padding-top: 5px;
          font-size: 1.2em;
          font-weight: bold;
          color: #333;
        }

        .checkbox-inline {
          color: #FFF;
        }
      }


    .existing_user {
      display: block;
      opacity: 0.7;
      font-size: 20px;
      margin: 10px auto 5px auto;
      color: #333;
      cursor: pointer;

      &:hover  {
        opacity: 1;
      }
    }
	}
}

@media screen and (max-width: 1199px){
  #p_overview .panel .overview_content {
    font-size: 1.2em;
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media screen and (max-width: 800px){
  #p_overview .panel .overview_content {
    font-size: 1.1em;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 600px){
  #p_overview .panel .overview_content {
    font-size: 1.0em;
    padding-right: 12px;
    padding-left: 12px;
  }
}
