#p_reviews {
	min-height: 300px;
	color: $white;
	min-height: 260px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;

	.review_header {
		font-family: nexa_bold !important;
		color: $profile_box_header_font_color;
		font-size: 2.8em;
	}

	.no_reviews_text {
		font-family: nexa_light;
		color: $white;
		font-size: 0.6em;
	}
}
.review-button {
	margin-top: 20px;
}

.review-body {
	word-wrap: break-word;
}

.review-textinput {
	margin-top: 20px;
}