#p_reviews {
	min-height: 300px;
	color: $white;
	min-height: 260px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 20px;
	background-color: #000;

	.review_header {
		font-family: nexa_bold !important;
		color: $profile_box_header_font_color;
		font-size: 2.8em;
	}

	.no_reviews_text {
		font-family: nexa_light;
		font-weight: bold;
		color: #fff;
		font-size: 0.6em;
	}
}

#reviews_list {
	padding-top: 5px;
	padding-bottom: 15px;
}

.review-adventure-title {
	text-decoration: none !important;
}


#review-form {
	font-size: 0.7em;
	padding-bottom: 10px;

	.star-rating {
		cursor: pointer;

		.caption {
			margin-left: 5px;
			font-size: 0.7em;
		}
	}

	.review_comments {
		margin-top: 10px;

		textarea {
			margin-top: 10px;
		}
	}

	.rating-xs {
		font-size: 1em;
	}

	.review-button {
		margin-top: 20px;
	}

	.review-body {
		word-wrap: break-word;
	}

	.review-textinput {
		margin-top: 20px;
	}
}

