#reservation, #request_reservation {
  
  #cvv {
    width: 50px;
  }

  #adv-title {
    text-align: center;
    font-size: 30px;
    color: $advlo_orange;
    font-family: 'nexa_light';
  }

  #event-info {
    text-align: center;
    font-size: 20px;
    color: $advlo_orange;
    font-family: 'nexa_light';
    padding-bottom: 5px;
    border-bottom: 1px solid #FFF;
  }

  color: #fff;

  input {
    color: #000;
  }

  #success {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    display: none;
  }

  #success-detail {
    text-align: center;
    font-family: 'cabin_mediumitalic';
    font-size: 18px;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    display: none;
  }
  #advlo-logo{
    display: none;
    text-align: center;
    margin-top: 30px;
    img {
      height: 50px;
      width: auto;
      cursor: auto;
    }
  }

  #book-it-wrapper{
    text-align: center;
    #book-button {
      width: 32%;
      margin-top: 15px;
    }

    #request-book-button {
      @extend #book-button;
    }
  }

  .prefill_price_type {
    color: $orange;
    padding-top: 7px;
  }

  .prefill_price_type_request {
    color: $orange;
  }

  .request_reservation_disclaimer {
    margin-top: 10px;
    color: $orange;
  }
}

#stripe-error-message {
  font-family: 'nexa_light';
  color: red;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

#card-decline-error {
  @extend #stripe-error-message;
}

.security-credentials {
  position: relative;
  height: 65px;
  width: 100%;
  float: left;


  .logo {
    float: left;
  }

  .secure-payment {
    display: inline;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    top: -5px;
    letter-spacing: 1px;
  }
  .ssl-encryption {
    width: 400px;
    position: relative;
    margin-top: -6px;
    left: 20px;
    font-size: 12px;
    letter-spacing: 0.25px;
  }
}
.powered-by-stripe {
  width: 100px;
  float: right;
  position: absolute;
  left: 353px;
  top: 79px;

  img {
    height: 35px;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
}


@media only screen and (max-width: 991px) {
  .ui-timepicker-wrapper {
    width: 200px !important;
    left: none !important;
    right: 21px !important;
  }
}