#reservation {
  
  #cvv {
    width: 50px;
  }

  #adv-title {
    text-align: center;
    font-size: 30px;
    color: $advlo_orange;
    font-family: 'nexa_light';
  }

  #event-info {
    text-align: center;
    font-size: 20px;
    color: $advlo_orange;
    font-family: 'nexa_light';
    padding-bottom: 5px;
    border-bottom: 1px solid #FFF;
  }

  color: #fff;

  input {
    color: #000;
  }

  #success {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    display: none;
  }

  #success-detail {
    text-align: center;
    font-family: 'cabin_mediumitalic';
    font-size: 18px;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    display: none;
  }
  #advlo-logo{
    text-align: center;
    margin-top: 30px;
    img {
      height: 50px;
      width: auto;
      cursor: auto;
    }
  }

  #book-it-wrapper{
    text-align: center;
    #book-button {
      width: 32%;
      margin-top: 15px;
    }
  }
}

#stripe-error-message {
  font-family: 'nexa_light';
  color: red;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
