#reservation, #request_reservation {
  
  #cvv {
    width: 50px;
  }

  #adv-title {
    text-align: center;
    font-size: 30px;
    color: $advlo_orange;
    font-family: 'nexa_light';
  }

  #event-info {
    text-align: center;
    font-size: 20px;
    color: $advlo_orange;
    font-family: 'nexa_light';
    padding-bottom: 5px;
    border-bottom: 1px solid #FFF;
  }

  color: #fff;

  input {
    color: #000;
  }

  .secure-payment {
    background-color: $light_dark_gray;
    font-size: 1.1em;
    padding: 0 0 10px 0;
    margin-top: 10px;
    margin-bottom: 0px;

    .ssl-info {
      padding-top: 15px;
    }

    .fa {
      margin-right: 10px; 
    }

    .powered-by-stripe {
      margin: 10px auto 0 auto;
      width: 120px;

      img {
        cursor: default !important;
      }
    }
  }

  .accept-tos {
    position: relative;
    width: 30%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 5px;

    a {
      color: #fff;
    }
    &:hover {
      color: #fff;
      text-transform: underline;
    }
  }

  .cc_icon {
    padding-top: 5px;
    width: 40px;
    padding-right: 5px;
    float: left;

    img {
      cursor: default;
    }
  }

  #success {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    display: none;
  }

  #success-detail {
    text-align: center;
    font-family: 'cabin_mediumitalic';
    font-size: 18px;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    display: none;
  }
  #advlo-logo{
    display: none;
    text-align: center;
    margin-top: 30px;
    img {
      height: 50px;
      width: auto;
      cursor: auto;
    }
  }

  #book-it-wrapper{
    text-align: center;
    #book-button {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    #request-book-button {
      @extend #book-button;
    }
  }

  .prefill_price_type {
    color: $orange;
    padding-top: 7px;
  }

  .prefill_price_type_request {
    color: $orange;
  }

  .request_reservation_disclaimer {
    margin-top: 10px;
    color: $orange;
  }
}

#stripe-error-message {
  font-family: 'nexa_light';
  color: red;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

#card-decline-error {
  @extend #stripe-error-message;
}



@media only screen and (max-width: 600px) {
}


@media only screen and (max-width: 991px) {
  .ui-timepicker-wrapper {
    width: 200px !important;
    left: none !important;
    right: 21px !important;
  }
}