#adventure_slider {
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
	min-height: 400px;
	padding-top: 50px;
	padding-bottom: 30px;
	margin: 0 auto;
	background-color: $adv_slider_background_color;

	h1 {
		color: $adv_slider_font_color;
	}

	.small_text {
		text-decoration: none;
		color: #FFF;
	}

  .slider-container {
    width: 100%;
    position: relative;
    float: left;
    /* border: 1px solid black; */

    #next-slide {
      color: #fff;
      font-size: 4em;
      position: absolute;
      top: 45%;
      right: 3%;
      cursor: pointer;
    }
    #prev-slide {
      color: #fff;
      font-size: 4em;
      position: absolute;
      top: 45%;
      left: 3%;
      cursor: pointer;
    }
  }

  .swiper-slide {
    /* border: 1px solid black; */

    .square-wrapper{
      position: relative;
      width: 100%;
      height: 250px;
      top: 100px;
      overflow: hidden;    
      img {
        width: 100%;
      }
    }

    .copy {
      position: absolute;
      bottom: 75px;
      color: #fff;
    }
  }
}
