#adventure_slider {
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
	min-height: 400px;
	padding-top: 50px;
	padding-bottom: 30px;
	margin: 0 auto;
	background-color: $adv_slider_background_color;

	h1 {
		color: $adv_slider_font_color;
	}

	.small_text {
		text-decoration: none;
		color: #FFF;
	}

  .slider-container {
    width: 100%;
    position: relative;
    float: left;
    /* border: 1px solid black; */

    #next-slide {
      color: #fff;
      font-size: 4em;
      position: absolute;
      top: 45%;
      right: 3%;
      cursor: pointer;
    }
    #prev-slide {
      color: #fff;
      font-size: 4em;
      position: absolute;
      top: 45%;
      left: 3%;
      cursor: pointer;
    }
  }

  .swiper-slide {
    height: 375px;
    width: 375px;
    float: left;
    overflow: hidden;

    .image-hover {
      position: absolute;
      height: 309px;
      width: 375px;
      top: 85px;
      background: rgba(0, 0, 0, 0.75);
      z-index: 1;
      opacity: 0;
    }
    
    .image-wrapper {
      position: relative;
      height: 375px;
      width: 375px;
      top: 85px;
      border: 1.5px solid #000;

      .copy-block {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 65px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
      }
    }
  }
}
