<<<<<<< Updated upstream
#adventure_slider {
	min-height: 70vh;
	padding-top: 50px;
	padding-bottom: 30px;
	margin: 0 auto;
	background-color: $adv_slider_background_color;



	h1 {
		color: $adv_slider_font_color;
	}

	.small_text {
		color: #FFF;
	}
=======
.adventure-image {
  height: 325px; 
  width: 285px; 
  img {
    height: 100%;
    width: auto;
  }
>>>>>>> Stashed changes
}