.jumbotron {
  margin-bottom: 0px;
}

.jumbotron_fix {
	min-height: 625px;
	background-size: cover !important;
  margin-top: -75px;
}

.scroll-slow {
  position: absolute;
  width: 100%;
  top: 0px;

  #homepage-text {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 150px;
    color: #FFF;

    #adventure-local{
      font-family: bebas_neue;
      font-size: 6em;
      padding-top: 32px;
      letter-spacing: 3px;
      font-weight: bold;
    }

    #explanation {
      width: 45%;
      margin: 0 auto;
      font-size: 1.4em;
      margin-bottom: 15px;

      .small {
        font-size: 66%;
      }
    }

    #explore-btn {
      margin-top: 30px;
      border: none;
      background-color: rgba(255,118,49, 0.6);
      color: #FFF;
      border-radius: 6px;
      padding: 10px 20px;
      border: none;
      font-size: 17px;
      letter-spacing: 1px;
      font-weight: bold;

      &:hover {
        background-color: rgba(255,118,49, 0.4);
      }
    }
  }

  span.large_text {
  	font-family: nexa_bold;
  	color: #fff;
  	font-size: 4.6em;
  	text-shadow: -1px -1px 5px #000;
  	
  }
  span.small_text {
  	font-family: nexa_light;
  	color: $header_text_color;
  	font-size: 2.2em;
  	margin-left: 10px;
  	margin-right: 10px;
  	font-family: nexa_light;
  	text-shadow: -1px -1px 5px #000;
  }

  .medium_text {
  	@extend span.small_text;
  	font-size: 3.1em;
  }

  .explanation-row {
    margin-top: 50px;
    position: relative;
    float: left;
    width: 100%;

    #homepage-explore {
      margin-top: 20px;
      font-family: bebas_neue;
      font-weight: bold;
      font-size: 1.6em;
      padding: 11px 16px 7px 16px;
    }
    #homepage-explore-mobile {
      @extend #homepage-explore;
      display: none;
      width: 150px;
      margin: 0 auto;
    }

    .advlo-signup {
      position: relative;
      float: left;
      width: 100%;

      .homepage_fb_btn {
        margin-top: 25px;
        font-size: 1.6em;
        background-color: transparent;
        background: rgba(40, 94, 142, 0.8);
        padding: 15px 20px;
        font-family: 'bebas_neue_book';
        letter-spacing: 2px;
        width: 40%;
        max-width: 300px;
        min-width: 250px;
      }
      
      .homepage_email_btn, .sign_up_btn {
        border-radius: 3px;
        cursor: pointer;
        background-color: transparent;
        background: rgba(0, 0, 0, 0.3);

        background: rgba(195, 91, 38, 0.8);
        border-color: rgba(195, 91, 38, 1);
        border: 1px solid rgba(195, 91, 38, 1);
        margin: 0 auto;
        margin-top: 10px;

        height: 35px;
        color: #fff;
        font-family: 'bebas_neue_book';
        font-size: 17px;
        letter-spacing: 4px;
        padding-top: 5px;
        width: 40%;
        max-width: 300px;
        min-width: 250px;
      }

      .sign_up_btn {
        max-width: 300px;
        width: 100%;
        font-family: 'bebas_neue_book' !important;
        font-size: 17px;
      }
    }

    .homepage_login_form {
      display: none;
      opacity: 0.8;
      width: 40%;
      max-width: 300px;
      min-width: 250px;
      margin: 0 auto;
      margin-top: 15px;

      .sign_up_btn {
        max-width: 300px;
        min-width: 250px;
      }
    }
  }
}


@media screen and (max-width: 771px){
  .scroll-slow #homepage-text #explanation {
    width: 89%;
    margin: 0 auto;
  }

  .scroll-slow #homepage-text .logo img {
    height: 150px;
  }
}


@media screen and (max-width: 500px){
  .scroll-slow #homepage-text {
    position: relative;
    top: 20px;
    font-size: 75%;
  }

  #arrow-wrapper {
    margin-top: 25px;
  }

  .explanation-row {
    margin-top: 10px !important;
  }
  .scroll-slow #homepage-text #explanation {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .scroll-slow .explanation-row .advlo-signup .homepage_fb_btn {
    margin-top: 0px;
  }
  .scroll-slow {
    height: 700px;
  }
  .jumbotron_fix {
    min-height: 700px;
  }
}



#request_form_modal {
	.request_btn {
    margin-top: 20px;
    font-size: 1.8em;
    background-color: $login_btn_color;
    border-color: $login_btn_color;
    padding: 10px 20px;

    &:hover {
      background-color: $login_btn_color_hover;
      border-color: $login_btn_color_hover;
    }
  }

  .modal-dialog {
    margin: 75px auto 0 auto;
  }

  .modal-header {
    font-family: cabin_bold;
    color: $orange;
    font-size: 1.6em;
  }

  .modal-body {

    form {
    	.form-group{
    		margin-bottom: 10px;
    	}

      .form_label {
        padding-top: 5px;
        font-size: 1.2em;
        font-weight: bold;
        color: #FFF;
      }

      .checkbox-inline {
        color: #FFF;
      }

      .request_btn {
        margin-top: 10px;
        padding: 5px 15px;
      }
    }

    #request_submitted {
      display: none;
      color: #FFF;
      font-size: 1.8em;
      margin-bottom: 20px;

      img {
        margin: 0px auto;
        width: 200px;
        height: auto;
      }
    }
	}
}



@media screen and (max-width: 701px){

  .jumbotron_fix span.large_text {
    font-size: 2.4em !important;
  }
  .jumbotron_fix span.medium_text {
    font-size: 2.0em !important;
  }

  .jumbotron_fix span.small_text {
    font-size: 1.4em !important;
  }


  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar-nav {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 50px;
  }
}

@media screen and (max-width: 768px){

  .scroll-slow .explanation-row #homepage-explore-mobile {
    display: block !important;
  }

  .scroll-slow .explanation-row #homepage-explore {
    display: none;
  }

  .jumbotron_fix span.large_text {
    font-size: 2.8em !important;
  }
  .jumbotron_fix span.medium_text {
    font-size: 2.2em !important;
  }

  .jumbotron_fix span.small_text {
    font-size: 1.6em !important;
  }

  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar-nav {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 50px;
  }

  .scroll-slow #homepage-text #adventure-local {
    font-family: bebas_neue;
    font-size: 5.0em;
    padding-top: 0px;
    letter-spacing: 2px;
  }
}
