.jumbotron {
	margin-bottom: 0px;
}
.jumbotron_fix {
	margin-top: -80px;
	padding-top: 30vh;
	min-height: 85vh; //add js fix for style height on older browsers
	background-image: asset-url($banner_image);
	background-repeat: no-repeat;
	background-size: cover; 

	span.large_text {
		font-family: nexa_bold;
		color: #fff;
		font-size: 4.6em;
		text-shadow: -1px -1px 5px #000;
		
	}
	span.small_text {
		font-family: nexa_light;
		color: $header_text_color;
		font-size: 2.2em;
		margin-left: 10px;
		margin-right: 10px;
		font-family: nexa_light;
		text-shadow: -1px -1px 5px #000;
	}

	.medium_text {
		@extend span.small_text;
		font-size: 3.1em;
	}
}

.dropdown-toggle {
	position: absolute;
	left: 42%;
	right: 42%;
	text-align: center;
	width: 235px;
	margin-top: 75px;

	.header_btn_fix {
		background-color: $header_btn_color_hover;
		border-color: $header_btn_color_hover;
		font-size: 1.5em;
		width: 100%;
		padding: 12px 30px;

		&:hover {
			background-color: $header_btn_color;
			border-color: $advlo_orange;
		}

		&:active {
			background-color: $header_btn_color_hover;
			border-color: $header_btn_color_hover;
		}
	}
	

	.dropdown-box {
		width: 235px;
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 25px;
		margin: 0 auto;
		font-size: 20px;
		text-align: center;
		border-radius: 0 0 10px 10px;
		background: #000;
		opacity: 0.8;
		font-family: 'nexa_light';
		color: #fff;
		height: 95px;
		display: none;
		margin-top: -1px;

		a {
			width: 100%;
			color: #fff;
			text-decoration: none;
		}
		.option {
			cursor: pointer;
			float: left;
		}
		.option:hover{
			opacity: 0.6;
		}
	}
}



.profile_img {

}