.jumbotron_fix {
	margin-top: -80px;
	padding-top: 200px;
	min-height: 600px; //add js fix for style hight
	background-image: asset-url("background/banner_background.png",image);
	background-repeat: no-repeat;
	background-size: cover; 

	span.large_text {
		font-family: nexa_bold;
		color: $header_text_color;
		font-size: 4.6em;
	}
	span.small_text {
		font-family: nexa_light;
		color: $header_text_color;
		font-size: 2.2em;
		margin-left: 10px;
		margin-right: 10px;
	}

	.medium_text {
		@extend span.small_text;
		font-size: 3.1em;
	}
}

.header_btn_fix {
	margin-top: 50px;
	background-color: $header_btn_color;
	border-color: $header_btn_color;
	font-size: 1.0em;

	padding: 10px 20px;

	&:hover {
		background-color: $header_btn_color_hover;
		border-color: $header_btn_color_hover;
	}
}