#feat_advs {
	min-height: 400px;
	padding-bottom: 60px;
	margin: 0 auto;

  .row {
    .title {
      font-family: bebas_neue;
      font-size: 3.8em;
      color: #FFF;
      letter-spacing: 2px;
      font-weight: bold;
      margin-bottom: 35px;
      background-color: rgba(195, 91, 38, 0.7);
      border-top: 1px solid $lighter_gray;
      border-bottom: 1px solid $lighter_gray;
      padding-top: 10px;
    }
  }
}