#feat_advs {
	padding-bottom: 35px;
  background-color: rgba(0,0,0,0.5);

  .row {
    .title {
      font-family: nexa_light;
      font-weight: bold;
      font-size: 3.8em;
      color: #FFF;
      letter-spacing: 1px;
      font-weight: bold;
      padding-top: 10px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

.new_adventures {
  background-color: rgba(255,255,255,0.1) !important;
  padding-bottom: 90px !important;
}