#feat_hosts {
	padding-bottom: 35px;

	.title {
		font-family: bebas_neue;
		font-size: 3.8em;
		color: #FFF;
		letter-spacing: 2px;
		font-weight: bold;
		margin-bottom: 35px;
		background-color: rgba(195, 91, 38, 0.7);
		border-top: 1px solid $lighter_gray;
		border-bottom: 1px solid $lighter_gray;
		padding-top: 10px;
	}
}

.host_box {
	border: 1px solid $light_gray;
	border-radius: 2px;
	margin: 10px 0;
	background-color: rgba(0,0,0,0.7);
	width: 375px;
	height: auto;
	display: inline-block;
	margin-right: 15px;

	-moz-transition:-moz-transform 0.3s ease-in; 
	-webkit-transition:-webkit-transform 0.3s ease-in; 
	-o-transition:-o-transform 0.3s ease-in;

	&:nth-child(3n+3) {
		margin-right: 0px;
	}

	&:hover  {
		text-decoration: none;
		-moz-transform:scale(1.03); 
		-webkit-transform:scale(1.03);
		-o-transform:scale(1.03);
	}

	.row {
		margin: 0px;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	.host_image {
		height: 150px;
		width: 150px;
		border-radius: 50%;
		margin: 15px auto 0px auto;
		border: 1px solid $dark_gray;
		background-size: cover !important;
	}

	.host_name {
		margin-top: 10px;
		font-family: bebas_neue;
		letter-spacing: 2px;
		color: #FFF;
		font-size: 1.8em;
	}

	.border {
		margin: 5px auto;
		border: 1px solid $advlo_orange;
		width: 325px;
	}

	.host_tagline {
		padding-top: 10px;
		color: #FFF;
		font-size: 1.1em;
		font-style: italic;
	}		

	.host_category_circle {
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 7px;
		padding-top: 5px;
		width: 40px;
		height: 40px;
		display: inline-block;
		border-radius: 50%;
		background-color: rgba(105,153,103,0.7);
		background-size: contain !important;
		color: #FFF;
		font-family: bebas_neue_bold;
		font-size: 1.1em;
		letter-spacing: 2px;

		img {
			width: 30px;
			height: 30px;
		}
	}

	.host_adventures {
		padding-top: 5px;

		.adv_box_small {
			border-radius: 3px;
			display: inline-block;
			width: 92px;
			height: 55px;
			margin: 7px 11px 0px 11px;
			background-size: cover !important;
			text-decoration: none;
			-moz-transition:-moz-transform 0.3s ease-in; 
			-webkit-transition:-webkit-transform 0.3s ease-in; 
			-o-transition:-o-transform 0.3s ease-in;

			&:hover {
				text-decoration: none;
				-moz-transform:scale(1.1); 
				-webkit-transform:scale(1.1);
				-o-transform:scale(1.1);
			}
		}

		.adv_box_large {
			@extend .adv_box_small;
			width: 105px;
			height: 75px;
			margin: 30px 11px 0px 11px;
		}


	}

	.host_location {
		padding-top: 5px;
		font-family: bebas_neue;
		font-size: 1.4em;
		letter-spacing: 2px;
		color: #FFF;
		background-color: rgba(105,153,103,0.8);

		.fa {
			margin-right: 5px;
		}
	}

	.host_contact_btn {
		width: 100%;
		font-family: bebas_neue_bold;
		font-size: 1.4em;
		letter-spacing: 2px;
		border-radius: 0px;
		padding-top: 5px;
		padding-bottom: 0px;
		border: none;

		&:hover {
			border: none;
		}

		.contact_text {
			margin-left: -20px
		}

		.fa {
			font-size: 0.9em;
			padding-top: 2px;
		}
	}
}

/* mobile */
@media screen and (max-width: 500px){ 
	.host_container {
		
	}

	.host_container .host_image {
		
	}
}

/* tablet */
@media screen and (min-width: 501px) and (max-width: 800px) { 
	.host_container {
		
	}

	.host_container .host_image {
		
	}
}