#feat_hosts {
	padding-top: 15px;
	padding-bottom: 15px;

	h1 {
		font-family: bebas_neue !important;
    font-size: 2.8em;
    font-weight: bold;
    letter-spacing: 2px;
	}
}

.host_container {
	border: 1px solid $light_gray;
	border-radius: 2px;
	margin: 10px 0;
	background-color: rgba(0,0,0,0.7);

	-moz-transition:-moz-transform 0.3s ease-in; 
	-webkit-transition:-webkit-transform 0.3s ease-in; 
	-o-transition:-o-transform 0.3s ease-in;

	&:hover  {
		text-decoration: none;
		-moz-transform:scale(1.03); 
		-webkit-transform:scale(1.03);
		-o-transform:scale(1.03);
	}

	.no_padding_right {
		padding-right: 0px;
	}

	.no_padding_left {
		padding-left: 0px;
	}

	.host_image {
		height: 153px;
		background-size: cover !important;
	}

	.host_name {
		background-color: rgba(195, 91, 38,0.8);
		padding-top: 5px;
		font-family: bebas_neue;
		letter-spacing: 2px;
		color: #FFF;
		font-size: 1.2em;
	}

	.host_tagline {
		padding-top: 10px;
		color: #FFF;
		font-size: 1.1em;
		font-style: italic;
	}

	.host_bio {
		@extend .host_tagline;
		font-size: 0.9em;
		font-style: normal;

		a {
			font-family: bebas_neue;
			letter-spacing: 2px;
		}
	}		

	.host_category_circle {
		margin-top: 10px;
		margin-right: 7px;
		padding-top: 11px;
		padding-left: 3px;
		width: 40px;
		height: 40px;
		display: inline-block;
		border-radius: 50%;
		background-color: rgba(105,153,103,0.7);
		color: #FFF;
		font-family: bebas_neue_bold;
		font-size: 1.1em;
		letter-spacing: 2px;
	}

	.host_adventures {
		padding-bottom: 10px;

		.adv_box {
			border-radius: 3px;
			display: inline-block;
			width: 95px;
			height: 65px;
			margin: 12px 10px 0px 10px;
			background-size: cover !important;
			text-decoration: none;
			-moz-transition:-moz-transform 0.3s ease-in; 
			-webkit-transition:-webkit-transform 0.3s ease-in; 
			-o-transition:-o-transform 0.3s ease-in;

			&:hover {
				text-decoration: none;
				-moz-transform:scale(1.1); 
				-webkit-transform:scale(1.1);
				-o-transform:scale(1.1);
			}
		}


	}

	.host_location {
		padding-top: 5px;
		font-family: bebas_neue;
		font-size: 1.2em;
		letter-spacing: 2px;
		color: #FFF;
		background-color: rgba(105,153,103,0.8);

		.fa {
			margin-right: 5px;
		}
	}

	.host_contact_btn {
		width: 100%;
		font-family: bebas_neue;
		font-size: 1.2em;
		letter-spacing: 2px;
		border-radius: 0px;
		padding-top: 5px;
		padding-bottom: 0px;
		border: none;

		&:hover {
			border: none;
		}

		.fa {
			font-size: 0.9em;
			padding-top: 2px;
			margin-left: 20px;
		}
	}

}