.host-slider {
  height: 425px !important;
  .swiper-wrapper {
    height: 425px !important;

    .swiper-slide {
      height: 425px !important;
    

    	.slide-content {
    		margin-left: 10px;
    		margin-right: 10px;
    		height: 100%;
				width: 100%;
				float: left;
	    	background: rgba(0,0,0, 0.5);

	    	.host-circle-image {
		    	height: 225px;
		    	border-radius: 50%;
		    	width: 225px;
		    	margin: 0 auto;
		    	margin-top: 25px;
	    	}

	    	.host-copy {
          position: relative;
          width: 80%;
          margin: 0 auto;
          text-align: center;
          margin-top: 15px;
          line-height: 30px;
          color: #fff;

          .host-name {
            font-size: 20px;
            text-transform: uppercase;
            color: gray
          }
          .host-description {
            font-size: 18px;
            text-transform: capitalize;
            font-style: italic;
          }
          .host-location {
            color: #fff;
            font-size: 22px;
            text-transform: capitalize;
          }	    		
	    	}
    	}
      .slide-content:hover{
        color: #fff;
        text-transform: none;
        text-decoration: none;
        opacity: 0.9;
      }
    }
  }
}

