.host-slider {
  .swiper-wrapper {
    .swiper-slide {

    	.slide-content {
    		margin-left: 10px;
    		margin-right: 10px;
    		height: 100%;
				width: 100%;
				float: left;
	    	background: rgba(0,0,0, 0.5);

	    	.host-circle-image {
		    	height: 225px;
		    	border-radius: 50%;
		    	width: 225px;
		    	margin: 0 auto;
		    	margin-top: 25px;
	    	}
    	}
    }
  }
}

