.host-slider {
  .swiper-wrapper {
    .swiper-slide {
	    text-decoration: none;
      .image-wrapper {
				border-radius: 50%;
				border: none;

				.copy {
					left: 0;
					position: relative;
					top: 60%;
					width: 60%;
					margin: 0 auto;
					text-align: center;
					height: 100px;
					background-color: rgba(0, 0, 0, 0.45);


					.name {
						font-size: 25px;
						text-transform: capitalize;
						color: #E06B30;
					}
					.location {
						color: #fff;
						font-size: 15px;
						font-weight: bold;
					}
					.desc {
						color: #699967;
						font-size: 14px;
						font-style: italic;
						font-weight: bold;
					}
				}
      }            
    }
  }
}

