#how_it_works {
	min-height: 375px;
	padding-top: 30px;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	float: left;
	background-color: #fff;

	.row {
		width: 75%;
		margin: 0 auto;

		a {
			text-decoration: none;
			width: 255px !important;

			&:hover {

			}

			.large_text {
				color: #000;
				font-size: 5em;
				font-family: 'nexa_light';
			}

			.small_text {
				@extend .large_text;
				font-size: 1.6em;
				line-height: 0.3em;
			}

			.find_icon {
				background-image: asset-url($find_icon);
				background-repeat: no-repeat;
				background-size: cover;
				height: 222px;
				width: 217px;
				margin: 0 auto;
			}

			.host_icon {
				@extend .find_icon;
				background-image: asset-url($host_icon);
			}

			.request_icon {
				@extend .find_icon;
				background-image: asset-url($request_icon);
			}
		}
	}
}