- set_meta_tags(default_meta_tags)

.col-md-6
  %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form"}
    =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
    =tag(:input, :type => "hidden", :name => 'mid_purchase', value: true)
    =tag(:input, :type => "hidden", :name => 'adventure_id', value: adventure.id )

    .form-group
      %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
    .form-group
      %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]"}
    .form-group
      %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", id: "user_password_confirmation", name: "user[password_confirmation]"}
    %input.btn.btn-primary.sign_up_btn{name: "sign_up", type: "submit", value: "Sign Up"}
    %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
      %i.fa.fa-facebook
      Sign Up with Facebook

:javascript
  fb_conversation_sign_up();

.fb_pixel