.password-reset-container
  %h2 Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      %input.form-control{id: 'user_password', name: 'user[password]', autofocus: true, autocomplete: "off", placeholder: "password", type: "password" }
  
    .form-group
      %input.form-control{id: 'user_password_confirmation', name: 'user[password_confiration]', autofocus: true, autocomplete: "off", placeholder: "password confirmation", type: "password" }

    %input.btn.btn-primary.navbar-btn{type: 'submit'} 
    
