#footer
  .container.text-center
    .footer_text
      .col-md-3
        %a{href:"http://www.facebook.com/advlo", target: "_blank"}
          %i.fa.fa-facebook
        %a{href:"http://www.twitter.com/advlo_", target: "_blank"}
          %i.fa.fa-twitter
        %a{href:"http://www.instagram.com/advlo", target: "_blank"}
          %i.fa.fa-instagram
      .col-md-1
      .col-md-4
        %a{href: "#", 'data-toggle' => "modal", 'data-target' => '#contact_form_modal'}
          CONTACT US
        .dash= " - " 
        %a{href: "http://blog.advlo.com/", target: "_blank"}
          BLOG
        .dash= " - " 
        %a{href: "/terms"}
          TERMS & PRIVACY

  #signup-please-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "signup-please-modal", role: "dialog"}
    .modal-dialog
      .modal-content
        %button.close{:type => "button"}
          %span{"aria-hidden" => "true", "aria-labelledby" => "signup-please-modal"} ×
          %span.sr-only Close

        .modal-body.text-center
          %h1 Hey Newcomer
          #network
            %h4 We would love for you to join our network of global adventure travelers.
          %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form", id: 'signup_modal'}
            =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)

            .form-group
              %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
            .form-group
              %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]"}
            .form-group
              %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", id: "user_password_confirmation", name: "user[password_confirmation]"}
            .row
              %input.btn.btn-success.sign_up_btn{name: "sign_up", type: "submit", value: "Sign Up"}
            %hr
            .row
              %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
                %i.fa.fa-facebook
                Sign Up with Facebook


  #contact_form_modal.modal.fade{role: "dialog"}
    .modal-dialog
      .modal-content
        .modal-header.text-center
          Contact Advlo
        .modal-body
          %form{"accept-charset" => "UTF-8", action: "/contact", method: "POST", id: "contact_form", "data-remote" => "true"}
            = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
            - if current_user
              = tag(:input, :type => "hidden", :name => "contact[user_id]", :value => current_user.id)

            .form-group.row
              .col-md-4 
                .form_label.text-right Email *
              .col-md-6
                %input.form-control{type: "text", name: "contact[email]", id: "contact_email", class: "email-field", value: current_user ? current_user.email : ''}

            .form-group.row
              .col-md-4 
                .form_label.text-right Comments / Question *
              .col-md-6
                %textarea.form-control{rows: "7", type: "text", name: "contact[comments]", id: "contact_comments"}
            .row.text-center
              .btn.btn-primary.contact_btn
                SUBMIT
          #contact_submitted
            .row.text-center
              .col-md-10.col-md-offset-1
                %i.fa.fa-envelope-o
                %p{style: 'font-size: 20px;'}
                  %br
                  Thanks for reaching out to us.
                  %br
                  We will get back to you as soon as we can!

  %a{href: "https://docs.google.com/forms/d/1odIOqaUmiIyHXSGKU7iPTFtpOJM2GC2Y60AAKPSrHqA/viewform?usp=send_form", target: "_blank"}
    #feedback-button 
      #text
        FEEDBACK

:javascript
  $('#contact_form .contact_btn').click(function() {
    $('#contact_form').submit();
  })
              
