.mobile-header-container
  #mobile-toggle-button
    .icon-bar
    .icon-bar
    .icon-bar


#mobile-navbar
  = render partial: 'mobile_header'
#clickout

- if current_user
  = render partial: 'logged_in_header'
- else
  = render partial: 'logged_out_header'


:javascript 
  var $container = $('#locations-menu');
  var loaded = 0;

  $('html').click(function(e){
    if ((e.target.id && e.target.id == "find-adventures") || e.target.id == "homepage-explore") {
      if (e.target.id == "homepage-explore") {
        $('#find-adventures').click();
      }

      return;
    }
    else {
      $('#locations-menu-wrapper').hide()
    }
  })

  $('#find-adventures').click(function(){
    $('#locations-menu-wrapper').toggle()

    // initialize
    if(loaded == 0){
      loaded = 1
      $container.masonry({
        itemSelector: '.main-location'
      });
    }
  })