-# Navigation Header
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"}
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.nav_center
        %li
          %a.adventure_margin{href: "#"} ADVENTURE
        %li
          %a{href: "#"} HOST
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            -#Conditional Login show
            - if current_user
              image_tag '#{current_user.avatar_url}', :class => "img-circle profile_img"
              #{current_user.name}
            - else
              LOGIN
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li.divider
            %li
              %a{href: "#"} Separated link
    / /.navbar-collapse
  / /.container-fluid


-# .advlo_logo= link_to (image_tag 'advlo_horiz_V3.png'), '/'
<br><br><br><br>
/- if current_user
/  .account-page= link_to "hello #{current_user.email}", edit_user_registration_path
/  .logout-link= link_to 'Sign out', destroy_user_session_path, method: :delete
/- else
/  .login_item#login= link_to "Login", new_user_session_path, method: :get
/  .login_item#facebook= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
/  .login_item#signup= link_to "Sign up", new_user_registration_path
