#adventure_create {
	padding-top: 100px;

	.container {

		.panel {

			.panel-heading {
				font-size: 1.6em;
				background-color: #FFF;


				.nav {
					padding-left: 40px;
				}
			}

			.section_header {
				font-size: 2.2em;
			}

			.create_steps_header {
				border: none;
			}

			.fa {
				padding-top: 15px;
				padding-left: 15px;
				padding-right: 15px;
				color: $light_gray;
			}


			.form_label {
				padding-top: 5px;
				font-size: 1.2em;
				font-weight: bold;
			}

			.radio-inline {
				padding-top: 8px;
			}


			.panel-footer {
				background-color: $white;

				.preview_btn {
					font-size: 1.8em;
					background-color: $login_btn_color;
					border-color: $login_btn_color;
					padding: 10px 20px;

					&:hover {
						background-color: $login_btn_color_hover;
						border-color: $login_btn_color_hover;
					}
				}
			}
		}
	}

	//PHOTOS
	#adv_photos {

		.panel {
			.panel-body {
				min-height: 500px;
			}

		}

		.bootstrap-filestyle {
			margin: 10px auto 0px auto;

			.btn {
				font-size: 1.2em;
				padding: 10px 30px;

				&:hover {

				}
			}
		}

		.divider {
			border: 1px solid $lighter_gray;
			margin: 20px 0;
		}

		img {
			margin: 0px auto;
		}

		.img_del_btn {
			margin-top: 5px;
			margin-bottom: 15px;
			padding: 5px 10px 5px 10px;
			background-color: $login_btn_color;
			border-color: $login_btn_color;

			.fa {
				padding: 0px;
				color: $white;
				font-size: 1.4em;
			}

			&:hover {
				background-color: $login_btn_color_hover;
				border-color: $login_btn_color_hover;;
			}
		}

	}
}