#adventure_create {
	padding-top: 100px;

	.container {

		.panel {

			.panel-heading {
				font-size: 1.6em;
				background-color: #FFF;


				.nav {
					padding-left: 70px;
				}
			}

			.fa {
				padding-top: 15px;
				padding-left: 15px;
				padding-right: 15px;
				color: $light_gray;
			}

			//FORM FORMATTING
			.panel {
				margin-top: 20px;
				border-color: #FFF;

				.panel-heading {
					font-size: 2.2em;
				}


				.form_label {
					padding-top: 5px;
					font-size: 1.2em;
					font-weight: bold;
				}

				.radio-inline {
					padding-top: 8px;
				}

				.panel-body {
					padding-top: 25px;
					padding-bottom: 25px;

					.bootstrap-filestyle {
						margin: 0px auto;

						.btn {
							font-size: 1.2em;
							padding: 10px 30px;

							&:hover {

							}
						}
					}

					.divider {
						border: 1px solid $lighter_gray;
						margin: 20px 0;
					}

				}
			}


			.panel-footer {
				background-color: $white;

				.preview_btn {
					font-size: 1.8em;
					background-color: $login_btn_color;
					border-color: $login_btn_color;
					padding: 10px 20px;

					&:hover {
						background-color: $login_btn_color_hover;
						border-color: $login_btn_color_hover;
					}
				}
			}

		}

	}
}