
#find {

  .dark_background {
      background-color: #f1f1f1;
  }

  .search_options {
    height: 600px;
    padding-top: 200px;
  .orange_btn{
    border-color: $advlo_orange;
    background-color: $advlo_orange;
    width: 92%;
    font-size: 1.8em;
    padding-top: 18px;
    padding-bottom: 15px;
    font-family: bebas_neue;
    letter-spacing: 2px;

    &:hover {
      border-color: $orange;
      background-color: $orange;
    }

    .fa {
      margin-right: 7px;
    }
  }

  .search_title{
    font-family: proxima_regular;
    font-size: 2.4em;
    color: #fff;
    text-align: left;
    max-width: 600px;
    margin: auto;
    letter-spacing: -2px;
  }

  .input-group-addon {
    background-color: rgba(195,91,38,0.7);
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    width: 160px;
    margin: auto !important;
    margin-top: 24px !important;
    display: block !important;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    
    &:hover {
      color: #FFF;
      background-color: rgba(0,0,0,0.7);
    }
  }

  .active {
    border-color: $orange;
    background-color: $orange;
  }

  .show_me_header {
    font-family: bebas_neue;
    font-size: 1.4em;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: $orange;
    text-decoration: underline;
    margin-top: 25px;
  }

  .show_me_select_btn {
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #fff;
    color: #FFF;
    font-family: proxima_bold;
    letter-spacing: 0.5px;
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 5px;
    background: none;
    border-radius: 0px;
    width: 92px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;

    &:hover{
      background: rgba(195, 91, 38, 1);
      border: 2px solid transparent;
    }
  }

  .show_me_select_btn.active {
    background-color: rgba(195,91,38,0.7);
    border: 2px solid #fff;
  }

  #find_adventure_form {
    margin-top: 24px;

    .input-group{
      display: block;
    }

    #location {
      height: 50px;
      background-color: rgba(255,255,255,0.15);
      border: none;
      box-shadow: none;
      border-radius: 0px;
      font-size: 22px;
      color: #FFF;
      text-align: center;
      padding: 0;
      border-radius: 0px;
      margin-bottom: 32px;
    }
  }

  #find_adventure_activity_form {
      display: none;
          border-radius: 3px;
          background-color: rgba(0,0,0,0.3);
          margin-top: 35px;
          padding: 10px 15px;

          .checkbox-inline {
              margin-left: 0;
          margin-right: 15px;
          color: #FFF;
          opacity: 0.7;
          font-family: cabin_bold;
          letter-spacing: 2px;
          font-size: 1.1em;
          padding-top: 10px;
          }

          .checkbox-inline:last-child {
              margin-right: 0;
          }

          .search_btn {
              margin-top: 15px;
              margin-bottom: 10px; 
              font-family: bebas_neue;
        font-size: 1em;
        letter-spacing: 2px;
        padding-top: 7px;
        padding-bottom: 3px;

        .fa {
          margin-right: 5px;
        }
          }
  }

  }

  .search_results {
      padding-bottom: 40px;
      min-height: 500px;

      .header {
          font-family: bebas_neue;
    font-size: 2.8em;
    letter-spacing: 2px;
    padding-top: 25px;
    margin-bottom: 5px;
    color: $orange;
    text-decoration: underline;
      }

      .no_results {
          display: none;
          border-radius: 3px;
          background-color: rgba(0,0,0,0.3);
          font-family: cabin_bold;
    font-size: 2em;
    letter-spacing: 2px;
    font-style: italic;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;

    .location {
      font-size: 0.8em;
      opacity: 0.7;
    }
      }

      .begin_search {
          @extend .no_results;
          display: block;
      }

      .location_filter {
          border-radius: 3px;
          background-color: transparent;
          padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;

    .filter_header {
      font-family: proxima_bold;
        font-size: 1.6em;
        letter-spacing: 2px;
        margin-bottom: 24px;
        color: $orange;
    }

    .filter_select_btn {
      background-color: rgba(0,0,0,0.5);
      border: 2px solid #000;
      color: #000;
      font-size: 0.9em;
      margin-right: 5px;
      margin-bottom: 5px;
      background: none;
      font-family: proxima_bold;
      letter-spacing: 0.5px;
      border-radius: 0px;
      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;

      &:hover{
        border: 2px solid #fff;
        background: rgba(0,0,0,0.25);
      }
    }

    .active {
      background-color: rgba(195,91,38,0.7);
      border-color: rgba(195,91,38,0.7);
      color: #fff;
    }

      }

      .local_filter {
          @extend .location_filter;
      }

      .adventure-container {
      margin: 15px auto;
      width: 95%;

      .brick-wrapper{
        position: relative;
        margin: 0 auto;

        .adventure-brick {
          height: 300px;
          width: 375px;
          float: left;
          overflow: hidden;
          margin-top: 10px;
          margin-right: 5px;
          margin-left: 5px;
          background-color: #000;

          #no-adventures {
            text-align: center;
            img {
              width: 100%;
              margin-top: -13%;
            }
          }

          #no-adv-text {
            position: relative;
            margin-top: -135px;
            text-align: center;
            color: #000;
            font-family: 'nexa_light';
            font-size: 20px;
          }
          
          .guide-image {
            position: absolute;
            bottom: 12px;
            right: 8px;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 1001;
            border: 2px solid #fff;

            .image-wrapper {
              background-size: cover !important;
              height: 100% !important;
              width: auto !important;
              border-radius: 50% !important;
            }
          }
          
          .image-wrapper {
            position: relative;
            height: 300px;
            width: 375px;
            margin: 0 auto;

            .copy{
              font-size: 14px;
              background: rgba(255,255,255,0.9);
              bottom: 0px;
              position: absolute;
              z-index: 100;
              font-family: proxima_black;
              text-align: left;
              width: 100%;
              padding-left: 12px;
              padding-top: 4px;
              padding-bottom: 4px;


              .title {
                font-size: 17px;
              }


              .location {
                color: #C35B26;
                text-transform: lowercase;
              }

              .rating-xs {
                font-size: 0.9em;
                padding: 0px !important;
              }

              .rating-disabled {
                cursor: pointer !important;
              }
            }

            .per_adventure_btn {
              position: absolute;
              bottom: 12px;
              right: 55px;
              font-size: 8px;
              z-index: 100;
              padding: 2px 4px;
              opacity: 0.8;
              background-color: $advlo_orange;
              border-color: $advlo_orange;
            }

            .days_duration_btn {
              font-family: proxima_bold;
              line-height: 14px;
              position: absolute;
              top: 32px;
              right: 0px;
              font-size: 12px;
              z-index: 100;
              padding: 4px 4px 4px 7px;
              width: 57px;
              height: 32px;
              border-radius: 0px;
              background-color: $advlo_orange;
              border-color: $advlo_orange;
              line-height: 12px;
              opacity: 1;
            }

            .price {
              font-family: proxima_regular;
              position: absolute;
              top: 180px;
              font-size: 22px;
              z-index: 10;
              opacity: 1;
              color: #fff;
              letter-spacing: -2px;
              background: rgba(0,0,0,0.5);
              border-radius: 0px;
              padding: 2px;
              padding-right: 8px;
            }
          }
        }
        .hover-block {
          position: absolute;
          width: 100%;
          height: 225px;
          background: rgba(0, 0, 0, 0.75);
          display: none;
        }
        .copy-container {
          position: absolute;
          bottom: 0px;
          height: 75px;
          background: rgba(0, 0, 0, 0.75);
          width: 100%;
        }
        .user-show-copy-container {
          position: absolute;
          bottom: 0px;
          height: 75px;
          background: rgba(0, 0, 0, 0.75);
          width: 100%;
        }
      }
    }
  }
}

/* google geocomplete css */
.pac-container {
  font-family: cabin_regular !important;
  background: rgba(0,0,0,0.7);

  .pac-item {
    font-size: 1.2em;
    color: #FFF;
    padding: 5px 15px;

    &:hover {
      background-color: $advlo_orange;
    }
  }

  .pac-matched {
    font-size: 1em;
    color: #FFF;
  }

  .pac-item-query {
    font-size: 1em;
    color: #FFF;
  }

  .pac-icon {
    display: none;
  }
}

/* tablet */
@media screen and (min-width: 501px) and (max-width: 800px){ 
    #find {
        .search_options {
            .or {
                margin-bottom: 10px;
            }
        }
    }
}

/* mobile */
@media screen and (max-width: 500px){ 
    #find {
        .search_options {
            .or {
                margin-bottom: 10px;
            }
        }
    }

  #find .search_results .adventure-container .brick-wrapper .adventure-brick .image-wrapper .copy .title {
    font-size: 14px;
  }
}