#adventure_info {
  position: relative;
  padding-top: 80px;


  #host-signup-bottom {
    background-image: asset-url("background/advlo_beach.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    float: left;
    width: 100%;
    min-height: 150px;
  }
  
  .adv_info_btn {
    margin-top: 40px;
    font-size: 1.6em;
    background-color: transparent;
    background: rgba(0,0,0,0.2);
    border-color: $login_btn_color;
    padding: 15px 20px;
    border: 5px solid $orange;

    &:hover {
      border-color: $advlo_orange;
    }
  }

  .invited-by {
    font-size: 22px;
    color: #fff;
    text-shadow: 3px 3px 4px #000;
  }

  .jumbotron {
    min-height: 450px;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	margin-top: -25px;
    min-height: 500px;

  	.host_info_text {
      text-shadow: -1px -1px 5px #000;
  		margin-top: 7%;
  		font-size: 2.8em;
  		color: #FFF;
  	}
  }

  .adventure_info_body {

    .price-title {
      font-size: 2.5em !important;
      margin-top: 0px !important;
    }

    .border {
      border-top: 2px solid $light_gray;
    }

    .video-container {
      background-image: asset-url("background/advlo_beach.png");
      padding-bottom: 45px; 
      padding-top: 5px; 
      background-size: cover !important; 
      background-position: center center; 
      background-repeat: no-repeat;
    }

  	.gray_background {
  		background: transparent;
  	}

    .embed-container { 
      position: relative; 
      padding-bottom: 40.25%; 
      height: 0; 
      overflow: hidden; 
      max-width: 71%; 
      height: auto; 
      margin: 20px auto;
    } 

    .embed-container iframe, .embed-container object, .embed-container embed { 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
    }

  	.white_background {
  		background: rgba(0,0,0,0.5);
      border-top: 2px solid $light_gray;
      padding-bottom: 20px;
  	}

  	h2 {
  		margin-top: 30px;
  		font-family: cabin_bold !important;
  		font-size: 3.2em;
      text-align: center;
      color: white;
  	}

  	.body_content {
  		font-size: 1.6em;
      padding-bottom: 20px;
  		padding-top: 20px;
      color: white;
      opacity: 0.8;
      text-align: center;

      .why-container {
        margin: 10px;
        color: #fff;
        letter-spacing: 2px;
      }
  	}

  	.body_list {
  		font-size: 0.8em !important;
  	}

    .access-block {
      width: 20%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      float: left;

      .matrix_header {
        text-align: left;
        
        .fa {
          margin-right: 8px;
        }

        .fa-mobile {
          font-size: 1.3em;
        }
      }

      .matrix_content {
        text-align: left;
        width: 95%;
      }
    }

    .with_membership_features {
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 25px;
      border: 1px solid #FFF;
      border-radius: 10px;
      padding-top: 25px;
      background: rgba(0,0,0,0.4);
    }

    .host_header {
      font-family: 'nexa_light';
      font-weight: bold;
      font-size: 3em;
      letter-spacing: 3px;
      margin-top: 35px;
      margin-bottom: 5px;
      margin-right: 35px;
      margin-left: 35px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;

    }

    .host_sub_header {
      font-family: 'nexa_light';
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.4em;
      color: #fff;
      margin-bottom: 10px;
    }

    .host_type {
      font-size: 22px;
      color: #fff;
      width: 70%;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 0 auto;
      font-family: 'cabin_regular';
    }

    .adv-info-wrapper {
      position: relative;
      width: 30%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-top: 30px;
      margin-bottom: 30px;
      float: left;
      .copy {
        left: 0px;
        width: 100%;
        text-align: center;
      }

      .adventure-brick {
        height: 300px;
        width: 375px;
        float: none;
        overflow: hidden;
        margin-top: 10px;
        background-color: #000;
        margin: 0 auto;
      }

      .view-profile {
        text-align: center;
        margin-top: 21px;
        font-family: bebas_neue_book;
        font-size: 20px;
        letter-spacing: 2px;

        a {
          color: #fff;
          text-decoration: underline;
        }
        a:hover {
          opacity: 0.75;
        }
      }
    }


    .hosting_info_itineraries {
      margin-bottom: 50px;
      margin-top: 10px;
      .fa {
        margin-top: 4px;
      }
    }

    .pricing-row {
      background: rgba(0, 0, 0, 0.6);
    }

  	.matrix_header {
  		font-family: bebas_neue;
  		font-size: 1.5em;
      letter-spacing: 2px;
  		margin-top: 15px;
  		margin-bottom: 5px;
      text-align: center;
      border-bottom: 1px solid $advlo_orange;
      color: $orange;
  	}

    .or_text {
      font-family: bebas_neue_book;
      font-size: 2.8em;
      color: $advlo_orange;
      letter-spacing: 3px;
      margin-top: 70px;
    }

  	.matrix_content {
  		font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: white;
      opacity: 1;
      text-align: center;
      min-height: 120px;

      .display_percent {
        font-size: 2.6em;
      }
  	}
  }
}
@media screen and (max-width: 1210px){
  #adventure_info .adventure_info_body .adv-info-wrapper {
    width: 100%;
  }
}


@media screen and (max-width: 800px){
  .matrix_content {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
    min-height: 0px !important;
  }

  .or_text {
    margin-top: 10px !important;
  }

  #adventure_info .adventure_info_body .video-container { 
    padding-top: 10px;
    padding-bottom: 10px;

    .host_header {
      display: none;
    }
  }
  #adventure_info .adventure_info_body .host_header {
    font-size: 2em;
  }
}

.access-block-membership {
  margin-right: 9% !important;
}

@media screen and (max-width: 991px){
  #adventure_info .adventure_info_body .access-block {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
  }

  #adventure_info .adventure_info_body .access-block-membership {
    margin-right: 0%;
    width: 75% !important;
  }
}


@media screen and (max-width: 675px){
  
  #adventure_info .adventure_info_body .host_type {
    width: 92%;
  }

	#adventure_info {
	  .host_info_text {
	  		font-size: 2.2em !important;
	  }
	}

  #adventure_info {
    .adv_info_btn {
      margin-left: -17px;
    }
  }

  #adventure_info .jumbotron .host_info_text {
    font-size: 1.5em !important;
  }

  .adventure-container .brick-wrapper .adventure-brick {
    margin: 10px;
  }
}


@media screen and (max-width: 450px){

  #adventure_info .adventure_info_body .access-block {
    width: 100%;
  }

  #adventure_info .adventure_info_body .adv-info-wrapper {
    margin: 0 auto !important;
    margin-top: 35px !important;
  }
  #adventure_info .adv_info_btn {
    padding: 5px;
  }

  #adventure_info .jumbotron {
    min-height: 330px;
  }
  #adventure_info .adventure_info_body .access-block .matrix_content {
    width: 84%;
    float: left;
  }

  .adventure_info_body .itinerary-wrapper .description {
    margin-left: 40px;
    margin-right: 10px;
  }
}
