#adventure_info {
  padding-top: 80px;

  .jumbotron {
  	
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	height: 65vh;
  	margin-top: -30px;


  	.adv_info_btn {
  		margin-top: 40px;
  		font-size: 1.6em;
      background-color: transparent;
  		background: rgba(0,0,0,0.2);
  		border-color: $login_btn_color;
  		padding: 15px 20px;
      border: 5px solid $orange;

  		&:hover {
  			border-color: $advlo_orange;
  		}
  	}

  	.host_info_text {
      text-shadow: -1px -1px 5px #000;
  		margin-top: 20px;
  		font-size: 2.8em;
  		color: #FFF;
  	}
  }

  .adventure_info_body {
  	padding-bottom: 20px;

    .border {
      border-top: 2px solid $light_gray;
    }

  	.gray_background {
  		background: transparent;
  	}

  	.white_background {
  		background: rgba(0,0,0,0.5);
      border-top: 2px solid $light_gray;
      padding-bottom: 20px;
  	}

  	h2 {
  		margin-top: 30px;
  		font-family: cabin_bold !important;
  		font-size: 3.2em;
      text-align: center;
      color: white;
  	}

  	.body_content {
  		font-size: 1.6em;
  		padding-bottom: 30px;
      color: white;
      opacity: 0.8;
      text-align: center;
  	}

  	.body_list {
  		font-size: 0.8em !important;
  	}

  	.matrix_header {
  		font-family: nexa_light;
  		font-size: 1.8em;
  		margin-top: 15px;
  		margin-bottom: 5px;
      text-align: center;
      border-bottom: 1px solid $advlo_orange;
      color: $orange;
  	}

  	.matrix_content {
  		font-size: 1.4em;
      margin-top: 10px;
      color: white;
      opacity: 0.8;
      text-align: center;
      min-height: 170px;

      .display_percent {
        font-size: 2.6em;
      }
  	}
  }
}

@media screen and (max-width: 675px){
	#adventure_info {
	  .host_info_text {
	  		font-size: 2.2em !important;
	  }
	}

  .adventure-container .brick-wrapper .adventure-brick {
    margin: 10px;
  }
}
