.adventure-page-container { 
  position: relative;
  width: 100%;
  top: -81px;
  left: 0;
  padding: 0px;

  #hero_image{
    margin-top: 71px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #location_text {
    position: absolute;
    top: 16%;
    text-align: center;
    width: 100%;
    font-size: 100px;
    color: #fff;
    font-family: 'nexa_light';
    letter-spacing: 35px;
    text-shadow: -2px -2px 5px #000;
  }


  .filter-container {
    position: relative;
    width: 100%;
    float: left;
    height: 60px;  
    background: #000;
    text-align: center;
  }

  .filter-static {
    position: fixed;
    display: none;
    width: 100%;
    height: 60px;
    top: 50px;
    background-color: #000;
    z-index: 999;
    text-align: center;
  }

  .filter {
    position: relative;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    width: 40px;
    height: 20px;
    color: #fff;
    font-size: 20px;
    top: 15px;
    padding-left: 10px;
    padding-right: 10px;


    span {
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
    }
  }
  a:hover{
    text-decoration: none;
  }
  .filter:hover {
    cursor: pointer;
    background-color: #C35B26;
  }
}

.adventure-container {
  position: relative;
  width: 100%;
  float: left;

  .brick-wrapper{
    position: relative;
    width: 85%;
    margin: 0 auto;

    .adventure-brick {
      height: 300px;
      width: 400px;
      float: left;
      overflow: hidden;
      margin: 20px;

      #no-adventures {
        text-align: center;
        img {
          width: 100%;
          margin-top: -13%;
        }
      }

      #no-adv-text {
        position: relative;
        margin-top: -126px;
        text-align: center;
        color: #000;
        font-family: 'nexa_light';
        font-size: 20px;
      }
      
      .guide-image {
        position: relative;
        top: 10%;
        width: 175px;
        height: 175px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        img{
          width: auto;
          min-width: 100%;
          height: 100%;
        }
      }
      
      .image-wrapper {
        position: relative;
        height: 300px;
        width: 400px;
        margin: 0 auto;

        .copy{
          color: #fff;
          bottom: 10px;
          position: absolute;
          z-index: 100;
          left: 15px;
          .title {
            font-size: 20px;
          }

          .location {
            color: #C35B26;
          }

          .ping {
            background: asset-url("location.png") no-repeat left center;
            height: 20px;
            width: 15px;
            background-size: 100% 100%;
            position: absolute;
          }
        }

        .price {
          position: absolute;
          bottom: 0px;
          right: 4px;
          font-size: 25px;
          z-index: 10;
          color: #fff;
        }
        .hover-block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.75);
          opacity: 0;

        }
        .copy-container {
          position: absolute;
          bottom: 0px;
          height: 65px;
          background: rgba(0, 0, 0, 0.75);
          width: 100%;
        }
      }
    }
    .adventure-brick:hover {
      /* border: 1px solid #C35B26; */
    }
  }

  .request_btn {
    margin-top: 20px;
    font-size: 1.8em;
    background-color: $login_btn_color;
    border-color: $login_btn_color;
    padding: 10px 20px;

    &:hover {
      background-color: $login_btn_color_hover;
      border-color: $login_btn_color_hover;
    }
  }

  #request_form_modal {
    .modal-dialog {
      margin: 75px auto 0 auto;
    }

    .modal-header {
      font-family: cabin_bold;
      color: $orange;
      font-size: 1.6em;
    }

    .modal-body {

      form {
        .form_label {
          padding-top: 5px;
          font-size: 1.2em;
          font-weight: bold;
          color: #FFF;
        }

        .checkbox-inline {
          color: #FFF;
        }

        .request_btn {
          margin-top: 10px;
          padding: 5px 15px;
        }
      }

      #request_submitted {
        display: none;
        color: #FFF;
        font-size: 1.8em;
        margin-bottom: 20px;

        .fa {
          font-size: 2.2em;
          margin-bottom: 25px;
          margin-top: 25px;
        }
      }

    }
  }
}


@media screen and (max-width: 1335px){
  .adventure-container .brick-wrapper .adventure-brick {
    height: 200px;
    width: 300px;
  }

  .adventure-container .brick-wrapper .adventure-brick .image-wrapper {
    height: 200px;
    width: 300px;
  }

  .adventure-container .brick-wrapper .adventure-brick .image-wrapper .copy {
    bottom: 10px;
  }

  .adventure-container .brick-wrapper .adventure-brick .guide-image {
    top: 10px;
  }
  .adventure-container .brick-wrapper .adventure-brick .image-wrapper .copy .title {
    font-size: 16px;
  }
  .adventure-container .brick-wrapper .adventure-brick .image-wrapper .copy .location {
    font-size: 11px;
  }
  .adventure-container .brick-wrapper .adventure-brick .image-wrapper .price {
    bottom: -4px;
  }

}

@media screen and (max-width: 950px){
  .adventure-page-container .filter {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media screen and (max-width: 675px){
  .adventure-page-container .filter-container {
    height: 90px;    
  }
  .adventure-page-container .filter-static {
    height: 90px;    
  }
}