.adventure-page-container { 
  position: relative;
  width: 100%;
  top: -81px;
  left: 0;
  padding: 0px;


  #hero_image_wrapper {
    height: 600px;
    overflow: hidden;

    #hero_image{
      margin-top: 71px;
      position: relative;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  #region_map {
    margin-top: 71px;
    width: 100%;
    height: 600px;
  }

  #legend {
    background: rgba(255,255,255,0.85);
    padding: 10px;
    border-radius: 5px;
    font-family: 'nexa_light';
    font-size: 1.1em;
    margin: 10px;

    img {
      margin-right: 15px;
    }
  }

  #hero_image_darken {
    background: rgba(0,0,0, 0.65);
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0;
  }

  #location_text {
    position: absolute;
    top: 16%;
    text-align: center;
    width: 100%;
    font-size: 100px;
    color: #fff;
    font-family: 'nexa_light';
    letter-spacing: 15px;
    text-shadow: -5px -3px 7px #000;
  }

  #adventures-content-container{
    position: relative;
    margin-top: 20px;
    float: left;
    width: 100%;
    z-index: 100;

    #request-button {
      position: relative;
      float: left;
      width: 100%;
    }
  }

  .filter-container {
    position: relative;
  }

  .filter-static {
    position: fixed;
    display: none;
  }

  .filter {
    position: relative;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    width: 40px;
    height: 20px;
    color: #fff;
    font-size: 20px;
    top: 15px;
    padding-left: 10px;
    padding-right: 10px;


    span {
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
    }
  }
  a:hover{
    text-decoration: none;
  }
  .filter:hover {
    cursor: pointer;
    background-color: #C35B26;
  }

  #filter_nav {
    margin-bottom: 40px;
    float: left;
    width: 14%;
    position: relative;

    .filter-wrapper {
      width: 100%;
      float: left;
    }

    margin-bottom: 40px;
    .panel {
      border: none;
      background: rgba(255,255,255,0.8);


      .panel-heading{
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        background-color: $light_gray;
        color: $white;

        .fa {
          margin-right: 5px;
        }
      }

      #location_heading, #cat_heading {
        cursor: pointer;
      }

      .panel-body {
        padding: 0;

        ul {
          margin: 0;

          li {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 5px;
            cursor: pointer;

            &:hover {
              background-color: $lighter_gray;
            }
          }

          li.active {
            background-color: $lighter_gray;
          }
        }
      }
    }
  }

  .adventure-container {
    width: 86%;
  }
}



.adventure-container {
  position: relative;
  width: 94%;
  max-width: 1500px;
  margin: 0 auto;
}
.index-page {
  float: right;
}
.brick-wrapper{
  position: relative;
  margin: 0 auto;

  .adventure-brick {
    height: 300px;
    width: 375px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #000;

    #no-adventures {
      text-align: center;
      img {
        width: 100%;
        margin-top: -13%;
      }
    }

    #no-adv-text {
      position: relative;
      margin-top: -135px;
      text-align: center;
      color: #000;
      font-family: 'nexa_light';
      font-size: 20px;
    }
    
    .guide-image {
      position: relative;
      top: 10%;
      width: 175px;
      height: 175px;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;

      .image-wrapper {
        background-size: cover !important;
        height: 100% !important;
        width: auto !important;
        border-radius: 50% !important;
      }
    }
    
    .image-wrapper {
      position: relative;
      height: 300px;
      width: 375px;
      margin: 0 auto;

      .copy{
        font-size: 14px;
        color: #fff;
        bottom: 5px;
        position: absolute;
        z-index: 100;
        left: 15px;
        font-family: 'cabin_regular';


        .title {
          font-size: 20px;
        }

        .location {
          color: #C35B26;
          text-transform: uppercase;
        }

        .rating-xs {
          font-size: 0.9em;
          padding: 0px !important;
        }

        .rating-disabled {
          cursor: pointer !important;
        }
      }

      .per_adventure_btn {
        position: absolute;
        bottom: 12px;
        right: 55px;
        font-size: 8px;
        z-index: 100;
        padding: 2px 4px;
        opacity: 0.8;
        background-color: $advlo_orange;
        border-color: $advlo_orange;
      }

      .days_duration_btn {
        font-family: bebas_neue;
        font-weight: bold;
        line-height: 14px;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 13px;
        z-index: 100;
        padding: 4px 4px 4px 7px;
        width: 40px;
        height: 40px;
        opacity: 0.8;
        border-radius: 50%;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 50%; 
        /* Firefox 1-3.6 */
        -moz-border-radius: 50%; 

        background-color: $advlo_orange;
        border-color: $advlo_orange;
      }

      .price {
        font-family: 'bebas_neue';
        position: absolute;
        bottom: 0px;
        right: 10px;
        font-size: 28px;
        z-index: 10;
        opacity: 0.9;
        color: #fff;
      }

      .user-show-price {
        bottom: -5px;
        right: 3px;
      }
    }
  }
  .hover-block {
    position: absolute;
    width: 100%;
    height: 225px;
    background: rgba(0, 0, 0, 0.75);
    display: none;
  }
  .copy-container {
    position: absolute;
    bottom: 0px;
    height: 75px;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
  }
  .user-show-copy-container {
    position: absolute;
    bottom: 0px;
    height: 75px;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
  }
  .adventure-brick:hover {
    /* border: 1px solid #C35B26; */
  }
}

.host_name {
  opacity: 0.75;
}

.request_btn {
  margin-top: 40px;
  font-size: 1.8em;
  background-color: $login_btn_color;
  border-color: $login_btn_color;
  padding: 10px 20px;

  &:hover {
    background-color: $login_btn_color_hover;
    border-color: $login_btn_color_hover;
  }
}

#request_form_modal {

  .modal-dialog {
    margin: 75px auto 0 auto;
  }

  .modal-header {
    font-family: cabin_bold;
    color: $orange;
    font-size: 1.6em;
  }

  .modal-body {

    form {
      .form_label {
        font-family: nexa_light;
        padding-top: 5px;
        font-size: 1.2em;
        font-weight: bold;
        color: #FFF;
      }

      .checkbox-inline {
        color: #FFF;
      }

      .request_btn {
        margin-top: 10px;
        padding: 5px 15px;
      }
    }

    #request_submitted {
      display: none;
      color: #FFF;
      font-size: 1.8em;
      margin-bottom: 20px;

      img {
        margin: 0px auto;
        width: 200px;
        height: auto;
      }
    }

  }
}


.filter-container, .filter-static {
  background-color: #000;
  font-size: 1.2em;
  padding-left: 7%;
  padding-right: 7%;

  ul {

    li.active > a {
      background-color: $orange;

      &:hover {
         background-color: $orange;
      }
    }

    li {

      a {
        color: $white;
        border-radius: 0px;

        &:hover {
          background-color: $orange;
        }


      }
    }
  }

}

.request_block {
  cursor: pointer;
    
  .image-wrapper {
    img {
      margin-top: 5%;
      width: 50%;
      height: auto;
    }
  }

  #request-adv-text {
    color: #fff;
    position: absolute;
    bottom: 31px;
    text-align: center;
    font-family: 'nexa_light';
    font-size: 24px;
    width: 100%;
  }
}


@media screen and (max-width: 1343px){
 
  #adventure-partial {
    .brick-wrapper .adventure-brick {
      height: 290px;
      width: 325px;
    }

    .brick-wrapper .adventure-brick .image-wrapper .hover-block {
      height: 215px;
    }

    .request_block .image-wrapper img {
      margin-top: 10%;
    }

    .brick-wrapper .adventure-brick .image-wrapper {
      height: 290px;
      width: 325px;
    }

    .brick-wrapper .adventure-brick .image-wrapper .price {
      font-size: 25px;
    }
  }

  .brick-wrapper .adventure-brick .image-wrapper .copy .title {
    font-size: 16px;
  }
  .brick-wrapper .adventure-brick .image-wrapper .copy .location {
    font-size: 13px;
  }
}

#filter_nav_mobile_toggle {
  display: none;
}


#filter_nav_mobile_toggle {
  display: none;
}

@media screen and (max-width: 780px){

  .adventure-page-container .adventure-container #adventure-partial {
    margin-top: 0px;
  }

  .brick-wrapper .adventure-brick .image-wrapper {
    height: 250px !important;
    width: 300px !important;
  }

  .brick-wrapper .adventure-brick {
    height: 250px !important;
    width: 300px !important;
  }

  .brick-wrapper .hover-block {
    display: none !important;
  }

  .adventure-page-container #filter_nav  {
    width: 100%;
  }

  .adventure-page-container #filter_nav .filter-wrapper {
    width: 90%;
    float: none;
    margin: 0 auto;
  }

  .adventure-page-container .adventure-container {
    width: 100%;
  }

  #filter_nav {
    display: none;
  }

  #filter_nav_mobile_toggle {
    margin-bottom: 30px !important;
    display: block;
    width: 300px !important;
    margin: 0 auto;
  }

  .adventure-page-container #location_text {
    font-size: 1.75em;
  }

  .adventure-page-container #hero_image_wrapper #hero_image {
    height: 400px !important;
  }
  .adventure-page-container #hero_image_wrapper {
    height: 400px;
  }
}


@media screen and (max-width: 500px){
  .brick-wrapper .adventure-brick .image-wrapper {
    height: 250px !important;
    width: 300px !important;
  }

  .brick-wrapper .adventure-brick {
    height: 250px !important;
    width: 300px !important;
  }

  .brick-wrapper .hover-block {
    height: 176px !important;
  }

  .brick-wrapper .adventure-brick .guide-image {
    width: 150px !important;
    height: 150px !important;
  }

  .brick-wrapper .adventure-brick .image-wrapper .price {
    font-size: 20px !important;
  }
  .adventure-container {
    margin-left: -15px !important;
    width: 100% !important;
  }
  .adventure-container-homepage {
    margin-left: 0px !important;

  }
}
