.adventure-show-container {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  padding: 0px;

  #main_image{
    overflow: hidden;
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 650px;
    margin-top: 52px;
    img{
      width: 100%;
      margin-top: -10%;
    }
  }

  .adventure-show-infographic {
    z-index: 100;
    position: fixed;
    top: 100px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    right: 0px;
    margin-right: 15px;
    margin-left: 15px;
    height: 400px;
    border: 1px solid #C35B26;

    .guide-block {
      color: #fff;
      height: 240px;
      #guide-name {
        font-size: 25px;
        margin: 15px;
      }
      #guide-title {
        position: relative;
        margin-top: 10px;
        letter-spacing: 3px;
        font-style: italic;
      }

      .guide-profile-image {
        position: relative;
        top: 10px;
        width: 175px;
        height: 175px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        img{
          width: auto;
          min-width: 100%;
          height: 100%;
        }
      }
    }
    .adventure-block {
      position: relative;
      width: 100%;
      float: left;
      top: 20px;
      #adventure-title {
        color: #fff;
        font-size: 25px;
      }
      #adventure-price{
        font-size: 45px;
        color: $advlo_green;
      }
      #book-it {
        cursor: pointer;
        width: 80%;
        margin: 0 auto;
        height: 41px;
        background: $advlo_orange;
        span {
          color: #fff;
          font-size: 25px;
          position: relative;
          top: 3px;
        }
      }
    }
  }

  .title-copy {
    position: relative;
    float: left;
    margin-top: -150px;
    background: rgba(0, 0, 0, 0.6);
    margin-left: 35px;
    #adventure-title-large {
      color: #fff;
      font-family: 'nexa_bold';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 30px;
      margin: 20px;
    }
    #adventure-description-large {
      margin: 20px;
      color: #fff;
      font-size: 28px;
      text-transform: capitalize;
    }
  }

  .adventure-copy-wrapper {
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    background: $dark_gray;
    padding-bottom: 25px;

    .information-container{

      #overview {
        background: none;
        .overview-item-wrapper {
          position: relative;
          width: 100%;
          float: left;
          .overview-item {
            width: 40%;
            height: 60px;
            float: left;
            margin: 20px;

            .default-description {
              color: $light_gray;
              font-family: 'nexa_bold';
              font-size: 20px;
              top: -26px;
              position: relative;
              float: left;
              right: -36px;
              opacity: 0.9;
              .fa-angle-double-right { 
                margin-left: 10px;
                margin-right: 10px;
              }

              span {
                color: $off_white;
                font-family: 'nexa_light';
                font-size: 20px;
              }
            }
          }
          #map {
            margin-top: -178px;
            float: right;
            position: relative;
            width: 359px;
            border: 5px solid rgba(0, 0, 0, 0.7);
            border-radius: 7px;
          }
        }
        .fa-chevron-circle-right {
          font-size: 30px;
          color: $advlo_orange;
        }
      }

      #itinerary {
        .itinerary-brick {
          margin-bottom: 5px !important;
          margin-top: 5px !important;
          cursor: pointer;
          width: 100%;
        }
        .fa {
          color: $advlo_orange;
          font-size: 35px;
          margin: 20px;
          float: left;
        }
        .fa-minus {
          display: none;
        }
        .headline { 
          font-family: 'nexa_bold';
          font-size: 30px;
          color: #fff;
          margin-top: 15px;
        }
        .description {
          margin-left: 68px;
          margin-right: 40px;
          margin-top: 18px;
          margin-bottom: 20px;
          line-height: 25px;
          color: #fff;
          font-family: 'nexa_light';
          font-size: 14px;
          display: none;
        }
      }

      #reviews {
        .review {
          position: relative;
          float: left;
          height: 100%;
          margin: 20px;

          .reviewer-image-wrapper {
            width: 100px;
            float: left;
            border-radius: 50%;
            overflow: hidden;
            height: 100px;
            border: 3px solid $advlo_orange;

            img {
              height: 100px;
            }
          }

          .review-text {
            position: relative;
            float: left;
            width: 80%;
            margin-left: 50px;
            margin-top: -7px;
            color: #fff;
            font-family: 'nexa_light';
            font-size: 20px;
            margin-bottom: 20px;

            span {
              font-size: 30px;
              color: $advlo_orange;
            }
          }

          .review-credit {
            position: relative;
            float: right;
            margin-right: 15%;
            color: $advlo_orange;
            font-size: 20px;
            font-family: 'nexa_bold';
          }
        }
      }
    }

    #mobile-adventure-nav {
      margin: 35px;
      display: none;
    }

    #mobile-adventure-infographic {
      margin: 35px;
      display: none;
      .navigation-brick{

        .guide-block {
      

          #guide-name {
            font-size: 25px;
            margin-bottom: 10px; 
          }
          
        }

        .adventure-block {
          padding-left: 0px;
          padding-right: 0px;

          #adventure-price{
            font-size: 45px;
            color: $advlo_green;
            text-align: center;
          }
          #book-it {
            cursor: pointer;
            width: 100%;
            margin: 0 auto;
            height: 41px;
            background: #c35b26;
            text-align: center;
          
            span {
              color: #fff;
              font-size: 25px;
              position: relative;
              top: 3px;
            }
          }
        }
      }
    }

    .title-brick {
      margin-top: 50px;
      position: relative;
      float: left;
      height: 100%;
      width: 100%;
      color: #fff;
      font-size: 30px;

      .brick-title {
        position: relative;
        float: left;
        font-size: 25px;
        font-family: 'nexa_light';
        top: 25px;
        color: $advlo_orange;
        left: 20px;
      }
    }

    .copy-brick {
      position: relative;
      float: left;
      margin: 20px;
      height: 100%;
      width: 100%;
      background: $shaded_gray;

      .ping {
        background: url(icons/orange-tag.png) no-repeat left center;
        height: 40px;
        width: 30px;
        background-size: 100% 100%;
        position: absolute;
        top: 10px;
      }

      .brick-title {
        position: relative;
        top: 5px;
        left: 42px;
        font-size: 43px;
        text-transform: uppercase;
        color: #C35B26;
        font-family: 'nexa_light';
        float: left;
        width: 300px;
      }

      .brick-copy {
        color: #fff;
        font-size: 20px;
        position: relative;
        float: left;
        width: 100%;

        #gallery-masonry-container{
          position: relative;
          height: 100%;
          width: 100%;
          margin: 0 auto;
          .gallery-image {
            cursor: pointer;
            margin: 10px;
            img {
              width: 100%;
              height: auto;
            }
          }
          .gallery-image:hover {
            opacity: 0.5;
          }
        }
      }
    }
    .navigation-brick {
      position: relative;
      color: #fff;
      float: left;
      margin-top: 20px;
      height: 100%;
      width: 100%;
      

      a {
        text-decoration: none;
      }

      .item {
        height: 50px;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        border: 1px solid #C35B26;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;

        span {
          position: relative;
          top: 4px;
        }
      }
    }
    .item:hover {
      cursor: pointer;
      background: $light_gray;
    }
  }
}


#event-modal {

  .modal-dialog {
    width: 50%;
    margin-left: 15%;
    margin-top: 100px;
    .event {
      color: #fff;
    }
  }
}

.modal-body {
  img {
    width: 100%;
    cursor: pointer;
  }
}
.modal-content {
  background-color: $dark_gray;
}
.modal-dialog {
  width: 65%;
  margin: 50px;
}

@media screen and (max-width: 991px){
  #desktop-adventure-nav {
    display: none;
  }
  .adventure-show-container .adventure-copy-wrapper #mobile-adventure-infographic {
    display: block;
  }
  .adventure-show-container .adventure-show-infographic {
    display: none;
  }

  #mobile-adventure-infographic {
    display: block;
  }

  .adventure-show-container .adventure-copy-wrapper .information-container #reviews .review .review-text {
    width: 100%;
    margin-left: 0px; 
    margin-top: 10px;
  }
  .adventure-show-container .adventure-copy-wrapper .information-container #reviews .review {
    margin-left: 0px;
  }

  .adventure-show-container .adventure-copy-wrapper .copy-brick {
    width: 100%;
    margin: 0 auto;
  }

  .adventure-show-container .adventure-copy-wrapper .information-container #overview .overview-item-wrapper .overview-item {
    width: 90%;
  }
  .adventure-show-container .title-copy {
    position: relative;
    float: left;
    margin-top: -226px;
    background: rgba(0, 0, 0, 0.6);
    margin-left: 0;

    #adventure-title-large {
      font-size: 12px;
    }
    #adventure-description-large {
      font-size: 10px;
    }
  }
}