.adventure-show-container {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  padding: 0px;

  #main_image{
    overflow: hidden;
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 700px;
    margin-top: 71px;
    img{
      width: 100%;
      margin-top: -10%;
    }
  }

  .adventure-show-infographic {
    position: fixed;
    top: 100px;
    background: $shaded_gray;
    right: 0px;
    margin-right: 15px;
    margin-left: 15px;
    height: 400px;
    z-index: 1000;
  }

  .adventure-copy-wrapper {
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    background: $dark_gray;
    padding-bottom: 25px;


    #mobile-adventure-nav {
      margin: 35px;
      display: none;
    }

    #mobile-adventure-infographic {
      margin: 35px;
      display: none;
    }

    .copy-brick {
      position: relative;
      float: left;
      margin: 20px;
      height: 100%;
      background: $shaded_gray;

      .ping {
        background: url(/assets/icons/orange-tag.png) no-repeat left center;
        height: 40px;
        width: 30px;
        background-size: 100% 100%;
        position: absolute;
        top: 10px;
      }

      .brick-title {
        position: relative;
        top: 5px;
        left: 42px;
        font-size: 43px;
        text-transform: uppercase;
        color: #C35B26;
        font-family: 'nexa_light';
        float: left;
        width: 95%;
        text-shadow: 0px -1px #000;
      }

      .brick-copy {
        color: #fff;
        font-size: 20px;
      }
    }
    .navigation-brick {
      position: relative;
      float: left;
      margin-top: 20px;
      height: 100%;
      width: 100%;
      border: 1px solid #C35B26;

      .item {
        height: 50px;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        border: 1px solid #C35B26;
        color: #fff;

        span {
          position: relative;
          top: 4px;
        }
      }
    }
    .item:hover {
      cursor: pointer;
      background: $light_gray;
    }
  }
}

@media screen and (max-width: 991px){
  #desktop-adventure-nav {
    display: none;
  }
  .adventure-show-container .adventure-copy-wrapper #mobile-adventure-infographic {
    display: block;
  }
  .adventure-show-container .adventure-show-infographic {
    display: none;
  }

  #mobile-adventure-infographic {
    display: block;
  }
}