.title-brick.container-fluid
  //.brick-icons= image_tag 'simple_map.png'
  .brick-title 
    ADDITIONAL INFO

.copy-brick.container-fluid#additional_info
  .brick-copy
    %ul
      %li= @adventure.other_notes
