.panel.panel-default
  .panel-heading.create_steps_header
    %ul.nav.nav-pills#adv_pills
      %li.active
        %a{href: "#"}
          BASICS
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#"}
          PHOTOS
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#"}
          SCHEDULE
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#"}
          PROFILE
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#"}
          PAYMENT
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#"}
          PUBLISH