.panel.panel-default.container
  .panel-heading
    %ul.nav.nav-pills#adv_pills
      %li.active
        %a{href: "#adv_basics", :data => {toggle: "pill"}}
          BASICS
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#adv_photos", :data => {toggle: "pill"}}
          PHOTOS
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#adv_schedule", :data => {toggle: "pill"}}
          SCHEDULE
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#adv_profile", :data => {toggle: "pill"}}
          PROFILE
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#adv_payment", :data => {toggle: "pill"}}
          PAYMENT
      %li
        %i.fa.fa-long-arrow-right
      %li
        %a{href: "#adv_publish", :data => {toggle: "pill"}}
          PUBLISH