.local_filter
  .row.text-center
    .container
      .row
        .filter_header
          CATEGORY
      .row
        .btn.btn-default.filter_select_btn.cat_btn.cat_all.active
          ALL
        - filter_categories.each do |cat|
          .btn.btn-default.filter_select_btn.cat_btn{"data-category" => "#{cat.downcase}"}
            = cat.upcase