.location_filter
  .row
    .container
      .col-md-12.text-center
        .row
          .btn.btn-default.filter_select_btn.active
            ALL
          - adv_categories.each do |cat|
            .btn.btn-default.filter_select_btn
              = cat