.location_filter
  .row
    .container
      .col-md-2.text-center
        .row
          .filter_header
            PRICE
        .row
          .btn.btn-default.filter_select_btn.price_desc
            %i.fa.fa-caret-down
          .btn.btn-default.filter_select_btn.price_asc
            %i.fa.fa-caret-up

      .col-md-2.text-center
        .row
          .filter_header
            PRICE TYPE
        .row
          .btn.btn-default.filter_select_btn.price_type_ind
            IND.
          .btn.btn-default.filter_select_btn.price_type_group
            GROUP

      .col-md-8.text-center
        .row
          .filter_header
            CATEGORY
        .row
          - if filter_categories
            .btn.btn-default.filter_select_btn.cat_btn.cat_all.active
              ALL
            - filter_categories.each do |cat|
              .btn.btn-default.filter_select_btn.cat_btn{"data-category" => "#{cat.downcase}"}
                = cat.upcase
          - else
            - @categories.each do |cat|
              .btn.btn-default.filter_select_btn.cat_btn.disabled.active{"data-category" => "#{cat.downcase}"}
                = cat.upcase

