.container
  //.brick-icons= image_tag 'mountain.png'
  .brick-title 
    GALLERY
.col-md-9
  .copy-brick
    .brick-copy 
      #gallery-masonry-container
        - @adventure.adventure_gallery_images.each_with_index do |gi, i|
          .gallery-image{"data-target" => "#galleryModal", "data-toggle" => "modal", "data-image" => gi.picture.url(:large), class: "image#{i}", id: i}
            = image_tag gi.picture.url(:thumb)

  #galleryModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "gallery_modal", role: "dialog"}
    .modal-dialog.image-modal-dialog
      .modal-content.image-modal-content
        .modal-body
          %img{src: '', id: ''}

