.title-brick.container-fluid.itinerary-title
  .brick-icons= image_tag 'map.png'
  .brick-title
    ITINERARY

#itinerary
  - if @itineraries
    - @itineraries.each do |itin| 
      .copy-brick.itinerary-brick
        .fa.fa-plus
        .fa.fa-minus
        .headline
          = itin.headline
        .description
          = itin.description
