.copy-brick.container-fluid#overview
  .overview-scroll-icon
  .brick-title 
    ITINERARY
#itinerary
  - if @itineraries
    - @itineraries.each_with_index do |itin, i| 
      .copy-brick.itinerary-brick
        .fa.fa-plus
        .fa.fa-minus
        .headline
          = itin.headline
        .description
          = itin.description

:javascript 
  $('.itinerary-brick').click(function(){
    $(this).children().last().toggle();
    $(this).children().first().toggle();
    $(this).children().first().next().toggle();
  })