.copy-brick.container-fluid#itinerary
  .ping
  .brick-title Itinerary
  .brick-copy 
    - if @itineraries
      - @itineraries.each do |itin|
        .itinerary-block
          .headline= itin.headline
          .description= itin.description