.container
  .col-md-9
    .panel.panel-default
      .panel-body
        - if @all_adventure_events.empty?
          .text-center
            %em.tab_header
            .no_ib_text
              %br
              %p{style: 'color:#fff;'}= "Pick a date and time that works for you, and #{@current_guide.get_first_name} will get back to you."

        - else
          .upcoming
            .row.text-center
              %em.tab_header
                Instant Reservations
            .adventure-scroll-container
              - @all_adventure_events.each do |event|               
                = render partial: 'event_partial', locals: {event: event}

                
      .panel-footer
        .row.text-center
          %em.tab_header
            Request a Reservation
        = render partial: 'request_time_form'


        


