.title-brick.container-fluid
  .brick-icons= image_tag 'simple_map.png'
  .brick-title 
    POLICY

.copy-brick.container-fluid#policy
  .brick-copy
    %ul
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats