.title-brick.container-fluid
  .reviews-icon
  .brick-title 
    Policy

.copy-brick.container-fluid#policy
  
  .brick-copy
    
    %br
    nearby
    %ul
      - if @close_adventures
        = @close_adventures.each do |advs|
          %li= link_to advs.location, advs.slug
          = "#{advs.distance.round(2)} miles"