.title-brick.container-fluid
  .reviews-icon
  .brick-title 
    Policy

.copy-brick.container-fluid#policy
  .brick-copy
    %ul
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats
      %li You must wear shoes and hats