#request_time_form
  .row
    .col-md-3.col-md-offset-2
      .from-group
        .form_label
          Date
        %input.form-control{type: "text", name: "request_reservation[date]", id: "request_reservation_date"}
    .col-md-3
      .from-group
        .form_label
          Time
        %input.form-control{type: "text", name: "request_reservation[time]", id: "request_reservation_time"}
    .col-md-2
      .from-group
        .form_label
          People
        %select.form-control{name: "request_reservation[head_count]", id: "request_reservation_head_count"}
          - cap_array = (@adventure.cap_min..@adventure.cap_max).to_a
          - cap_array.each do |option|
            %option= option
  .row.text-center
    - if current_user
      .btn.btn-primary.request_time_btn.disabled{"data-target" => "#reservations-request-modal", "data-toggle" => "modal"}
        SUBMIT

    - else
      .btn.btn-primary.request_time_btn.disabled
        SUBMIT
      :javascript
        $('.request_time_btn').click(function(){
          $('#member-modal').modal('show');
        })
