.container
  //.brick-icons.overview-scroll-icon= image_tag 'reviews.png'
  .brick-title 
    REVIEWS

  .col-md-9
    .copy-brick.container-fluid#reviews_list
      - @adventure_reviews.each do |review|
        = render partial: '/shared/review_brick', locals: {review: review}

    #purchase-to-review 
      Go on this adventure to leave a review

    - if current_user
      - if current_user.reviews.where(adventure_id: @adventure.id).size > 0
        :javascript 
          $('#purchase-to-review').remove()

      - if current_user.reservations.map(&:adventure_id).include?(@adventure.id) && current_user.reviews.where(adventure_id: @adventure.id).count == 0
        :javascript 
          //$('#edit-review').hide()
          $('#purchase-to-review').hide()
          $('#reviews_list').css({
            borderBottom: "1px solid #E6E6E6"
          });

        = render partial: 'new_review_form'  



:javascript
  $('#purchase-to-review').click(function(){
    $('#book-it').click()
  })
  input_maxlength();
  review_ratings_init();
  