%form.sign_in_form{"accept-charset" => "UTF-8", action: "/users/sign_in", method: "post", roll: "form", id: "sign_in_form"}
  =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
  .form-group
    %input.form-control{placeholder: "Email Address", type: "email", name: "user[email]", id: "user_email_login"}
  .form-group
    %input.form-control{placeholder: "Password", type: "password", autocomplete: "off", id: "user_password", name: "user[password]"}
  .row
    %input.btn.btn-primary.sign_in_btn#login-form-submit{name: "sign_in", type: "submit", value: "Sign In"}    
  .row
    %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
      %i.fa.fa-facebook
      Connect with Facebook