- render partial: 'info_seo_tags'

#adventure_info.business_page
  - image = @hero_image ? @hero_image.attachment.url(:hero) : "background/#{@guide_category_img}"
  .jumbotron{:style => "background-image: url(#{image_path image})"}
    .container
      .row.text-center{style: "margin-top: 3%;"}
        .col-md-8.why_host.col-md-offset-2
          Do what you love, meet awesome people, and get paid to do it

      .left-local#individual
        .guide-button
          .title GET STARTED

          

  .adventure_info_body

    #individual-info
      = render partial: 'info_page', locals: {type: 'local'}
/    #business-info      
/      = render partial: 'info_page', locals: {type: 'business'}


:javascript
  

  mobileSlider();


  $('.guide-button').click(function(){
    $('.login_in_sign_up_btn').last().click()
  })
