- render partial: 'info_seo_tags'

#adventure_info.business_page
  - image = @hero_image ? @hero_image.attachment.url(:hero) : "background/#{@guide_category_img}"
  .jumbotron{:style => "background-image: url(#{image_path image})"}
    .container
      .row.text-center{style: "margin-top: 7%;"}
        .col-md-8.why_host.col-md-offset-2
          Learn how Adventure Local can help your adventure operation

      .left-local#individual
        .guide-button
          .title Individual Guides

      .right-business#business
        .guide-button.green-button.green
          .title Tour Operators

          

  .adventure_info_body

    #individual-info
      = render partial: 'info_page', locals: {type: 'local'}
    #business-info      
      = render partial: 'info_page', locals: {type: 'business'}


:javascript
  
  $(document).ready(function(){
    $('html').css('overflow','hidden');
    $('.navbar').hide()
    $('#footer').hide()
    $('.jumbotron').height($(window).height())
  })


  $('#individual').click(function(){
    $('#individual-info').fadeIn();
    $('#business-info').hide();
    infoSlider('local');
    mobileSlider('local');

    guideScroll();

    $('.dark_background').removeClass('green-line')
    $('.dark_background').addClass('orange-line')    
  })

  $('#business').click(function(){
    $('#business-info').fadeIn();
    $('#individual-info').hide();  
    infoSlider('business');
    mobileSlider('business');

    guideScroll();

    $('.dark_background').removeClass('orange-line')
    $('.dark_background').addClass('green-line')
  })

