#adventure_create
  .container
    .panel.panel-default.container
      %h2.panel-heading Guide A New Adventure


      .panel-footer.text-center
        %a.btn.btn-primary.preview_btn{href: "#"}
          PREVIEW
