#adventure_info
  - image = @hero_image ? @hero_image.attachment.url(:hero) : "background/advlo_surfers2.jpg"
  .jumbotron{:style => "background-image: url(#{image_path image})"}
    .container
      .row.text-center
        .col-md-8.host_info_text.col-md-offset-2
          Sell your expertise by leading like-minded travelers on the adventures you create.
      .row.text-center
        .col-md-6.col-md-offset-3
          %a.btn.btn-primary.adv_info_btn{href: "/adventures/create_prefill"} HOST AN ADVENTURE
  .adventure_info_body
    .gray_background
      .container
        %h2
          ADVENTURE GUIDLINES
        .body_content
          All Advlo adventures are hosted in person by Advlo registered users. Their purpose is to provide cultural exchange, education and one hell of a good time. All Advlo adventures include two of these three aspects: physical activity, interaction with nature, and cultural learning or exchange.
    .white_background
      .container
        %h2
          WHY BE A HOST

        .col-md-4.col-md-offset-1
          .row.matrix_header
            MEET AMAZING PEOPLE
          .row.matrix_content
            Connect with like-minded people from all over the world. Connect through experiences and the adventures that you create.

          .row.matrix_header
            SHARE WHAT YOU LOVE
          .row.matrix_content
            Introduce a new place or experience to someone. Help shape how travelers experience and perceive your community and culture.

        .col-md-2

        .col-md-4
          .row.matrix_header
            RECEIVE PAYMENTS
          .row.matrix_content
            Whether you’re an avid kayaker, climber or biker, earn money putting your passions and skills to use and doing what you love.

          .row.matrix_header
            RESPOND TO REQUESTS
          .row.matrix_content
            Gain the ability to receive requests from Travelers who are coming to your town. Offer your services and determine your compensation.
    
    .border
    .gray_background
      .container
        %h2
          HOSTS HAVE ACCESS TO
        .col-md-4.col-md-offset-1
          .row.matrix_header
            GLOBAL TRANSACTIONS
          .row.matrix_content
            Accept credit card payments globally through the secure Stripe processing framework.

          .row.matrix_header
            MARKETING & PROMOTION
          .row.matrix_content
            Connect with adventure travel audiences through our site and SEO. Become a featured Host and easily promote your page through social media or custom URLs.

        .col-md-2

        .col-md-4
          .row.matrix_header
            DIRECT PAYMENTS
          .row.matrix_content
            Receive direct deposits to your bank (Stripe supported countries only). PayPal payments are available globally to all Hosts.

          .row.matrix_header
            FLEXIBLE SCHEDULE
          .row.matrix_content
            Set your own schedule. With our simple scheduling and booking process, you decide when to offer your adventures or accept them based on traveler requests.


        .row
          .col-md-4.col-md-offset-4
            .matrix_header RESULTS-BASED PRICING
            .matrix_content
              .display_percent 15%
              OF BOOKED RESERVATION PRICE

          

          


