#adventure_info
  .jumbotron
    .container
      .row.text-center
        .col-md-8.host_info_text.col-md-offset-2
          Sell your expertise by leading like-minded travelers on the adventures you create.
      .row.text-center
        .col-md-6.col-md-offset-3
          %a.btn.btn-primary.adv_info_btn{href: "/adventures/create_prefill"} HOST AN ADVENTURE
  .adventure_info_body
    .container
      %h2
        Adventure Guidelines:
      .body_content
        All Advlo adventures are hosted in person by Advlo registered users and their purpose is to provide cultural exchange, education and one hell of a good time. All Advlo adventures must be independently lead by the host and be an adventure in (3 adventure categories).
        %br
        %br
        Every host on Advlo:
        %ul.body_list
          %li
            Commits to delivering a high-quality adventure to every traveler.
          %li
            Prioritizes safety and security above all else.
          %li
            Is passionate, personable and trustworthy.
      %h2
        What every Host gets:
      .body_content
        .row
          .col-md-5.col-md-offset-1
            .matrix_header
              ACCEPT PAYMENTS FROM AROUND THE WORLD
          .col-md-1
          .col-md-5
            .matrix_header
              FREE MARKETING
        .row
          .col-md-5.col-md-offset-1
            .matrix_content
              Our platform allows you to accept credit card payments from anywhere in the world through the secure stripe payments processing framework.
          .col-md-1
          .col-md-5
            .matrix_content
              Many adventure seekers and travelers come to Advlo everyday to look for awesome adventures hosted by locals. We constantly feature hosts on our blog, social media, and in the press.
        .row
          .col-md-5.col-md-offset-1
            .matrix_header
              DIRECT DEPOSIT PAYMENTS (US ONLY)
          .col-md-1
          .col-md-5
            .matrix_header
              FLEXIBLE SCHEDULE
        .row
          .col-md-5.col-md-offset-1
            .matrix_content
              We provide direct deposit payments directly to your local bank once a week. (Fridays)
          .col-md-1
          .col-md-5
            .matrix_content
              Your set your own schedule. With an interactive calendar event creation, you decide when to offer your adventures.
        .row
          .col-md-5.col-md-offset-1
            .matrix_header
              DIRECT DEPOSIT PAYMENTS (US ONLY)
          .col-md-1
          .col-md-5
            .matrix_header
              FLEXIBLE SCHEDULE
        .row
          .col-md-5.col-md-offset-1
            .matrix_content
              We provide direct deposit payments directly to your local bank once a week. (Fridays)
          .col-md-1
          .col-md-5
            .matrix_content
              Your set your own schedule. With an interactive calendar event creation, you decide when to offer your adventures.

          

          


