#adventure_info
  - image = @hero_image ? @hero_image.attachment.url(:hero) : "background/biklo_darken.jpg"
  .jumbotron{:style => "background-image: url(#{image_path image})"}
    .container
      .row.text-center
        .col-md-8.host_info_text.col-md-offset-2
          Sell your expertise by leading like-minded travelers on the adventures you create.
      .row.text-center
        .col-md-6.col-md-offset-3
          %a.btn.btn-primary.adv_info_btn{href: "/adventures/create_prefill"} HOST AN ADVENTURE
  .adventure_info_body
    .gray_background
      .container
        %h2
          Adventure Guidelines:
        .body_content
          All Advlo adventures are hosted in person by Advlo registered users and their purpose is to provide cultural exchange, education and one hell of a good time. All Advlo adventures must be independently lead by the host and must include two of these three aspects: physical activity, interaction with nature, and cultural learning or exchange.
          %br
          %br
          We've broken down these adventures into some popular categories: Biking, Camping, Climbing, Hiking, Snow, Water, and Other
          %br
          %br
          Every host on Advlo:
          %ul.body_list
            %li
              Commits to delivering a high-quality adventure to every traveler.
            %li
              Prioritizes safety and security above all else.
            %li
              Is passionate, personable and trustworthy.
    .white_background
      .container
        %h2
          Why be an Advlo Host?
        .body_content
          At the heart of every movement is a group of individuals who embody the change they want to see in the world. For Advlo, these people are our the locals. They are empowering themselves to make a living doing what they know and love and sharing them with you. They are making the world a better place by inviting the rest of us to enjoy new adventures and develop new ways of experiencing what life has to offer.
          .row
            .col-md-5.col-md-offset-1
              .matrix_header
                MEET AMAZING PEOPLE
            .col-md-1
            .col-md-5
              .matrix_header
                EARN MONEY
          .row
            .col-md-5.col-md-offset-1
              .matrix_content
                Connect with curious and savvy travelers from all over the world. Nothing is better than the bond you share doing something you care about with new and different people.
            .col-md-1
            .col-md-5
              .matrix_content
                Supplement your income or build a business doing the things you love. Whether you’re an avid kayaker, climber or biker, earn extra income putting your passions and skills to use.
          .row
            .col-md-5.col-md-offset-1
              .matrix_header
                SHARE WHAT YOU LOVE AND KNOW
            .col-md-1
            .col-md-5
              .matrix_header
                GET ATTENTION
          .row
            .col-md-5.col-md-offset-1
              .matrix_content
                Enjoy the thrill of introducing a new place or experience to someone for the first time. Help shape how visitors experience and perceive your community and culture.
            .col-md-1
            .col-md-5
              .matrix_content
                Always featured in press and social media.
    .gray_background
      .container
        %h2
          What every Host gets:
        .body_content
          .row
            .col-md-5.col-md-offset-1
              .matrix_header
                ACCEPT PAYMENTS FROM AROUND THE WORLD
            .col-md-1
            .col-md-5
              .matrix_header
                FREE MARKETING
          .row
            .col-md-5.col-md-offset-1
              .matrix_content
                Our platform allows you to accept credit card payments from anywhere in the world through the secure stripe payments processing framework.
            .col-md-1
            .col-md-5
              .matrix_content
                Many adventure seekers and travelers come to Advlo everyday to look for awesome adventures hosted by locals. We constantly feature hosts on our blog, social media, and in the press.
          .row
            .col-md-5.col-md-offset-1
              .matrix_header
                DIRECT DEPOSIT PAYMENTS (Where Available)
            .col-md-1
            .col-md-5
              .matrix_header
                FLEXIBLE SCHEDULE
          .row
            .col-md-5.col-md-offset-1
              .matrix_content
                We provide direct deposit payments directly to your local bank once a week where available. Also payments with paypal is available globally to all hosts.
            .col-md-1
            .col-md-5
              .matrix_content
                Your set your own schedule. With an interactive calendar event creation, you decide when to offer your adventures or accept them based on the traveler's request.
          .row
            .col-md-5.col-md-offset-1
              .matrix_header
                DIRECT DEPOSIT PAYMENTS (US ONLY)
            .col-md-1
            .col-md-5
              .matrix_header
                FLEXIBLE SCHEDULE
          .row
            .col-md-5.col-md-offset-1
              .matrix_content
                We provide direct deposit payments directly to your local bank once a week. (Fridays)
            .col-md-1
            .col-md-5
              .matrix_content
                Your set your own schedule. With an interactive calendar event creation, you decide when to offer your adventures.

          

          


