#adventure_create
  .container
    = render partial: "adv_create_header"
    #adv_basics
      %form{"accept-charset" => "UTF-8", action: "/adventures", method: "post", id: "adventure_edit_form", enctype: "multipart/form-data"}
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        
        .panel.panel-default
          .panel-heading.text-center.section_header
            BASICS
          .panel-body
            .form-group.row
              .col-md-4
                .form_label.text-right Title *
              .col-md-6
                %input.form-control.show_ml{type: "text", required: "required", name: "adventure[title]", id: "adv_name", value: "", maxlength: "40", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Ex: Surfing in la punta"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Location *
              .col-md-6
                %input.form-control.show_ml{type: "text", required: "required", name: "adventure[location]", id: "adv_location", value: "", maxlength: "75", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Meeting Address, Ex: 123 Hiking St. Denver, CO 80219"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Summary *
              .col-md-6
                %textarea.form-control.show_ml{rows: "7", type: "text", required: "required", name: "adventure[summary]", id: "adv_summary", value: "", maxlength: "250", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "This is the description for your adventure! Sell it with a detailed & informative summary!"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Capacity *
              .col-md-1
                %input.form-control{type: "text", required: "required", name: "adventure[cap_min]", id: "adv_cap_min", value: ""}
                .text-center Min
              .col-md-1
                %input.form-control{type: "text", required: "required", name: "adventure[cap_max]", id: "adv_cap_max", value: "", min: 1, max: 101}
                .text-center Max
            .form-group.row
              .col-md-4
                .form_label.text-right Duration *
              .col-md-1
                %input.form-control{type: "text", required: "required", name: "adventure[duration_num]", id: "adv_duration_num", value: ""}
              .col-md-2
                %select.form-control{name: "adventure[duration_type]", id: "adv_duration_type"}
                  %option Minutes
                  %option Hours
                  %option Days
            .form-group.row
              .col-md-4
                .form_label.text-right Price *
              .col-md-2
                .input-group
                  %span.input-group-addon
                    $
                  %input.form-control{type: "text", required: "required", name: "adventure[price]", id: "adv_price", value: ""}
                  %span.input-group-addon
                    USD
              .col-md-3
                %label.radio-inline
                  %input{type: "radio", name: "adventure[price_type]", id: "adv_price_type", value: "per_person"}
                    Per Person
                %label.radio-inline
                  %input{type: "radio", name: "adventure[price_type]", id: "adv_price_type", value: "per_adv"}
                    Flat Rate
            .form-group.row
              .col-md-4
                .form_label.text-right Categories *
              .col-md-2
                - options = ["Hiking", "Climbing", "Skiing", "Surfing"]
                %select.multiselect{multiple: true, :required => true, name: 'category[]'}
                  = options.each do |o|
                    %option{value: o}= o

                    


            .form-group.row
              .col-md-4
                .form_label.text-right Other Notes
              .col-md-6
                %textarea.form-control.show_ml{placeholder: "(Optional)", rows: "5", type: "text", name: "adventure[other_notes]", id: "adv_other_notes", value: "", maxlength: "150", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "This information will be emailed to the users after they book your adventure"}}

            .form-group
              .col-md-4
                .form_label.text-right Adventure Banner Image *
              .col-md-6
                %input.filestyle{type: "file", name: "adventure[attachment]", id: "adventure_attachment"}

          .panel-footer.text-center
            %input.btn.btn-primary.preview_btn{href: "#", name: "commit", type: "submit", value: "NEXT"}
                
:javascript
  adventureCreate();
