.adventure-show-container.col-md-12
  #main_image.img-responsive= image_tag @adventure.attachment.url(:large)

  .adventure-copy-wrapper
    / - @adventure.attributes.each do etc..
    - attributes = {:overview => 'Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.', :itinerary => 'Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.', :reviews => 'Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.'}
    - attributes.each do |key, array|
      .copy-brick.container-fluid
        %h1= key
        %p= array




