#reservation
  #adv-title= @adventure.title
  #event-info
  #success
  #success-detail
  #advlo-logo
  #stripe-error-message
  %form#new_reservation.new_reservation{"accept-charset" => "UTF-8", action: "/reservations", "data-remote" => "true", enctype: "multipart/form-data", method: "post"}
    %div{style: "display:none"}
      %input{name: "utf8", type: "hidden", value: "✓"}

    // reservation object params 
    %input#hidden_event_id{name: "reservation[event_id]", type: "hidden"}
    %input#reservation_head_count{name: "reservation[head_count]", type: "hidden"}
    %input#reservation_adventure_id{name: "reservation[adventure_id]", type: "hidden", value: @adventure.id }
    %input#reservation_user_id{name: "reservation[user_id]", type: "hidden", value: current_user.id}
    %input#reservation_host_id{name: "reservation[host_id]", type: "hidden", value: "1"}
    %input#reservation_total_price{name: "reservation[total_price]", type: "hidden"}

    
    // other rails controller params 
    %input#adv_price{name: "adv_price", type: "hidden", value: @adventure.price}
    %input#adventure_id{name: "adventure_id", type: "hidden", value: @adventure.id }
    %input#stripe_token{name: "stripe_token", type: "hidden"}
    %input#user_id{name: "user_id", type: "hidden", value: current_user.id}

    .form-group.row
      .col-md-4
        .form_label.text-right Full Name
      .col-md-6
        %input.form-control#credit_card_name{type: "text", name: "credit_card_name", type: "text", placeholder: "First Last"}
    

    .form-group.row
      .col-md-4
        .form_label.text-right Card Number
      .col-md-6
        %input.form-control{type: "text", placeholder: '1234567890123', name: "credit_card_number", id: "credit_card_number", maxlength: "16"}

    
    .form-group.row
      .col-md-4
        .form_label.cvv-box.text-right CVV
      .col-md-1
        %input.form-control{type: "text", placeholder: '123', name: "cvv", id: "cvv", maxlength: "3"}
    
    .form-group.row
      .col-md-4
        .form_label.text-right Card Expiration
      .col-md-2
        .form-group
          %label Exp Month
          %input.form-control{placeholder: "MM", type: "text", maxlength: "2", name: "exp_month", id: 'exp_month'}
      .col-md-2
        .form-group
          %label Exp Year
          %input.form-control{placeholder: "YYYY", type: "text", maxlength: "4", name: "exp_year", id: 'exp_year'}
    .form-group.row
      .col-md-4
        .form_label.text-right People
      .col-md-2
        %select.form-control.cap_selector
    .row
      .col-md-4
        .form_label.text-right Total Cost
      .col-md-2
        .reservation_cost
          = "$ #{@adventure.price * @adventure.cap_min}"


    #book-it-wrapper
      .btn.btn-success#book-button.button Book

