#destination-block.destination-block
  .container.homepage-container.text-center
    .sorry{style: "color: #fff;margin-top: 55px;font-family: 'nexa_light' !important;letter-spacing: 3px;font-size: 20px;"} 
      Sorry, we must have misplaced that page,
     

  .row.text-center
    .container
      .region-container
        .region-wrapper
          %a{href: '/find'}  
            .others_region 
              .region-text
                Find Adventures
