.well.option_1_well
  .row.text-center
    %strong.header
      Basic:
    %br
      Choose your payout method

  .btn.btn-default.col-md-4.col-md-offset-1.subscribe_btn_1#add-bank{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add a Bank account"}
    .fa.fa-university


  .btn.btn-default.col-md-4.col-md-offset-2.subscribe_btn_1#add-paypal.text-center{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add Paypal Email Address"}
    .fa.fa-paypal
  

  .stripe_paypal_payouts
    = render partial: "notice"

    = render partial: "stripe_payout"

    = render partial: "paypal_payout"

  .row.col-md-12#default-use-bank
    .text-center
      %a{href: "https://stripe.com/global", target: '_blank'} 
        Bank Supported 
      countries /
      %a{href: "https://www.paypal.com/webapps/mpp/country-worldwide", target: '_blank'}
        Paypal supported 
      countries.
      %em
        If both information is provided, bank account will be used as the default payout method.
