.col-md-6.col-md-offset-3
  .well.how_to.text-center.waiver-info
    %h3
      WAIVER (OPTIONAL)
    Provide a waiver prior to travelers prior to an adventure.

    .row
      .paypal_update_notice.waiver-alert.alert.alert-warning.text-center{style: "display: none; margin-top: 10px; margin-bottom: 0px;"}

    %form{"accept-charset" => "UTF-8", action: '/upload/waiver', method: "POST", id: "upload_waiver", enctype: "multipart/form-data"}
      = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
      = tag(:input, :type => "hidden", :name => "user_id", :value => current_user.id)
      .form-group.row
        .col-md-2
          .form_label.edit-label PDF
        .col-md-10
          %input.form-control{type: "file", name: "waiver[file]", id: "waiver_file"}

    .row.text-center
      %input.btn.btn-primary{type: 'submit', value: 'UPLOAD WAIVER', id: 'upload-toggle', style: "margin-top: 15px;"}
