.row.payout-buttons-row
  .btn.btn-default.col-md-3.col-md-offset-2.option_btn_1
    .percent
      FREE
    .text
      15% ADVLO COMMISSION
      %br
      IF BOOKED

  .or_text.col-md-2.text-center
    OR

  .btn.btn-default.col-md-3.option_btn_2
    .percent
      $10
    .text
      PER MONTH
      %br
      NO ADVLO COMMISSION

  .col-md-6.col-md-offset-3
    #commission-tree= render partial: 'commission_tree'
  .col-md-6.col-md-offset-3
    #subscription-tree= render partial: 'subscription_tree'