.row
  .btn.btn-default.col-md-3.col-md-offset-2.option_btn_1
    .percent
      15%
    .text
      ADVLO FEE
      %br
      PER BOOKING


  .col-md-2

  .btn.btn-default.col-md-3.option_btn_2
    .percent
      $10
    .text
      PER ADVENTURE
      %br
      PER MONTH

  .col-md-6.col-md-offset-3
    #commission-tree= render partial: 'commission_tree'
  .col-md-6.col-md-offset-3
    #subscription-tree= render partial: 'subscription_tree'

  / .well.option_2_well
  /   .row.text-center
  /     %strong.header
  /       Subscribe & Pay Per Adventure
  /   %br
  /   .row
  /     .col-md-6
  /       .row.text-center
  /         %strong
  /           OPTION 1
  /       .row.text-center
  /         .dollar
  /           $10
  /         .text
  /           PER ADVENTURE
  /           %br
  /           PER MONTH
  /     .col-md-6
  /       .row.text-center
  /         %strong
  /           OPTION 2
  /       .row.text-center
  /         .dollar
  /           $250
  /         .text
  /           UNLIMITED ADVENTURES
  /           %br
  /           PER YEAR
  /       %br

  /   .row.text-center
  /     %Strong
  /       NO 15% ADVLO FEE ON BOOKING PRICE

  /   %br

  /   .row
  /     .col-md-6
  /       .row.text-center
  /         .btn.btn-primary.continue_btn
  /           OPTION 1
  /           %i.fa.fa-arrow-circle-o-right
  /     .col-md-6
  /       .row.text-center
  /         .btn.btn-primary.continue_btn
  /           OPTION 2
  /           %i.fa.fa-arrow-circle-o-right