- if current_user.guide_type == 'business'
  = render partial: 'business_checkout'

- else
  .row.payout-buttons-row
    .btn.btn-default.col-md-3.col-md-offset-2.option_btn_1
      .pricing-top
        .pricing-title Basic
        .prices $49 / 5% 
        .price-type
          Month / per booking

      .pricing-bottom   
        %ul.feature-list
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Custom page to beautifully showcase your local business"}
            Company Profile Page
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Unique listing pages that truly show your experience"}
            Adventure Pages
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Manage your profile, adventures, & booking requests"}
            Backend tools
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Built in SEO for each page / paid search marketing"}
            SEO & Content Marketing
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"To your Bank or Paypal account"}
            Weekly Payouts
        .learn-more
          .btn.btn-primary Basic plan

        .btn.btn-default.free-trial-box
          .price-type
            One Month Basic - free
            %br
            Try us for a month, cancel anytime.

            
          .learn-more
            .btn.btn-primary +1 free month

    .col-md-2.text-center

    .btn.btn-default.col-md-3.option_btn_2
      .pricing-top
        .pricing-title membership
        .prices $99 / 0%
        .price-type
          Month / per booking
          

      .pricing-bottom  
        %ul.feature-list
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Custom page to beautifully showcase your local business"}
            Company Profile Page
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Unique listing pages that truly show your experience"}
            Adventure Pages
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Manage your profile, adventures, & booking requests"}
            Backend tools
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Built in SEO for each page / paid search marketing"}
            SEO & Content Marketing
          %li.fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"To your Bank or Paypal account"}
            Weekly Payouts
          %li.fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Adventures under membership have first priority"}
            Higher listing positions
          %li.fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"Access to our transaction system with no commission"}
            0% bookings commission
          %li.fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"You can choose to provide a link to re-direct on the 'book it' step"}
            Option to re-direct transaction
          %li.fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=>"You can choose to provide a link to re-direct on the 'book it' step"}
            Monthly Analytics

        .learn-more
          .btn.btn-success Membership plan



    .col-md-6.col-md-offset-3
      #commission-tree= render partial: 'commission_tree'
    .col-md-6.col-md-offset-3
      #subscription-tree= render partial: 'subscription_tree'

.all-plans-include
  .left-side-line-gray
  %h2 Both options include
  .right-side-line-gray
  .col.col-md-12
    .row
      .col.col-sm-6
        .fa.fa-desktop
        .feature-text.marketing-packages-small
          .marketing-package-headlines Custom pages
          %p Travelers can connect & communicate easily, and find you from your adventure & profile page
      .col.col-sm-6
        .fa.fa-globe
        .feature-text.marketing-packages-small
          .marketing-package-headlines Global community
          %p Be part of a group of adventurers that crave more authentic experiences when they travel
      

  .col.col-md-12
    .row
      .col.col-sm-6
        .fa.fa-money
        .feature-text
          .marketing-package-headlines Transactions & Payouts
          %p 
            Receive direct deposit in 
            %a{href: "https://stripe.com/global", target: '_blank'} these countries
            or create a 
            %a{href: 'https://www.paypal.com/webapps/mpp/country-worldwide', target: '_blank'} PayPal account
            for free.
            and receive profits from bookings each week.
      .col.col-sm-6
        .fa.fa-gears
        .feature-text
          .marketing-package-headlines Platform technology
          %p Benefit from our social content, paid marketing, & SEO strategies. Includes transactional emails, cancellations & refunds system, international payments. 
