- if current_user.guide_type == 'business'
  = render partial: 'business_checkout'
- else
  = render partial: 'local_checkout'

.all-plans-include
  .left-side-line-gray
  %h2 Both options include
  .right-side-line-gray
  .col.col-md-12
    .row
      .col.col-sm-6.margin-top-20
        .fa.fa-desktop
        .feature-text.marketing-packages-small
          .marketing-package-headlines Custom pages
          %p Travelers can connect & communicate easily, and find you from your adventure & profile page
      .col.col-sm-6.margin-top-20
        .fa.fa-globe
        .feature-text.marketing-packages-small
          .marketing-package-headlines Global community
          %p Be part of a group of adventurers that crave more authentic experiences when they travel
      

  .col.col-md-12
    .row
      .col.col-sm-6
        .fa.fa-money
        .feature-text
          .marketing-package-headlines Transactions & Payouts
          %p 
            Receive direct deposit in 
            %a{href: "https://stripe.com/global", target: '_blank'} these countries
            or create a 
            %a{href: 'https://www.paypal.com/webapps/mpp/country-worldwide', target: '_blank'} PayPal account
            for free.
            and receive profits from bookings each week.
      .col.col-sm-6
        .fa.fa-gears
        .feature-text
          .marketing-package-headlines Platform technology
          %p Benefit from our social content, paid marketing, & SEO strategies. Includes transactional emails, cancellations & refunds system, international payments. 
