#phone_update  
  .col-md-6.col-md-offset-3
    .well.how_to.text-center
      %h3
        PHONE NUMBER (OPTIONAL)
      Your phone number is 
      %b on file. 
      You may update it below as required.

      .row
        .paypal_update_notice.phone-alert.alert.alert-warning.text-center{style: "display: none; margin-top: 10px; margin-bottom: 0px;"}
      %br
      .row
        %b.prefill_label= current_user.phone_number.phony_formatted(:format => :international, :spaces => '-')
      %br
      .row
        .btn.btn-primary.phone_update_btn
          UPDATE

      %form{"accept-charset" => "UTF-8", action: '/users/phone', method: "POST", id: "update_phone_number_form", "data-remote" => "true"}
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        = tag(:input, :type => "hidden", :name => "user_id", :value => current_user.id)
        = tag(:input, :type => "hidden", :name => "update", :value => '1')
        .form-group.row
          .col-md-5
            .form_label.edit-label Phone
          .col-md-5
            %input.form-control{type: "text", name: "phone_number", id: "phone_number"}

        .text-center
          %input.btn.btn-primary.verify_phone_btn{type: 'submit', value: 'SUBMIT'}

:javascript
  $('#phone_update .phone_update_btn').click(function(){
    $('#phone_update #update_phone_number_form').fadeToggle();
  })