#phone_new
  .col-md-6.col-md-offset-3
    .well.how_to.text-center
      %h3
        PHONE NUMBER
      Although not required to publish an adventure, we highly recommend adding a phone number so travelers can contact you after making a reservation.

      .row
        .paypal_update_notice.phone-alert.alert.alert-warning.text-center{style: "display: none; margin-top: 10px; margin-bottom: 0px;"}

      %form{"accept-charset" => "UTF-8", action: '/users/phone', method: "POST", id: "new_phone_number_form", "data-remote" => "true"}
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        = tag(:input, :type => "hidden", :name => "user_id", :value => current_user.id)
        .form-group.row
          .col-md-5
            .form_label.edit-label Phone Number
          .col-md-5
            %input.form-control{type: "text", name: "phone_number", id: "phone_number"}

        .text-center
          %input.btn.btn-primary.verify_phone_btn{type: 'submit', value: 'SUBMIT'}