#request_location_modal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        Request a location
      .modal-body
        %form{"accept-charset" => "UTF-8", action: "/adventures/request_location", method: "POST", id: "request_location_form", "data-remote" => "true"}
          = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
          - if current_user
            = tag(:input, :type => "hidden", :name => "request_location[user_id]", :value => current_user.id)
          .form-group.row
            .col-md-4 
              .form_label.text-right Destination *
            .col-md-6
              %input.form-control{type: "text", name: "request_location[location]", id: "request_location", placeholder: ""}
          .form-group.row
            .col-md-4 
              .form_label.text-right Email *
            .col-md-6
              %input.form-control{type: "text", name: "request_location[email]", id: "request_email", maxlength: "40"}
          .form-group.row
            .col-md-4 
              .form_label.text-right Comments
            .col-md-6
              %textarea.form-control{rows: "5", type: "text", name: "request_location[comments]", id: "request_description", maxlength: "250"}
          .row.text-center
            %input.btn.btn-primary.request_btn{type: "submit", value: "Submit"}

        #request_location_submitted
          .row
            .col-md-10.col-md-offset-1.text-center
              = image_tag "icons/request_icon.png", class: "img-responsive"
              %em Thanks for reaching out to us!
              %br
              %em We’ll contact you as we expand our adventures to cover more locations.