.well.option_2_well
  .row.text-center
    %strong.header
      Subscribe & Pay Per Adventure
  %br
  .row
    %strong
      No 15% Fee
    on the adventure booking price.
  %br
  .row
    %strong
      Option
    to use Advlo's booking & reservation system or provide a link to redirect the traveler to your site or booking system.
  %br
  .row.text-center
    .btn.btn-primary.continue_btn
      CONTINUE
      %i.fa.fa-arrow-circle-o-right