// plan  = [amount, plan_id, type]
- if current_user.guide_type == 'business'
  - plan = ['$99', '3', 'business_membership']
- else
  - plan = ['$30', '4', 'local_membership']

.well.option_2_well.text-center
  .row
    %strong.header
      Membership
  %br
    %strong
      = plan[0]
    per month
    %strong
      no commission cost.

  Choose to use Advlo's booking system, or redirect to your own.


  .row
    .btn.btn-default.col-md-4.col-md-offset-1.subscribe_btn_1{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Use Advlo's booking system"}
      = image_tag 'logos/advlo_header_logo_closed.png'
      
    .col-md-2

    .btn.btn-default.col-md-4.subscribe_btn_2{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Redirect to your own link"}
      .fa.fa-share-square-o

      

  = render partial: "subscription_payment_form_1", locals: { plan: plan}

  = render partial: "subscription_payment_form_2", locals: { plan: plan}
