.well.option_1_well
  .row.text-center
    %strong.header
      Subscribe & Pay Per Adventure
  %br
  .row
    %strong
      No 15% Fee
    on the adventure booking price.
  %br
  .row
    %strong
      Option
    to use Advlo's booking & reservation system or provide a link to redirect the traveler to your site or booking system.


  .row
    .btn.btn-default.col-md-4.col-md-offset-1.subscribe_btn_1
      .text
        USE ADVLO'S
        %br
        BOOKING & 
        %br
        RESERVATION
        %br
        SYSTEM

      %i.fa.fa-arrow-circle-o-right

    .col-md-2

    .btn.btn-default.col-md-4.subscribe_btn_2
      .text
        REDIRECT
        %br
        TO YOUR SITE
        %br
        OR
        %br
        PAYMENT SYSTEM

      %i.fa.fa-arrow-circle-o-right
