#success
#success-detail
#stripe-error-message

- # Show existing bank account info for verification
.row
  .form_label.col-md-4.col-md-offset-1.text-right
    Bank:
  .prefill_label.col-md-6.text-left
    = recipient_info.active_account.bank_name
.row
  .form_label.col-md-4.col-md-offset-1.text-right
    Account Holder Name:
  .prefill_label.col-md-6.text-left
    = recipient_info.name
.row
  .form_label.col-md-4.col-md-offset-1.text-right
    Bank Account Number:
  .prefill_label.col-md-6.text-left
    ********
    = recipient_info.active_account.last4
.row
  .form_label.col-md-4.col-md-offset-1.text-right
    Verified:
  .prefill_label.col-md-6.text-left
    - if recipient_info.active_account.verified
      VERIFIED
    - else
      PENDING
.row.text-center
  %button.btn.btn-primary.bank_change_btn
    CHANGE