#waiver_new
  .row
    .col-md-4.col-md-offset-4.paypal_update_notice.waiver-alert.alert.alert-warning.text-center{style: "display: none;"}

  - if @adventure.waiver_id
    = render :partial => 'update_waiver'

  - else
    = render :partial => 'new_waiver'
