#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    .tab-content
      #adv_basics.tab-pane.fade.in.active
        %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_edit_form"}
          = tag(:input, :type => "hidden", :value => "put", :name => "_method")
          = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
          .panel.panel-default 
            .panel-heading.text-center
              Gallery
            .panel-body
              .form-group.row
                .col-md-4
                  .form_label.text-right gallery Images
                .col-md-6
                  %input.form-control.show_ml{type: "file", required: "required", name: "adventure[gallery_images]", id: "adv_images"}

                
:javascript
  adventureCreate();
