#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_itinerary
      
      .panel.panel-default
        .panel-heading.text-center.section_header
          ITINERARY
        .panel-body
          - if @adventure.itineraries.empty?
            = render partial: "itinerary_form"
          - else
            = render partial: "itinerary_form"
        .panel-footer.text-center
          %a.btn.btn-primary.preview_btn{href: "#"}
            NEXT
         

:javascript
  adventureCreate();