$('#add-bank-form').remove()
$('#bank-tree-container .row').first().append("<div id='updated-bank-form'></div>")
$("#updated-bank-form").html("<%= escape_javascript(render(partial: 'updated_bank_form', locals: {recipient_info: @recipient})) %>")
$('#add-bank').click()
$('.bank_change_btn').hide()
$('#adv_payment .update_notice').fadeIn();

// $('#add-bank').show()
// $('#add-bank-form').hide()
