#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_payment
      .panel.panel-default
        .panel-heading.text-center.section_header
          PAYMENT
        .panel-body
          - if notice
            .col-md-6.col-md-offset-3.text-center
              .update_notice.alert.alert-warning
                = notice
          %form
            %input{type: 'hidden', name: 'recipient[email]', value: "#{current_user.email}"}

            #add-card{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add a Card"}
              .glyphicon.glyphicon-plus 
              .glyphicon.glyphicon-credit-card

            #add-card-form
              .form-group.row
                .col-md-4
                  .form_label.text-right Full Name
                .col-md-6
                  %input{type: 'hidden', name: 'recipient[type]', value: 'individual'}
                  %input{type: 'hidden', name: 'recipient[tax_id]', value: ''}
                  %input.form-control.show_ml{type: "text", placeholder: "First Middle Last", required: "required", name: "recipient[cardholders_name]", id: "full_name"}

              .form-group.row
                .col-md-4
                  .form_label.text-right Card Number
                .col-md-6
                  %input.form-control.show_ml{type: "text", placeholder: 'xxxx-xxxx-xxxx-xxxx', required: "required", name: "recipient[credit_card_number]", id: "adv_location", maxlength: "16"}

              .form-group.row
                .col-md-4
                  .form_label.text-right CVV
                .col-md-6
                  %input.form-control.show_ml{type: "text", placeholder: 'XXX', required: "required", name: "recipient[cvv]", id: "adv_location", maxlength: "3"}

              .form-group.row
                .col-md-4
                  .form_label.text-right Card Expiration
                .col-md-2
                  .form-group
                    %label Exp Month
                    %input.form-control{placeholder: "MM", type: "text", required: "required", maxlength: "2"}
                .col-md-2
                  .form-group
                    %label Exp Year
                    %input.form-control{placeholder: "YYYY", type: "text", required: "required", maxlength: "4"}
                .col-md-2
                  .form-group
                    %label CVV
                    %input.form-control{placeholder: "Ex. 331", type: "text", required: "required", maxlength: "3"}

              .form-group.row.save
                %input.btn.btn.btn-primary{name: "commit", type: "submit", value: "Save Card"}
            
          %form
            %input{type: 'hidden', name: 'recipient[email]', value: "#{current_user.email}"}
          
            #add-bank{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add a Bank account"}
              .glyphicon.glyphicon-plus
              .glyphicon.glyphicon-hdd


            #add-bank-form
              .form-group.row
                .col-md-4
                  .form_label.text-right Bank account name
                .col-md-6
                  %input.form-control.show_ml{type: "text", placeholder: "John Doe", required: "required", name: "recipient[bank_account_name]", id: "full_name"}

              .form-group.row
                .col-md-4
                  .form_label.text-right Routing Number
                .col-md-6
                  %input.form-control.show_ml{type: "text", placeholder: "xxx xxx xxx", required: "required", name: "recipient[bank_routing_number]", id: "full_name"}

              .form-group.row
                .col-md-4
                  .form_label.text-right Account Number
                .col-md-6
                  %input.form-control.show_ml{type: "text", required: "required", name: "recipient[bank_routing_number]", id: "full_name"}

              .form-group.row.save
                %input.btn.btn.btn-primary{name: "commit", type: "submit", value: "Save Bank account"}/

            
            
        .panel-footer.text-center
          %a.btn.btn-primary.preview_btn{href: "/adventure_steps/publish?adventure_id=3"}
            NEXT

         

:javascript
  adventureCreate();


  $('[data-toggle="tooltip"]').tooltip({
    animated: 'fade',
  });

  $('#add-bank').click(function(){
    $('#add-bank-form').toggle()
  })

  $('#add-card').click(function(){
    $('#add-card-form').toggle()
  })