- set_meta_tags(default_meta_tags)

#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_payment
      .panel.panel-default
        .panel-heading.text-center.section_header
          PAYMENT DETAILS
        .panel-body

          .payout_options_btns
            = render partial: "payout_options_btns"

        .panel-footer.text-center
          .row
            .col-md-2.col-md-offset-4
              %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                %i.fa.fa-eye
                PREVIEW
            .col-md-2
              %a.btn.btn-primary.preview_btn{href: "/adventure_steps/publish?adventure_id=#{@adventure.id}"}
                NEXT

         

:javascript
  adventureCreate();
  getStripeToken_bank();
  getStripeToken_subscription();
  paypal_forms_control();

  $('[data-toggle="tooltip"]').tooltip({
    animated: 'fade'
  });

