#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_schedule
      .panel.panel-default
        .panel-heading.text-center.section_header
          SCHEDULE
        .panel-body
          .col-md-6.col-md-offset-3
            .well.how_to
              .container
                .row
                  .col-md-1
                    %strong
                      CREATE
                  .col-md-4
                    Click when you want to host your Adventure. Thats it!
                .row
                  .col-md-1
                    %strong
                      DELETE
                  .col-md-4
                    Click on the existing Adventure. Confirm OK!
                .row
                  .col-md-1
                    %strong
                      UPDATE
                  .col-md-4
                    Drag and drop the Adventure anywhere on the calendar


          #calendar
            
        .panel-footer.text-center
          .row
            .col-md-2.col-md-offset-4
              %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                %i.fa.fa-eye
                PREVIEW
            .col-md-2
              %a.btn.btn-primary.preview_btn{href: "/adventure_steps/payment?adventure_id=#{@adventure.id}"}
                NEXT


         

:javascript
  adventureCreate();
  adventureSchedule(#{@adventure.id});