
#about {
   padding-top: 80px;

  .jumbotron {
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
    height: 450px;
  	margin-top: -30px;
  }


  h3 {
    color: #fff;
    opacity: 0.8;
    margin-bottom: 0px !important;
    font-family: bebas_neue_book;
    font-weight: bold;
    letter-spacing: 2px;
  }

  h4 {
    color: $advlo_orange;
    font-style: italic;
  }

  .border {
  	border: 1px solid $light_gray;
  }

  .about-wrapper {
  	background-image: asset-url('cartographer_small.png');
  	padding-top: 20px;
  	padding-bottom: 20px;

    .mission_statement {
    	font-size: 1.5em;
      color: #FFF !important;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .panel {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }

  .text-brick {
    font-size: 18px;
    line-height: 22px;
    font-family: 'nexa_light';
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;

    .self-bio {
      margin: 25px;
      font-size: 15px;
    }
  }


  h3 {
  	font-family: 'nexa_light';
  	font-size: 2.2em;
  	margin-bottom: 20px;
  }

  #contact-advlo {
    display: none;
    margin-bottom: 25px;

    p {
      color: #fff;
      font-size: 19px;
      font-family: 'nexa_light' !important;
      opacity: 0.8;
    }
  }

  #leave-a-note {
    margin-top: 25px;
    margin-bottom: 50px;
    p{
      font-size: 24px;
      display: inline;
      font-family: 'nexa_light' !important;
      color: $advlo_orange;
      cursor: pointer;
    }
  }

  #about-us-contact {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 1.6em;
    background-color: transparent;
    background: rgba(0,0,0,0.2);
    border-color: $login_btn_color;
    padding: 10px 20px;
    border: 5px solid $orange;
    opacity: 0.75;

    &:hover {
      border-color: $advlo_orange;
    }
  }

  .press {
    background: $lighter_gray;
    padding-top: 10px;
    padding-bottom: 30px;

    h3 {
      font-size: 2.0em;
      font-family: cabin_bold;
      margin-bottom: 30px !important;
      color: $dark_gray;
    }

    .tnooz {
      img {
        padding-top: 17px;
        width: 115px;
        margin: 10px auto;
      }
    }

    .about {
      img {
        padding-top: 10px;
        width: 125px;
        margin: 10px auto;
      }
    }

    .teton {
      img {
        width: 110px;
        margin: 10px auto;
      }
    }

    .skift {
      img {
        width: 80px;
        margin: 10px auto;
      }
    }

    .clapway {
      img {
        padding-top: 25px;
        width: 140px;
        margin: 10px auto;
      }
    }

    .uc {
      img {
        width: 95px;
        margin: 10px auto;
      }
    }

  }

}

