.box {
  position: relative;
  float: left;
  width: 100%;
}

.business_page {
  width: 100%;

  .why_host {
    margin-bottom: 20px;
    font-size: 2.8em;
    color: #FFF;
    padding-top: 36px;
  }
  
  .left-side-line {
    margin-top: 55px;
    border-top: solid 2px #000;
    width: 30%;
    float: left;
  }

  .big-headline {
    font-size: 35px;
    margin-top: 27px;
    margin-bottom: 20px;
    position: relative;
    width: 40%;
    float: left;
  }

  .full {
    width: 100%;
  }

  .headline-container {
    position: relative;
    float: left;
    width: 100%;
  }

  .right-side-line {
    margin-top: 55px;
    border-top: solid 2px #000;
    width: 30%;
    float: right;
  }

  .lightline {
    border-top: solid 2px #fff;
  }

  .lightheading {
    color: #333333;
    text-align: center;
    font-family: nexa_light;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
  }

  .benefits  {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .orange-line {
    border-top: 5px solid #C35B26;
  }

  .green-line {
    border-top: 5px solid #699967;
  }

  .row {
    margin: 2%;
    margin-bottom: 30px;
  }


  h1 {
    margin-top: 5px;
  }  

  .btn-default {

    width: 250px;
  }

  .dark_background {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background: whitesmoke;
  }

  .whatisadvlo {
    font-family: nexa_light;
    font-size: 1.8em;
    color: #333333;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 24px;
    letter-spacing: 2px;
  }

  .whatisadvlodescription {
    font-family: cabin-regular;
    color: #333333;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 70px;
  }

  .benefits {
    width: 100%;
    background-color: #333333;
  }

  .adventure-spec {
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    float: left;
    padding-left: 0px;
    padding-right: 0px;

    .how-it-works-block {
      float: left;
      margin-bottom: 25px;
      padding-top: 20px;
      padding-bottom: 20px;

    }

    .fa {
      float: left;
      font-size: 66px;
      margin-bottom: 20px;
      width: 100%;
      color: #fff;
    }

    .feature-text {
      font-family: 'nexa_bold';
      text-transform: uppercase;
      font-size: 28px;
      width: 100%;
      color: #c35b26
    }

    .feature-list {
      .feature {
        float: left;
        font-size: 22px;
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
        letter-spacing: 1px;
        cursor: pointer;

        .fa {
          font-size: 20px;
          width: auto;
        }
      }
    }

    .headlines {
      margin: 10px;
      font-size: 20px;
      float: left;
      text-align: center;
      color: #fff;
    }

    .price-box {
      margin-top: 50px;
      position: relative;
      float: left;
      width: 100%;
      height: 100%;

      .price-title {
        font-family: 'bebas_neue_bold';
        letter-spacing: 2px;
        font-size: 2.8em !important;
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid #000;
        color: $advlo_orange;
      }

      .price {
        font-family: 'cabin_regular';
        font-size: 35px;
      }
      .price-explain {  
        font-family: 'cabin_regular';
        font-size: 18px;
        color: $advlo_orange;
      }

    }
  }

  .main, .mobile-main {
    line-height: 120%;
    cursor: pointer;
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'nexa_bold';
    letter-spacing: 1px;
    text-transform: uppercase;
  }


  .sub {
    color: #fff;
    font-family: 'cabin_regular';
    text-transform: none;
  }

  .active {
    color: $advlo_orange;
  }

  .sub {
    font-size: 16px;
    color: #666666;
  }

  .mobile-wrapper {
    max-height: 600px;
  }

  .gallery {

    #computer {
      position: relative;
      float: left;
      left: 63px;
      img {
        width: 499px !important;
        height: 293px !important;
      }
    }
    .swiper-container-comp {
      position: absolute;
      top: 22px;
      width: 376px;
      margin-left: 126px;
      height: 234px;
    }
    .swiper-wrapper {

      .swiper-slide {

        .image-wrapper {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          cursor: pointer;
        }
      }
    }
  }

  li {
    list-style: none;
    text-align: left;
    color: #fff;
    font-size: 24px;
    color: #333333;
  }


  #business-info {
    display: none;
  }
}

.case_studies {
  margin-bottom: 50px;
}

.guide-button {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 12px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  border: none;
  font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-transform: capitalize;
  -o-text-overflow: clip;
  text-overflow: clip;
  background-color: rgba(195,91,38, 0.9);

  .title {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 5%;
    font-family: nexa_light;
    line-height: 33px;
    letter-spacing: 2px;
    font-weight: bold
  }
}


.guide-button:hover {
  background-color: rgba(134,61,24, 0.8);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: all 0.3s ease 0s;;
}

.guide-button:active {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 0 #a65200;
  box-shadow: 0 3px 0 0 #a65200;
}

.guide-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.2);
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("http://enjoycss.com/bg-img/custom/21875-v2clm0.png"), rgba(0,0,0,0.05);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 30px auto;
  background-size: 30px auto;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.green-button {
  background: rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 5px 0 0 #1E824C;
  box-shadow: 0 5px 0 0 #1E824C;
}


.green-button:hover {
  background: #90C695;
  -webkit-box-shadow: 0 5px 0 0 #1E824C;
  box-shadow: 0 5px 0 0 #1E824C;
}

.green-button:active {
  -webkit-box-shadow: 0 3px 0 0 #1E824C;
  box-shadow: 0 3px 0 0 #1E824C;
}

.premium {
  position: relative;
  float: left;
  border: 2px solid #000;
  margin-bottom: 25px;
  border-radius: 10px;
}



.left-local {
  width: 30%;
  margin: 0px auto;
  height: 60px;
}
.right-business {
  width: 30%;
  margin-right: 10%;
  float: right;
  height: 100px;
}

.mobile-barrier {
  display: none;
}


@media screen and(max-width: 1315px ){
  .business_page .sub {
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 8px;
    font-size: 14px;
  }
}


@media screen and(max-width: 992px ){
  
  .business_page{
  
    .big-headline {
      width: 60%;
    }
  }

  .business_page .adventure-spec .how-it-works-block {
    float: none;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .business_page .adventure-spec .headlines {
    float: none;
  }

  .left-local {
    margin-top: 0px;
  }

  .business_page .why_host {
    margin-bottom: 0px;
  }
  
  .business_page .left-side-line { 
    width: 20%
  }
  .business_page .right-side-line { 
    width: 20%
  }
  .business_page .headline {
    width: 60%;
    font-size: 15px;
    margin-top: 33px;
  }

  .left-local {
    width: 48%;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .guide-button {
    .title {
      margin-top: 17px;
      font-size: 30px;
    }
  }

  .right-business {
    width: 80%;
  }
  
}
.bottom-row {
  margin-top: 50px;
}


@media screen and(max-width: 600px){

  .desktop {
    display: none;
  }

  .business_page .mobile-main {
    line-height: 100%;
    cursor: pointer;
    font-size: 0.6em;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'nexa_bold';
    text-transform: uppercase;
    text-align: center;
    padding-right: 24px;
    padding-left: 24px;
  }

  .mobile-barrier {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid whitesmoke;
  }

  .business_page .whatisadvlodescription {
    font-family: cabin_regular;
    font-size: 1em;
  }

  .business_page .why_host {
    padding-top: 0px;
  }

  .left-local {
    width: 100%;
  }

  .guide-button {
    height: 40px;
    min-width: 200px;

    .title {
      letter-spacing: 1px;
      font-size: 16px;
      margin-top: 6px;
    }
  }

  .business_page .adventure-spec .headlines {
    font-size: 1em;
  }

  .business_page .why_host {
    font-size: 2.2em;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 80px;
  }

  .business_page .lightheading {
    font-size: 2em;
    margin-bottom: 60px;
    margin-top: 0px;
  }

  .more-info-box {
    display: none;
  }

  .col {
    padding: 0px !important;
  }
}

@media screen and(max-width: 450px){
  .business_page .why_host {
    font-size: 1.5em;
  }
}