@import "adventure/index";
@import "adventure/show";
@import "adventure/create";
@import "adventure/hosting_info";
@import "adventure/request_info";
@import "adventure/reservations";



@media screen and (max-width: 1335px){
  
  .request_block #request-adv-text {
    bottom: 5px;
  }

  .adventure-container .brick-wrapper .adventure-brick .guide-image {
    position: relative;
    top: 10%;
    width: 120px;
    height: 120px;
  }
  .brick-wrapper .hover-block {
    height: 137px;
  }

  .adventure-container .brick-wrapper .adventure-brick .image-wrapper .copy-container {
    height: 32%;
  }
}

.active-filter {
  background-color: #C35B26;
}