.box {
  position: relative;
  float: left;
  width: 100%;
}

.business_page {

  .why_host {
    text-shadow: -1px -1px 5px #000;
    margin-bottom: 50px;
    font-size: 2.8em;
    color: #FFF;
  }
  
  .left-side-line {
    margin-top: 55px;
    border-top: solid 2px #000;
    width: 30%;
    float: left;
  }

  .headline {
    font-size: 35px;
    margin-top: 27px;
    margin-bottom: 20px;
    position: relative;
    width: 40%;
    float: left;
  }

  .full {
    width: 100%;
  }

  .headline-container {
    position: relative;
    float: left;
    width: 100%;
  }

  .right-side-line {
    margin-top: 55px;
    border-top: solid 2px #000;
    width: 30%;
    float: right;
  }

  .lightline {
    border-top: solid 2px #fff;
  }

  .lightheading {
    color: #fff;
    text-align: center;
  }

  .brick-padding  {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .orange-line {
    border-top: 5px solid #C35B26;
  }

  .green-line {
    border-top: 5px solid #699967;
  }

  .row {
    margin: 2%;
    margin-bottom: 30px;
  }


  h1 {
    margin-top: 5px;
  }  

  .btn-default {

    width: 250px;
  }

  .dark_background {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

  .adventure-spec {
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;

    .how-it-works-block {
      float: left;
      margin-bottom: 25px;
    }

    .fa {
      float: left;
      font-size: 35px;
      margin-bottom: 10px;
      width: 100%;
    }

    .feature-text {
      font-family: 'nexa_light';
      font-size: 24px;
      width: 100%;
    }

    .headlines {
      margin: 10px;
      font-size: 20px;
      float: left;
      text-align: center;
    }

    .price-box {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;

      .price-title {
        font-family: 'bebas_neue';
        font-size: 24px;
        margin-bottom: 10px;
        border-bottom: 1px solid #000;
      }
      .price {
        font-family: 'cabin_regular';
        font-size: 24px;
      }
      .price-explain {  
        font-family: 'nexa_light';
        font-size: 20px;
      }

      .pricing-info-list {
        width: 55%;
        margin: 0 auto;
        position: relative;
        margin-top: 25px;

        li {
          font-size: 20px;
          margin-bottom: 10px;
          line-height: 35px;
          color: #000;
        }
      }
    }
  }

  .main, .mobile-main {
    line-height: 120%;
    cursor: pointer;
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'nexa_light';
    letter-spacing: 1px;
  }


  .sub {
    color: #fff;
    font-family: 'cabin_regular';
  }

  .active {
    color: $advlo_orange;
  }

  .sub {
    font-size: 16px;
  }

  .mobile-wrapper {
    max-height: 600px;
  }

  .gallery {

    #computer {
      img {
        max-width: 100%;
      }
    }
    .swiper-container-comp {
      position: absolute;
      top: 28px;
      height: 81%;
      width: 71%;
      margin-left: 12%;
    }
    .swiper-wrapper {
      height: 100%;
      width: 100%;

      .swiper-slide {
        width: 100%;
        height: 100%;

        .image-wrapper {
          cursor: pointer;
          background-size: cover;
        }
      }
    }
  }

  li {
    list-style: none;
    text-align: left;
    color: #fff;
    font-size: 24px;
  }

  #individual-info {
    display: none;
  }
  #business-info {
    display: none;
  }
}

.guide-button {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  border: none;
  font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-transform: capitalize;
  -o-text-overflow: clip;
  text-overflow: clip;

  background: $advlo_orange;
  -webkit-box-shadow: 0 5px 0 0 #a65200;
  box-shadow: 0 5px 0 0 #a65200;

  text-shadow: 0 1px 1px rgba(87,151,180,0.36) ;
  -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);


  .title {
    color: #fff;
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
    font-family: bebas_neue;
    text-shadow: -1px -1px grey;
    line-height: 33px;
    letter-spacing: 5px;
  }
}


.guide-button:hover {
  background: #F27935;
  -webkit-box-shadow: 0 5px 0 0 #a65200;
  box-shadow: 0 5px 0 0 #a65200;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.guide-button:active {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 0 #a65200;
  box-shadow: 0 3px 0 0 #a65200;
}

.guide-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.2);
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("http://enjoycss.com/bg-img/custom/21875-v2clm0.png"), rgba(0,0,0,0.05);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 30px auto;
  background-size: 30px auto;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.green-button {
  background: $advlo_green;
  -webkit-box-shadow: 0 5px 0 0 #1E824C;
  box-shadow: 0 5px 0 0 #1E824C;
}


.green-button:hover {
  background: #90C695;
  -webkit-box-shadow: 0 5px 0 0 #1E824C;
  box-shadow: 0 5px 0 0 #1E824C;
}

.green-button:active {
  -webkit-box-shadow: 0 3px 0 0 #1E824C;
  box-shadow: 0 3px 0 0 #1E824C;
}


.left-local {
  width: 30%;
  margin-left: 10%;
  float: left;
  height: 100px;
}
.right-business {
  width: 30%;
  margin-right: 10%;
  float: right;
  height: 100px;
}



@media screen and(max-width: 1315px ){
  .business_page .sub {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 14px;
  }
}


@media screen and(max-width: 992px ){

  .business_page .adventure-spec .how-it-works-block {
    float: none;
    margin-top: 35px;
  }

  .business_page .adventure-spec .headlines {
    float: none;
  }

  .left-local {
    margin-top: 0px;
  }

  .business_page .why_host {
    margin-bottom: 0px;
  }
  
  .business_page .left-side-line { 
    width: 20%
  }
  .business_page .right-side-line { 
    width: 20%
  }
  .business_page .headline {
    width: 60%;
    font-size: 27px;
    margin-top: 33px;
  }

  .left-local {
    width: 80%;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .guide-button {
    .title {
      margin-top: 7%;
      font-size: 30px;
    }
  }

  .right-business {
    width: 80%;
  }
  
  #computer {
    img {
      visibility: hidden;
      margin-bottom: 30px;
    }
  }
}
.bottom-row {
  margin-top: 50px;
}


@media screen and(max-width: 600px){

  .guide-button {
    .title {
      margin-top: 10%;
      font-size: 24px;
    }
  }
  .business_page .why_host {
    font-size: 1.5em;
    margin-bottom: 0px;
  }

  .guide-button {
    height: 68px;
  }

  .more-info-box {
    display: none;
  }

  .col {
    padding: 0px !important;
  }

}
