/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require main
 *= jquery.ui.all
 *= require font-awesome
 *= require idangerous.swiper
 *= require datepicker
 *= require fullcalendar
 *= require bootstrapValidator.min
 *= require jquery.timepicker
 *= require rails_bootstrap_forms
 */


#loader-overlay{
  display: none;
  position: fixed;
  top:0;
  left:0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}



body {
 background: asset_url('cartographer_small.png');
}


#adventure-partial {
  background: asset_url('cartographer_small.png');
}

.error-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;

  .sorry-charlie {
    position: absolute;
    top: 71px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #fff;
    background: rgba(0,0,0, 0.85);
    margin: 0 auto;
  }
}

.tiny_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}