/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require main
 *= jquery.ui.all
 *= require font-awesome
 *= require idangerous.swiper
 *= require datepicker
 *= require fullcalendar
 *= require bootstrapValidator.min
 *= require jquery.timepicker
 *= require rails_bootstrap_forms
 *= require star-rating.min
 *= require bootstrap-image-gallery.min
 *= require blueimp-gallery
 */

#feedback-button {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 150px;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
  border-top-left-radius: 25px;

  #text {
    margin-top: 10px;
    font-family: 'nexa_light';
    margin-left: 35px;
    letter-spacing: 2px;
  }
  #text:hover{
    margin-left: 25px;
    letter-spacing: 5px;
  }
}


#loader-overlay {
  display: none;
  position: fixed;
  top:0;
  left:0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#loader-spinner{
  top: 40%;
  left: 45%;
  width: 100%;
  height: 100%;
  position: fixed;
  background: asset_url('loading.gif');
  background-repeat: no-repeat;
}


body {
 background: asset_url('cartographer_small.png');
}


.error-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;

  .sorry-charlie {
    position: absolute;
    top: 71px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #fff;
    background: rgba(0,0,0, 0.85);
    margin: 0 auto;
  }
}

.tiny_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.alert-warning {
  background-color: rgba(0,0,0, 0.65) !important;
  border-color: #000 !important;
  color: #fff !important;
  font-family: 'nexa_light' !important;
  font-size: 18px !important;

  button{
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.alert-info {
  color: #fff !important;
}

.password-reset-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  color: #fff;
  font-family: 'nexa_light';

  label {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.cap-max-error {
  color: #a94442;
  font-size: 85%;
}
.agree-to-terms {
  width: 65%;
  margin: 0 auto !important;
}
.agree-to-cancel {
  color: #fff;
}
.geo-complete-errors {
  color: #a94442;
  margin-top: 5px;
  font-size: 85%;
}