/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require main
 *= jquery.ui.all
 *= require font-awesome
 *= require idangerous.swiper
 *= require datepicker
 *= require fullcalendar
 *= require bootstrapValidator.min
 *= require bootstrap-multiselect.min
 *= require rails_bootstrap_forms
 */


#loader-overlay{
  display: none;
  position: fixed;
  top:0;
  left:0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}
#loader-spinner{
  position: absolute;
  z-index: 9001;
  top:50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-image: asset-url("spinner-white.gif");
  margin-left: -20px; /* -1 * image width / 2 */
  margin-top:  -20px; /* -1 * image height / 2 */
  animation: rotation 0.8s infinite linear;
  -webkit-animation: rotation 0.8s infinite linear;
  -moz-animation: rotation 0.8s infinite linear;
}