.blog-page-wrapper {
  position: relative;
  float: left; 
  width: 100%;
  height: 100%;
  margin-top: 65px;
  margin-bottom: 25px;

  .divider {
    border: 1px solid $lighter_gray;
    margin: 20px 0;
    position: relative; 
    float: left;
    width: 100%;
  }

  .blogpage-title {
    border-bottom: 2px solid #000;
    margin-top: 18px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: bebas_neue;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }

  .social-container {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 10px;

    .follow {
      display: block;
      float: left;
      width: 25%;
      text-align: center;
    }
    .follow:hover {
      opacity: 0.8;
    }
  }

  .blogpost-title-container {
    margin-bottom: 30px;
    margin-left: 5px;
    padding-right: 15px;
  }
  .blog-link {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 13px;
    text-transform: capitalize;
    font-family: cabin_regular;
  }

  .blog-date {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: -5px;
    border-bottom: 1px solid #000;
  }

  a{
    color: #000;
  }

  a:hover {
    text-decoration: none;
  }

  .blog-link:hover {
    text-decoration: none;
    opacity: 0.5;
  }        

  .static-leftbar {
    position: fixed;
    left: 0px;
    top: 65px;
    width: 16.6666666667%;
    max-height: 80%;
    background: whitesmoke;
  }

  .mobile-blog-list {
    display: none;
  }

  #right-sidebar-container {
    height: 100%;
    background: whitesmoke;

  }

  .twitter-share-button {
    width: 80px;
  }

  .blogpost-container {
    padding-left: 25px;

    .blog-header-title {
      position: relative;
      float: left;
      width: 100%;
      color: #000;
      background: whitesmoke;
      font-size: 30px;
      letter-spacing: 2px;
      font-family: bebas_neue;
      text-align: center;
      color: #000;
      margin-bottom: 5px;
      padding-top: 8px;
    }

    .blogpost {
      position: relative;
      float: left;
      width: 100%;
      background: whitesmoke;
      margin-bottom: 10px;
      border-radius: 2px;

      .blog-image {
        max-height: 350px;
        overflow: hidden;
        position: relative;
        float: left;
        width: 45%;
        margin: 2.5%;

        img {
          width: 100%;
        }
      }

      .blog-preview {
        float: right;
        width: 50%;
        position: relative;
        margin-top: 20px;
        margin-bottom: 27px;
        height: 100%;
        color: #000;
        line-height: 30px;

        .title {
          font-family: 'bebas_neue_book';
          font-size: 30px;
          margin-top: 5px;
          text-decoration: underline;
        }
        .author {
          font-style: italic;
          font-size: 0.9em;
        }
        .excerpt {
          font-family: 'cabin_regular';
          font-size: 16px;
          margin-top: 10px;
          line-height: 22px;
          padding-right: 15px;
        }
      }

      .read-more { 
        position: absolute; 
        bottom: 0; left: 0;
        width: 100%; 
        text-align: center; 
        margin: 0; padding: 30px 0; 
        
        /* "transparent" only works here because == rgba(0,0,0,0) */ 
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, whitesmoke));
        background-image: -webkit-linear-gradient(top, transparent, whitesmoke);
        background-image: -moz-linear-gradient(top, transparent, whitesmoke);
        background-image: -ms-linear-gradient(top, transparent, whitesmoke);
        background-image: -o-linear-gradient(top, transparent, whitesmoke);
      }

      .read-more-text {
        position: relative;
        float: left;
        color: #000;
        font-size: 20px;
        color: #000;
        font-family: 'bebas_neue';
        letter-spacing: 1px;
        margin-top: 15px;
      }

      .blog-post-date {
        font-style: italic;
        font-size: 0.9em;
        float: right;
        position: absolute;
        bottom: 10px;
        right: 15px;
      }
    }

  }

  #related-adventures-container {
    height: 100%;
    background: whitesmoke;
    margin-top: 5px;
    float: left;
    position: relative;

    #adventures-container {
      position: relative;
      width: 100%;
      float: left;

      .adventure-block {
        .photo {
          margin: 10px 10px 10px 0px;

          img {
            width: 100%;
          }
        }
      }
      .title {
        font-size: 10px;
        font-weight: bold;
        font-family: 'nexa_light';
      }
      a {
        color: #000;
      }
      a:hover {
        opacity: 0.75;
      }
    }
  }
}

.recent-adventure-wrapper {

  .adventure {
    width: 50%;
    float: left;
    height: 100%;
    margin-bottom: 25px;

    .title {
      width: 90%;
      font-size: 10px;
    }

    .photo {
      margin: 10px 10px 10px 0px;

      img {
        width: 100%;
      }
    }
  }

  a {
    color: #000;
  }
  a:hover {
    opacity: s.75;
  }
}

nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

.share-block {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0,0,0,0.3);
}

#right-sidebar-container {
  height: 100%;
  background: whitesmoke;

  #right-content-container {
    position: relative;
    width: 100%;
    float: left;
    margin-right: 10px;

    .side-item {

      img {
        width: 100%;
      }
      a {
        font-size: 12px;
        font-family: 'nexa_light';
        font-weight: bold;
      }
    }
    .side-item:hover {
      opacity: 0.7;
    }
  }
}

.side-brick {
  position: relative;
  float: left;
  width: 100%;

  .photo {
    margin: 5px 10px 10px 0px;
    width: 90%;
    height: 110px;

    background-size: cover !important;
  }

  .location-name {
    text-align: center;
    font-size: 18px;
    font-family: 'bebas_neue';
    letter-spacing: 6px;
    position: relative;
    margin-right: 10px;
    color: #000;
  }
  .title {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 991px){
  #right-sidebar-container {
    display: none;
  }

  .blog-page-wrapper .divider {
    display: none !important;
  }
  .side-brick {
    height: 200px;
    width: 200px;
  }
  .blog-page-wrapper #related-adventures-container {
    margin-top: 0px;
    width: 100%;
  }

  .blog-page-wrapper .social-container .follow {
    margin-top: 7px;
  }


  .blog-page-wrapper .mobile-blog-list {
    position: relative;
    width: 100%;
    float: left;
    background: whitesmoke;
    height: 50px;
    margin-bottom: 5px;
  }

  .blog-page-wrapper .mobile-blog-list {
    display: block;
  }
  .static-leftbar {
    display: none;
  }

  #disqus_thread {
    position: relative;
    float: left;
    width: 85%;
    margin: 0 auto;
  }

  #blog-index-wrapper .blogpost-container .blogpost .blog-image {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: none;
  }

  #blog-index-wrapper .blogpost-container .blogpost .blog-preview {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  #blog-index-wrapper .blogpost-container .blogpost .share-block {
    position: relative;
    float: left;
    width: 88%;
    margin-bottom: 8px;
    margin-left: 23px;
    margin-top: 12px;
  }

  .blog-show-wrapper .post-wrapper .blog-body {
    float: none !important;
    width: 85% !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 500px){
  .blog-show-wrapper .post-wrapper .blog-body img {
    max-width: 100% !important;
    float: left !important;
    margin: 5% !important;
    width: 90% !important;
  }

  .blog-page-wrapper .blogpost-container .blogpost .blog-preview .excerpt {
    display: none;
  }

  .blog-show-wrapper .post-wrapper .blog-image-wrapper {
    width: 90% !important;
  }
}

.blog-show-wrapper {

  position: relative;
  float: left;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 0px;
  background: whitesmoke;  

  .post-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;

    .blog-title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 5px;
      text-align: center;
      font-size: 3em;
      font-family: 'bebas_neue';
      letter-spacing: 1px;
    }

    .blog-date {
      margin-top: 1px;
      margin-bottom: 15px; 
      font-style: italic;
      border: none;
    }

    .social_share_icons {
      border-bottom: 1px solid $dark_gray;
      padding-bottom: 10px;
      margin-bottom: 10px;

      .social_btn {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 15px;
      }

      .fb {
        color: #FFF;
        background-color: #3B5998;
        border-color: #3B5998;

        &:hover {
          opacity: 0.8;
        }          
      }

      .twitter_blog {
        color: #FFF;
        background-color: #30D8F0;
        border-color: #30D8F0;

        &:hover {
          opacity: 0.8;
        }
      }

      .gp {
        color: #FFF;
        background-color: #d34836;
        border-color: #d34836;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .fa-arrow-circle-left {
      font-size: 30px;
      position: absolute;
      top: 45px;
      left: 0px;
      cursor: pointer;
    }
    .fa-arrow-circle-right {
      font-size: 30px;
      position: absolute;
      top: 45px;
      right: 0px;
      cursor: pointer;
    }

    .blog-body {
      position: relative;
      float: left;
      margin-bottom: 30px;

      p {
        line-height: 25px;
      }

      a {
        color: $advlo_orange;
        letter-spacing: 1px;
      }
      a:hover {
        opacity: 0.7;
      }
    
      img {
        max-width: 400px;
        float: left;
        margin: 20px;
      }
    }

    .blog-image-wrapper {
      position: relative; 
      float: left;
      width: 50%;
      text-align: left;
      margin-bottom: 30px;

      .blog-image {
        height: 220px;
        width: 90%;
        overflow: hidden;
        background-size: cover !important;
      }

      .blog-image-title {
        font-family: 'bebas_neue';
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 10px;
      }
      .blog-image-excerpt {
        font-family: 'nexa_light';
        font-size: 14.5px;
        width: 90%;
        color: #000;

        a {
          text-decoration: underline;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }

    .blog-video-wrapper { 
      margin-top: 30px;
      margin-bottom: 30px;

      iframe { 
        margin: 0 auto;
        width: 100%;
        max-width: 850px;
      }
    }
  }
}
