#blog-index-wrapper {
  position: relative;
  float: left; 
  width: 100%;
  height: 100%;
  margin-top: 65px;
  margin-bottom: 25px;

  #left-sidebar-container {
    height: 500px;
    background: #fff;
  }
  #right-sidebar-container {
    height: 500px;
    background: #fff;
  }


  .blogpost-container {
    .blogpost {
      position: relative;
      float: left;
      width: 100%;
      background: whitesmoke;
      margin-bottom: 10px;

      .blog-image {
        position: relative;
        float: left;
        width: 45%;
        margin: 2.5%;

        img {
          width: 100%;
        }
      }

      .blog-preview {
        float: right;
        width: 50%;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 100%;

        .title {
          font-family: 'bebas_neue_book';
          font-size: 30px;
        }
        .excerpt {
          font-family: 'nexa_light';
          font-size: 18px;
        }
      }
    }
  }
  .share-block {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 23px;
  }

  #right-sidebar-container {
    height: 100%;
    background: #fff;

    #instagram-container {
      position: relative;
      width: 100%;
      float: left;

      .insta-post {
        .photo {
          margin: 10px 10px 10px 0px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  nav.share {display:inline-block;} /* shareable's nav tag */
  nav.share div {float:left;}
  nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
  #___plusone_0 {font-size: default !important;}
  .fb_iframe_widget span { vertical-align: top; }
  .fb_edge_widget_with_comment { vertical-align: top;}
  .fb-like{display:inline-block}
  * html .fb-like{display:inline}/* ie6 inline block fix*/
  *+html .fb-like{display:inline}/* ie7 inline block fix*/
}

@media screen and (max-width: 991px){
  #right-sidebar-container {
    display: none;
  }

  #blog-index-wrapper .blogpost-container .blogpost .blog-image {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: none;
  }

  #blog-index-wrapper .blogpost-container .blogpost .blog-preview {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  #blog-index-wrapper .blogpost-container .blogpost .share-block {
    position: relative;
    float: left;
    width: 88%;
    margin-bottom: 8px;
    margin-left: 23px;
    margin-top: 12px;
  }
}



#blog-show-wrapper {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 25px;
  background: whitesmoke;  

  .post-wrapper {

    .blog-title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 3em;
      font-family: 'bebas_neue';
      letter-spacing: 1px;
    }
  }
}
