.sign_up_btn {
	width: 57%;
	margin-bottom: 25px;
	margin-top: 5px;
	font-size: 1.2em;
	background-color: $advlo_orange;
	border-color: $advlo_orange;
}

.sign_up_toggle_btn {
	@extend .sign_up_btn;
}

.fb_btn {
	width: 57%;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 1.2em;

	.fa {
		margin-right: 10px;
	}
}

.partner-email-signup {
	display: none;
}

#footer {
	width: 100%;
	position: relative;
	background-color: $footer_background_color;
	overflow-y: hidden !important;
	border-top: 1px solid $light_gray;
	padding: 8px 0 2px 0;


	.container {
		font-size: 1.2em;

		.footer_text {
			color: $footer_text_color;

			.col-md-6 {
				padding-top: 2px;
				font-family: 'nexa_light';
			}

			.dash {
				display: inline;
			}

			a {
				text-decoration: none;
				color: $footer_text_color;

				.fa {
					margin-right: 30px;
					font-size: 1.6em;
					opacity: 0.5;
					color: $footer_text_color;

					&:hover {
						color: $advlo_orange;
						opacity: 1;
					}
				}
			}
		}
	}

	#signup-please-modal {
		.advlo_img {
			width: 155px;
			margin: -5px auto;

			img {
				cursor: default !important;
			}
		}


		.modal-dialog #network {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 15px;
			width: 65%;
			margin: 0 auto;
			
			p {
				font-family: 'bebas_neue_book' !important;
				font-size: 15px;
				letter-spacing: 1.5px;
				margin-top: 10px;
				margin-bottom: 15px;
			}
		}

		hr {
			width: 60%;
		}

		h1 {
			font-family: 'nexa_light' !important;
			font-weight: bold !important;
		}

		h4 {
			line-height: 20px;
			font-family: 'bebas_neue' !important;
			letter-spacing: 3px;
			font-size: 17px;
			float: left;
			width: 100%;
			float: left;
			width: 100%;
		}

		.close {
			font-size: 50px;
			color: #fff;
			opacity: 0.5;
			cursor: pointer;
			z-index: 999;
			position: absolute;
			top: 3px;
			right: 22px;
			font-weight: regular;
			text-shadow: none;
		}

		.modal-dialog {
			margin: 100px auto 0 auto;
			color: #fff;

			.modal-content {
				max-width: 450px;
				margin: 0 auto;
				background-image: asset-url('cartographer_small.png');


				.question-wrapper {
					.btn {
						border: none;
					}
					.question {
						margin: 10px;
						opacity: 0.8;
						p {
							font-family: 'bebas_neue' !important;
							font-size: 20px;
							margin-top: 3px;
							margin-bottom: 0px;
							letter-spacing: 1px;
						}
					}

					.question:hover {
						opacity: 1;
					}
				}

				.poll-answers {
					opacity: 0.7;

					position: relative;
					float: left;
					width: 100%;

					.answer {
						width: 25%;
						margin: 0 auto;
						font-family: 'bebas_neue' !important;
						font-size: 15px;
						font-weight: bold;
						margin-top: 20px;
						margin-bottom: 20px;
						margin-right: 10px;
						margin-left: 10px;
					}

					
				}
				.answer-1 {
					border: none;
					background-color: $advlo_orange;
				}

				.answer-2 {
					border: none;
					background-color: $advlo_green;
				}

				.answer-3 {
					border: none;
					background-color: $light_gray;
				}

				.form-wrapper{
					display: none;
				}
			}

			#network {
				width: 100%;
				margin: 0 auto;
			}

			#signup_modal {
				display: none;
				margin-top: 0px !important;

				.form-control {
					width: 65%;
				}

				.sign_up_btn {
					width: 60%;
					font-family: bebas_neue;
					font-weight: bold;
					font-size: 1.1em;

					&:hover {
						background-color: $advlo_orange;
						border-color: $advlo_orange;
						opacity: 0.8;
					}
				}

				.btn-primary {
					background-color: $advlo_orange;
					border-color: $advlo_orange;
				}
			}

			.form-group {
				.form-control {
					width: 60%;
					margin: 0 auto;
				}
			}

			.modal-header {
				font-size: 1.6em;
				color: $orange;
			}

			.form_label {
				padding-top: 5px;
		    	font-size: 1.2em;
		    	font-weight: bold;
		    	color: #FFF;
			}
		}
	}

	.back-text {
		font-family: 'bebas_neue_book' !important;
		font-size: 13px;
		letter-spacing: 1.5px;

		a:hover {
			text-decoration: none;
			opacity: 1.0 !important;
		}
	}

	#member-modal {

		@extend #signup-please-modal;


		.modal-dialog .modal-content {
			width: 400px;
			max-width: 100%;
		}



		.sign_up_toggle_btn {
			width: 60%;
			padding-top: 8px;
			font-family: bebas_neue;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 1.3em;

			&:hover {
				background-color: $advlo_orange;
				border-color: $advlo_orange;
				opacity: 0.8;
			}
		}
		.fb_btn {
			width: 60%;
			padding-top: 8px;
			font-family: bebas_neue;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 1.3em;
		}
	}

	.maybe_later {
		margin-top: 15px;
		opacity: 0.7;
		cursor: pointer;
		font-family: 'bebas_neue';
		letter-spacing: 1px;

		&:hover {
			opacity: 1;
		}
	}

	.sign_in {
		@extend .maybe_later;
		margin-top: 10px;
	}


	.footer-text {
		font-family: 'bebas_neue';
		font-size: 18px;
		letter-spacing: 2px;
	}

	.social-row {
		margin-top: 10px;
		margin-bottom: 10px;

		a:hover {
			opacity: 0.6;
		}
	}

	#contact_form_modal {
		.modal-dialog {
			margin: 65px auto 0 auto;
		}

		.modal-header {
			font-size: 1.6em;
			color: $orange;
		}

		.form_label {
			padding-top: 5px;
	    	font-size: 1.2em;
	    	font-weight: bold;
	    	color: #FFF;
		}

		.contact_btn {

			margin-top: 20px;
		    font-size: 1.6em;
		    background-color: $login_btn_color;
		    border-color: $login_btn_color;
		    padding: 10px 20px;

		    &:hover {
		      background-color: $login_btn_color_hover;
		      border-color: $login_btn_color_hover;
		    }
		}

		#contact_submitted {
      display: none;
      color: #FFF;
      font-size: 1.8em;
      margin-bottom: 20px;

      .fa {
        font-size: 2.2em;
        margin-bottom: 25px;
        margin-top: 25px;
      }
  	}
	}
}

@media screen and (max-width: 600px){
	#footer {
		.footer_text {
			.col-md-3 {
				width: 100%;
				margin-bottom: 20px;
				margin-left: 10px;
			}
		}

		#signup-please-modal {

			.sign_up_btn {
				width: 85% !important;
			}

			.fb_btn {
				width: 85% !important;
			}

			hr {
				width: 90% !important;
			}

			.modal-dialog {

				#network {
					width: 100% !important;
					margin: 0 auto !important;
				}
			}
		}
	}
}