//NAVBAR CUSTOMIZATIONS
.navbar {
	font-family: cabin_bold;
	background: $header_background_color;
	opacity: $header_opacity;
	padding: 4px 0 4px 10px;
	z-index: 1001;

	.navbar-brand {
		background: asset-url("logos/advlo_header_logo_beta.png");
		background-repeat: no-repeat;
		background-size: 99%;
		width: 209px !important; 
	}

	.header-button{
		margin-right: 20px;

		button.btn-default {
			border-color: $header_background_color;
			background-color: $header_background_color;

			&:hover {
				border-color: $light_gray;
			}
		}
	}

	a.btn.btn-default {
		border-color: $header_background_color;
		background-color: $header_background_color;

		&:hover {
			border-color: $light_gray;
		}
	}

	small.help-block {
		text-align: center;
	}
}

.navbar .nav {
	li {
		display: block;
		color: #333333;
	}
}

.login-right {
	li {
		.dropdown-menu, .right-side {
			padding: 12px 0px 10px 0px;
			@include border_radius(3px);
			background: rgba(0, 0, 0, 1);
			margin-top: 1.5px;

			a {
				text-align: center;
				font-family: 'nexa_light' !important;
				color: #fff !important;
				font-size: 1.1em !important;
				&:hover {
					background: rgba(0, 0, 0, 0);
					color: $advlo_orange !important;
				}
			}

			.sign_in_form {

				input {
					width: 92%;
					margin-left: 10px;
				}

				.sign_in_btn {
					width: 92%; 
					font-size: 1.2em;
					background-color: $login_btn_color;
					border-color: $login_btn_color;
					margin-left: 10px;
					margin-bottom: 5px;

					&:hover {
						background-color: $login_btn_color_hover;
						border-color: $login_btn_color_hover;
					}
				}

				.connect_btn {
					width: 92%; 
					font-size: 1.2em;
					background-color: $login_btn_color;
					border-color: $login_btn_color;
					margin-left: 10px;
					margin-bottom: 5px;
					padding-top: 8px;
					padding-bottom: 5px;

					&:hover {
						background-color: $login_btn_color_hover;
						border-color: $login_btn_color_hover;
					}
				}

				.fb_btn {
					width: 92%;
					margin: 5px 0 0px 10px;
					color: #FFFFFF !important;
					font-size: 1.2em;
					padding-top: 10px;
					padding-bottom: 5px;

					&:hover {
						background-color: #3B5998 !important;
						border-color: #3B5998 !important;
						color: #FFFFFF !important;
					}

					.fa {
						margin-right: 3px;
					}
				}
				
			}
		}
	}
}

//fix spacing & image size when user logged in
.logged_in_dropdown_box{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	color: $dark_gray;
	font-size: 1.1em;

	img {
		margin-right: 5px;
	}

	.up_profile_img {
		width: 50px;
		height: 50px;
	}

	.fb_profile_img {
		width: 50px;
		height: 50px;
	}

	.miss_profile_img {
		width: 50px;
		height: 50px;
	}
}

//SIGN UP LINK PROPERTIES
.dropdown-menu {
	.sign_up_link {
		a {
			text-align: center;
			padding-top: 10px;
			&:hover {
				background: rgba(0, 0, 0, 0);
			}
		}
	}
}

#locations-menu {
	background: #000;
	min-height: 150px;
	font-family: 'nexa_light';
	z-index: 1000;
	width: 650px;
	top: 52px;
	font-size: 15px;


	.main-location {
		float: left;
		text-align: center;
		width: 25%;
		height: 40%;
		margin-top: 2.5%;

		a {
			border-bottom: 1px solid #fff;
			margin-top: 10px;
			color: #fff;
			font-size: 1.5em;
		}
		a:hover {
			text-decoration: none;
			opacity: 0.6;
		}

		.sub-location {
			margin-top: 5px;
			font-size: 12px;

			a {
				border-bottom: none;
				font-size: 1em;
				text-decoration: none;
			}
		}
	}

	.wide {
		height: 93%;
	}
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}
