@import "homepage/banner";
@import "homepage/how_it_works_and_regions";
@import "homepage/adventure_slider";
@import "homepage/feat_hosts";
@import "homepage/feat_adventures";

h1 {
  color: $advlo_orange !important;
}

.homepage-container {
  width: 95%;
}

.headline-margin {
  margin-bottom: 20px;
  margin-top: 20px;
}


.block {
  display: none;
  position: relative;
  float: left;
  width: 100%;
}

#bottom-login {
  background-image: asset-url("background/girlsoncliff.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  float: left;
  width: 100%;
  min-height: 600px;
  background-attachment: fixed;


  .join-wrapper {
    margin-top: 75px;
  }

  .why {
    font-family: proxima_bold !important;
    width: 30%;
    position: relative;
    margin: 0 auto;
    top: 14px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    letter-spacing: -1px;
  }

  .join-text {
    font-family: proxima_black;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 4em;
    margin-top: 20px;
    float: left;
    text-align: center;
    width: 100%;
  }

  @media screen and (max-width: 600px){
    .join-text {
      font-size: 2em;
    }
    .why {
      width: 75%;
      font-size: 16px;
    }
  }

  .advlo-signup-bottom {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

    .homepage_fb_btn {
      margin-top: 25px;
      font-size: 1.4em;
      background-color: transparent;
      background: rgba(40, 94, 142, 0.8);
      font-family: proxima_light;
      width: 40%;
      padding-top: 12px;
      padding-bottom: 12px;
      max-width: 300px;
      min-width: 250px;
      font-weight: bold;
    }

    .homepage_email_btn, .sign_up_btn {
      border-radius: 3px;
      cursor: pointer;
      background-color: transparent;
      background: rgba(0, 0, 0, 0.3);

      background: rgba(195, 91, 38, 0.8);
      border-color: rgba(195, 91, 38, 1);
      margin: 0 auto;
      margin-top: 10px;

      height: 35px;
      color: #fff;
      font-family: proxima_light;
      font-weight: bold;
      font-size: 17px;
      padding-top: 5px;
      width: 40%;
      max-width: 300px;
      min-width: 250px;
    }

    .sign_up_btn {
      max-width: 300px;
      width: 100%;
      font-family: 'bebas_neue_book' !important;
      font-size: 17px; 
    }
  }

  .homepage_login_form_host, .homepage_login_form_travel {
    display: none;
    opacity: 0.8;
    width: 40%;
    max-width: 300px;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 15px;

    .sign_up_btn {
      max-width: 300px;
      min-width: 250px;
    }
  }

  .bottom-signup-text {
    width: 100%;
    margin: 0 auto;
    text-shadow: -1px -1px 5px #fff;
    font-size: 1em;
    color: #333333;
    margin-bottom: 5px;
    float: left;
    text-align: center;
  }


  #pre-check-homepage {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;

    .btn {
      border: none;
    }

    .pre-check {
      width: 175px;
      height: 50px;
      margin: 10px;
      color: #fff;

      p { 
        margin-top: 6px;
        font-family: 'cabin_bold' !important;
        font-size: 20px;
        letter-spacing: 2px;
      }
    }
    .pre-check:hover {
      opacity: 0.6;
    }

    #travel {
      cursor: auto;
      background: $advlo_green;
    }

    #host {
      cursor: auto;
      background: $advlo_orange;
    }
  }

  .block-partner {
    .btn-host{
      margin-top: 25px;
      font-size: 1.6em;
      background: transparent;
      padding: 10px;
      font-family: 'bebas_neue_book';
      letter-spacing: 2px;
      width: 200px;
      color: #333333;
      padding-top: 15px;
      text-shadow: -1px -1px 9px #fff;
    }
  }

  .active {
    opacity: 0.6;
  }
}

@media screen and (max-width: 991px){
  #bottom-login{
    background-attachment: scroll !important;
  }
}