@import "homepage/banner";
@import "homepage/how_it_works_and_regions";
@import "homepage/adventure_slider";



h1 {
  color: $advlo_orange !important;
}

.homepage-container {
  width: 95%;
}

.headline-margin {
  margin-bottom: 20px;
  margin-top: 20px;
}


