#invest {
	.light_background {
		background-color: $lighter_gray;
		padding-left: 25px;
		padding-right: 25px;
	}

	.dark_background {
		background-color: $dark_gray;
		padding-left: 25px;
		padding-right: 25px;
	}

	.header {
		padding-top: 25px;
		font-size: 2.6em;
		font-family: bebas_neue;
		font-weight: bold;
		letter-spacing: 2px;
		color: $advlo_orange;
		text-decoration: underline;
	}

	.text_block {
		font-size: 1.3em;
		color: #000;
		opacity: 0.9;
		font-weight: bold;
		padding-bottom: 35px !important;
		margin-top: 15px;

		.market_sub_header {
			font-size: 1.1em;
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 10px;
			border-top: 1px solid $advlo_orange;
			border-bottom: 1px solid $advlo_orange;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.percentage {
			margin-top: 15px;
			font-size: 1.4em;
			font-weight: bold;
		}

		.text_under_percentage {
			font-size: 0.7em;
			line-height: 20px;
			font-weight: normal;
			margin-bottom: 20px;
		}
	}

	.background_market {
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.solution {
		padding-top: 0px;
		padding-bottom: 30px;

		.find_icon {
			width: 150px;
			height: 150px;
			background-image: asset-url('icons/find_icon.png');
			background-size: cover !important;
			margin: 30px auto;
		}

		.create_icon {
			@extend .find_icon;
			background-image: asset-url('icons/host_icon.png');
		}

		.customize_icon {
			@extend .find_icon;
			background-image: asset-url('icons/request_icon.png');
		}
	}

	.management {
		padding-top: 15px;
		padding-bottom: 15px;

		.personal_img {
		    margin: 20px auto 10px auto;
		    border-radius: 50%;
		    width: 175px;
		    height: 175px;
		    background-size: cover !important;
		    border: 1px solid $light_gray;
		}

		h3 {
		    color: #fff;
		    opacity: 0.8;
		    margin-bottom: 0px !important;
		    font-family: bebas_neue_book;
		    font-weight: bold;
		    letter-spacing: 2px;
		}

		h4 {
		    color: $advlo_orange;
		    font-style: italic;
		    margin-bottom: 40px;
		}

		#contact-advlo {
		    display: none;
		    margin-bottom: 25px;

		    p {
		      color: #fff;
		      font-size: 19px;
		      font-family: 'nexa_light' !important;
		      opacity: 0.8;
		    }
		  }

		  #leave-a-note {
		    margin-top: 25px;
		    padding-bottom: 25px;
		    p{
		      font-size: 20px;
		      display: inline;
		      font-family: 'nexa_light' !important;
		      color: $advlo_orange;
		      cursor: pointer;
		      font-weight: bold;
		    }
		  }

		  #about-us-contact {
		    margin-top: 25px;
		    margin-bottom: 30px;
		    font-size: 1.6em;
		    background-color: transparent;
		    background: rgba(0,0,0,0.2);
		    border-color: $login_btn_color;
		    padding: 10px 20px;
		    border: 5px solid $orange;
		    opacity: 0.75;

		    &:hover {
		      border-color: $advlo_orange;
		    }
		}
	}

	.press {
	    background: $lighter_gray;
	    padding-top: 10px;
	    padding-bottom: 30px;

	    h3 {
	      font-size: 2.0em;
	      font-family: cabin_bold;
	      margin-bottom: 30px !important;
	      color: $dark_gray;
	    }

	    .tnooz {
	      img {
	        padding-top: 17px;
	        width: 115px;
	        margin: 10px auto;
	      }
	    }

	    .about {
	      img {
	        padding-top: 10px;
	        width: 125px;
	        margin: 10px auto;
	      }
	    }

	    .teton {
	      img {
	        width: 110px;
	        margin: 10px auto;
	      }
	    }

	    .skift {
	      img {
	        width: 80px;
	        margin: 10px auto;
	      }
	    }

	    .clapway {
	      img {
	        padding-top: 25px;
	        width: 140px;
	        margin: 10px auto;
	      }
	    }

	    .techco {
	      img {
	        padding-top: 15px;
	        width: 125px;
	        margin: 10px auto;
	      }
	    }

	}
}