#promotion-wrapper {
  margin-top: 75px;

  .panel {
  	.panel-body {
  		background-color: $lightest_gray;
  		padding-top: 0px;
  	}
  }

  .promotion_header {
  	font-family: bebas_neue;
  	font-size: 3em;
  	color: $advlo_orange;
  	letter-spacing: 2px;
  	background-color: rgba(0,0,0,0.8);
  	border-bottom: 2px solid $advlo_orange;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	border-top-right-radius: 3px;
  	border-top-left-radius: 3px;

  	.amount {
  		font-size: 1.7em;
  		font-weight: bold;
  		color: $advlo_orange;
  		margin-left: 5px;
  		margin-right: 5px;
  		text-decoration: underline;
  	}
  }

  .divider {
  	border: 1px solid $lighter_gray;
  	margin-top: 10px;
  	margin-bottom: 10px;
  }

  .basic_text {
  	margin-top: 20px;
  	font-size: 1.4em;
    font-size: 1.4em;
    opacity: 0.7;
  }

  .promo-img-wrapper {
    width: 100%; 
    text-align: center; 
    cursor: pointer;

    img {
      width: 75%;
      margin-top: 20px; 
      margin-bottom: 30px;
    }
  }

  .promo-img-wrapper:hover {
    opacity: 0.8;
  }

  .giveaway-background {
    background-image: asset-url("background/HomepageMountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
  }

  .giveaway-text {
    text-align: center;
    font-size: 23px;
    font-family: 'bebas_neue_book';
    letter-spacing: 1px;
  }
  .top-text {
    padding-top: 120px;
  }

  .more_info_text {
    font-family: 'bebas_neue';
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    color: $advlo_orange;

  }

  .new-account {
  	font-size: 1.6em;
  	font-family: bebas_neue;
  	font-weight: bold;
  	letter-spacing: 2px;
  	margin-top: 20px;
  	margin-bottom: 30px;
  	padding-top: 17px;
  	padding-bottom: 13px;

  	background-color: #5cb85c;
  	border-color: $advlo_green;

  	&:hover {
  		opacity: 0.9;
  	}

  }

  .giveaway-share {
  	@extend .new-account;
  	background-color: #3b5998;
  	border-color: #3b5998;
  	opacity: 0.9;

  	&:hover {
  		background-color: #3b5998;
  		border-color: #3b5998;
  		opacity: 1;
  	}

  	.fa {
  		margin-right: 10px;
  	}
  }

  .additional_entries {
  	.number_btn {
  		width: 35px;
  		height: 35px;
  		border-radius: 50%;
  		font-size: 1.2em;
  		font-family: bebas_neue;
  		font-weight: bold;
  		background-color: $advlo_orange;
  		border-color: $advlo_orange;
  		text-align: center;
  		padding: 6px 0 0 2px;
  	}

  	.number_text {
  		padding-top: 7px;
  		font-size: 1.2em;
  	}

  	.steps_divider {
  		width: 100%;
  		border: 1px solid $advlo_green;
  		margin-top: 10px;
  		border-radius: 3px;
  		opacity: 0.7;
  	}

  	.entry_tracking_box {
      overflow: hidden;
  		margin-top: 25px;
  		border: 2px solid $advlo_orange;
  		border-radius: 2px;

  		.tracking_header {
  			background-color: rgba(195, 91, 38, 0.9);
	  		color: #FFF;
	  		opacity: 0.9;
  			font-family: bebas_neue;
  			font-size: 1.4em;
  			letter-spacing: 2px;
  			border-bottom: 2px solid $advlo_orange;
  			padding-top: 10px;
  			padding-bottom: 8px;
  		}

  		.tracking_count {
  			font-family: bebas_neue;
  			font-size: 1.4em;
  			letter-spacing: 2px;
  			padding-top: 10px;
  			padding-bottom: 8px;
  		}
  	}

  	.share_adventures {
  		margin: 35px auto 25px auto;
  		width: 95%;

  		.social_share_box {
  			width: 350px;
  			margin-bottom: 15px;

	  		.adventure_box {
	  			margin: 10px auto 0px auto;
	  			display: inline-block;
	  			width: 325px;
	  			height: 250px;
	  			border: 1px solid $lighter_gray;
	  			border-radius: 1px;
	  			box-shadow: 1px 1px 1px $lighter_gray;
	  			background-size: cover !important;

          .friend_count {
            font-family: bebas_neue;
            font-weight: bold;
            line-height: 14px;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 13px;
            z-index: 100;
            padding: 5px 0px 6px 4px;
            width: 45px;
            height: 45px;
            opacity: 0.8;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            background-color: $advlo_orange;
            border-color: $advlo_orange;
          }

	  			.adventure_info_box {
	  				position: relative;
	  				top: 178px;
	  				height: 70px;
	  				width: 100%;
	  				background-color: rgba(0,0,0,0.8);

	  				.title {
	  					color: #FFF;
	  					font-size: 1.1em;
	  					padding-top: 6px;
	  					margin-left: 10px;
	  				}

	  				.location {
	  					color: $advlo_orange;
	  					font-size: 0.8em;
	  					margin-left: 10px;
	  					padding-top: 2px;
	  					clear: left;
	  				}

	  				.host_name {
	  					@extend .location;
	  					color: #FFF;
	  					font-size: 0.9em;
	  					clear: left;
	  				}

	  				.price {
	  					font-family: bebas_neue;
	  					font-size: 1.9em;
	  					color: #FFF;
	  					padding-right: 10px;
	  					margin-top: -15px;
	  					clear: none;
	  				}
	  			}
	  		}

	  		.social_share_btns {
	  			margin: -6px auto 0 auto;
	  			width: 325px;
	  			padding-bottom: 10px;
	  			padding-top: 10px;
	  			border-right: 1px solid $lighter_gray;
	  			border-left: 1px solid $lighter_gray;
	  			border-bottom: 1px solid $lighter_gray;
	  			border-bottom-right-radius: 2px;
	  			border-bottom-left-radius: 2px;
	  			box-shadow: 1px 1px 1px $lighter_gray;

	  			.social_btn {
		  			width: 30px;
		        height: 30px;
		        text-align: center;
		        padding: 6px 0;
		        font-size: 12px;
		        line-height: 1.5;
		        border-radius: 15px;
		      }

	  			.fb {
	  				color: #FFF;
		        background-color: #3B5998;
		        border-color: #3B5998;

		        &:hover {
		          opacity: 0.8;
		        } 
	  			}

	  			.twitter_promo {
	  				color: #FFF;
		        background-color: #30D8F0;
		        border-color: #30D8F0;

		        &:hover {
		          opacity: 0.8;
		        }
	  			}

	  			.gp {
	  				color: #FFF;
		        background-color: #d34836;
		        border-color: #d34836;

		        &:hover {
		          opacity: 0.8;
		        }
	  			}

          .linkedin {
            background-color: #0077b5;
            color: #fff;
          }
	  		}
	  	}

  	}
  }

  .terms-toggle {
    cursor: pointer;
  }
  
  .promotion_terms {
  	margin-top: 10px;

  	.terms_text {
      display: none;
  		margin-top: 5px;
  		font-size: 1em;
      margin-bottom: 30px;
  	}
  }
}


@media screen and (max-width: 400px){

  #promotion-wrapper .giveaway-background {
    height: 375px;
  }

  #promotion-wrapper .new-account {
    width: 60%;
  }

  #promotion-wrapper .giveaway-share {
    font-size: 14px;
  }

  .share_adventures .text-center {
    width: 100%;
  }

  #promotion-wrapper .promotion_header {
    text-decoration: none !important;
  }

  #promotion-wrapper .additional_entries .share_adventures .social_share_box .adventure_box {
    width: 100%;
  }

  #promotion-wrapper .additional_entries .share_adventures .social_share_box {
    width: 100%;
  }
  #promotion-wrapper .additional_entries .share_adventures .social_share_box .adventure_box .adventure_info_box .title {
    font-size: 10px;
  }
  #promotion-wrapper .additional_entries .share_adventures .social_share_box .social_share_btns {
    width: 100%;
  }

  #promotion-wrapper .additional_entries .number_btn {
    display: none;
  }

  #promotion-wrapper .additional_entries .number_text {
    text-align: center;
  }

  #promotion-wrapper .entry_tracking_box .col-md-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #promotion-wrapper .entry_tracking_box .tracking_count {
    border: none !important;
  }
}
