#terms{
	padding-top: 80px;

	.panel-heading{
		background-color: $white;
		padding-top: 0px;
		border-bottom: none;
	}

	.panel-body {
		padding-top: 0px;
	}

	h4 {
		margin-top: 15px;
	}
}

#privacy_policy {
	h4 {
		margin-top: 15px;
	}
}

#cancellation_refunds {
	.refund_table {
		margin-top: 25px;

		th {
			font-size: 1.8em;
			text-align: center;
			vertical-align: middle;
		}

		.v_middle {
			vertical-align: middle;
		}

	}

}

