/* ADVLO FONTS */
@font-face
{
font-family: cabin_bold;
src: asset-url("Cabin-Bold.otf", font);
}

@font-face
{
font-family: cabin_bolditalic;
src: asset-url("Cabin-BoldItalic.otf", font);
}

@font-face
{
font-family: cabin_italic;
src: asset-url("Cabin-Italic.otf", font);
}

@font-face
{
font-family: cabin_medium;
src: asset-url("Cabin-Medium.otf", font);
}

@font-face
{
font-family: cabin_mediumitalic;
src: asset-url("Cabin-MediumItalic.otf", font);
}

@font-face
{
font-family: cabin_regular;
src: asset-url("Cabin-Regular.otf", font);
}

@font-face
{
font-family: cabin_semibold;
src: asset-url("Cabin-SemiBold.otf", font);
}

@font-face
{
font-family: cabin_semibolditalic;
src: asset-url("Cabin-SemiBoldItalic.otf", font);
}

@font-face
{
font-family: nexa_bold;
src: asset-url("Nexa-Bold.otf", font);
}

@font-face
{
font-family: nexa_light;
src: asset-url("Nexa-Light.otf", font);
}

$primary_font:   	cabin_regular;
$secondary_font: 	cabin_regular;
$tertiary_font:  	cabin_regular;

$header_font: 		cabin_bold;
$paragraph_font: 	cabin_regular;

/* Advlo Colors */
//ORANGES
$advlo_orange: 	#C35B26;
$dark_orange: 	#E86100;
$orange: 		#E56B2D;
$light_orange: 	#FF7732;

//GREENS
$advlo_green:	#699967;
$dark_green: 	#364033;
$light_green: 	#809778;

//GRAY
$light_gray: 	#F8F8F8;
$gray: 			#77787B;
$dark_gray: 	#333333;
$light_gray:	#666666;		

//OTHER
$tan: 			#EAE4CE;
$off_white: 	#F7F0DD;


//---------------------HEADER VARIALBES--------------------
$header_text_color:			#FFFFFF;
$header_btn_color:			$advlo_orange !default;
$header_btn_color_hover: 	$orange !default;


//---------------------HERO IMAGE VARIABLES----------------
$banner_image:				"background/banner_background.png";


//---------------------HOW IT WORKS VARIABLES--------------
$how_it_works_font_color:		$gray !default;
$find_icon:						"icons/find_icon.png";
$host_icon:						"icons/create_icon.png";

//---------------------ADV. SLIDER VARIABLES---------------
$adv_slider_background_color:			$dark_gray !default;
$adv_slider_font_color:					$advlo_orange !default;


