/* ADVLO FONTS */
@font-face
{
font-family: cabin_bold;
src: asset-url("Cabin-Bold.otf");
}

@font-face
{
font-family: cabin_bolditalic;
src: asset-url("Cabin-BoldItalic.otf");
}

@font-face
{
font-family: cabin_italic;
src: asset-url("Cabin-Italic.otf");
}

@font-face
{
font-family: cabin_medium;
src: asset-url("Cabin-Medium.otf");
}

@font-face
{
font-family: cabin_mediumitalic;
src: asset-url("Cabin-MediumItalic.otf");
}

@font-face
{
font-family: cabin_regular;
src: asset-url("Cabin-Regular.otf");
}

@font-face
{
font-family: cabin_semibold;
src: asset-url("Cabin-SemiBold.otf");
}

@font-face
{
font-family: cabin_semibolditalic;
src: asset-url("Cabin-SemiBoldItalic.otf");
}

@font-face
{
font-family: nexa_bold;
src: asset-url("Nexa-Bold.otf");
}

@font-face
{
font-family: nexa_light;
src: asset-url("Nexa-Light.otf");
}

$primary_font:   	cabin_regular;
$secondary_font: 	cabin_regular;
$tertiary_font:  	cabin_regular;

$header_font: 		cabin_bold;
$paragraph_font: 	cabin_regular;

/* Advlo Colors */
//ORANGES
$advlo_orange: 	#C35B26;
$dark_orange: 	#E86100;
$orange: 		#E56B2D;
$light_orange: 	#FF7732;

//GREENS
$advlo_green:	#699967;
$dark_green: 	#364033;
$light_green: 	#809778;

//GRAY
$light_gray: 	#F8F8F8;
$gray: 			#77787B;
$dark_gray: 	#333333;
$shaded_gray: 	#484848;
$light_gray:  	#666666;
$lighter_gray:  #E6E6E6; 
$lightest_gray: #F8F8F8;   

//OTHER
$tan: 			#EAE4CE;
$off_white: 	#F7F0DD;
$white:			#FFFFFF;


//---------------------HEADER VARIALBES--------------------
$header_background_color:	$lightest_gray !default;
$header_opacity:			1;
$header_text_color:			#FFFFFF;
$header_btn_color:			$advlo_orange !default;
$header_btn_color_hover: 	$orange !default;

//Login Dropdown
$login_btn_color:			$advlo_orange !default;
$login_btn_color_hover:		$orange !default;


//---------------------HERO IMAGE VARIABLES----------------
$banner_image:				"background/biklo.jpg";


//---------------------HOW IT WORKS VARIABLES--------------
$how_it_works_background_color:	$light_gray !default;
$how_it_works_font_color:		$white !default;
$find_icon:						"icons/find_icon.png";
$host_icon:						"icons/create_icon.png";

//---------------------ADV./HOST SLIDER VARIABLES-----------
$adv_slider_background_color:			$dark_gray !default;
$adv_slider_font_color:					$orange !default;

//---------------------FOOTER VARIABLES---------------------
$footer_background_color:		$white !default;



//---------------------PROFILE PAGE (EDIT/SHOW)-------------
//EDIT
$profile_background_color: 				$lighter_gray !default;
$profile_font_color:					$dark_gray !default;

//SHOW
$profile_banner_font_color:				$white !default;
$profile_banner_name_font:				cabin_bold;
$profile_banner_subtitle_font:			cabin_regular;

$profile_box_header_font_color:			$orange !default;

$profile_over_item_font:				cabin_bold;
$profile_overview_background_color:		$dark_gray !default;
$profile_overview_box_color:			$light_gray !default;

$profile_box_header_font:				cabin_bold;
$profile_box_header_font_color:			$orange !default;


//-----------------ADVENTURE PAGES-----------------------
//SHOW
//EDIT
//CREATE - FORM
//HOST INFO PAGE
//REQUEST INFO PAGE

