<<<<<<< Updated upstream
#adventure_slider
  .container
    %h1 FEATURED ADVENTURES
    %span.small_text VIEW ALL >>>
=======
%h2 Featured Adventures
- @featured_adventures.each do |adv|
  = link_to adventure_path(adv) do
    .adventure-brick
      .adventure-image= image_tag adv.featured_image
      = adv.title
      = adv.subtitle
>>>>>>> Stashed changes
