#adventure_slider
  .container
    %h1 FEATURED ADVENTURES
    %a.small_text{href: "#"} VIEW ALL >>>

  .slider-container
    %i#next-slide.fa.fa-chevron-right
    %i#prev-slide.fa.fa-chevron-left

    .swiper-container
      .swiper-wrapper
        - if @feat_adventures
          - @feat_adventures.each do |adv|
            %a.swiper-slide{href: adventure_path(adv), data: "adv-#{adv.title}", class: 'adventure-slide'}
              .square-wrapper
                = image_tag adv.attachment.url(:large)
              .copy
                %h3#title= adv.title if adv.title
                %p#subtitle= adv.subtitle if adv.subtitle

