#adventure_slider
  .container
    %h1 FEATURED ADVENTURES
    %a.small_text{href: "#"} VIEW ALL >>>

  .slider-container
    .swiper-container
      .swiper-wrapper
        - if @feat_adventures
          - @feat_adventures.each do |adv|
            %a.swiper-slide{href: adventure_path(adv), data: "adv-#{adv.title}", class: 'adventure-slide'}
              = image_tag adv.attachment.url(:medium)
              #title= adv.title if adv.title

