.meta_tags
  = set_meta_tags(default_meta_tags)

#cancellation_refunds.tab-pane
  .container-fluid
    %h2 CANCELLATIONS & REFUNDS
    %b Last Updated: August 15, 2014
    %br
    %br

    .table-responsive
      %table.table.refund_table.table
        %tr
          %th
          %th Scenario
          %th HOST
          %th TRAVELER
        %tr
          %th HOST
          %td.v_middle
            .row
              Cancels for any reason inluding:
            %li Emergency
            %li Personal
            %li Travel Issues
            %li Weather
            %li Over-booked
            %li Other
          %td.v_middle.text-center
            NO PAYMENT
          %td.v_middle.text-center
            FULL REFUND INCLUDING SERVICE FEE
        %tr
          %th TRAVELER
          %td.v_middle
            .row
              Cancels for any reason inluding:
            %li Emergency
            %li Personal
            %li Travel Issues
            %li Weather
            %li Other
          %td.v_middle.text-center
            .row
              %b > 48 hours
            .row
              NO PAYMENT
            %br
            .row
              %b < 48 hours
            .row
              FULL PAYMENT
          %td.v_middle.text-center
            .row
              %b > 48 hours
            .row
              FULL REFUND MINUS 4% SERVICE FEE
            %br
            .row
              %b < 48 hours
            .row
              NO REFUND

    %ul
      %li
        These Terms and Conditions define the Advlo Traveler Refund Policies, which is available to Travelers who book and pay for an Adventure listed by a Host through the Advlo platform (the “Site”) and suffer a Travel Problem.  
      %li
        Travel Problems: A “Travel Problem” means that any of the following scenarios took place:
        %ul
          %li
            The Host of the Adventure:
            %ul
              %li 
                Canceled a trip reservation within 48 hours of the scheduled Adventure start time.
              %li 
                Failed to arrive at the designated meeting location within 30 minutes of the scheduled Adventure start time.
              %li 
                Failed to provide the Traveler with the reasonability to access the Adventure (i.e. by allowing the Traveler access to the space in which the Adventure will take place, if applicable).
          %li 
            The description of the Adventure on the Adventure Page on the Site is materially inaccurate with regards to the:
            %ul
              %li 
                Duration of the Adventure
              %li 
                Content (including but not limited to the stated activities or points of interest, as applicable), or
              %li 
                Physical location of the Adventure
              %li 
                General safety and conditions that would be reasonably expected, given the nature of the particular Adventure, at Advlo’s discretion.

      %li 
        TRAVELER REFUND POLICY
        %ul
          %li
            Travelers who suffer a Travel Problem will receive, at our discretion, either:
            %ul
              %li
                A refund of the Total Booking Cost, at our discretion and based on the extent of the Travel Problem
              %li
                A reasonably comparable Adventure (in terms of content and quality) based on availability and our determination.
                %ul
                  %li
                    If the alternative Adventure is a higher price than the previous, you may be responsible for any difference in price. 
                  %li
                    If the alternative Adventure is a lower price than the previous, you may be entitled to a partial refund to make up for the difference in prices. 
              %li All refunds and determinations of Advlo are final and binding.

      %li
        CLAIMING A TRAVEL PROBLEM
        %ul
          %li
            Only Travelers, who meet the following requirements, can submit Travel Problem Claims to 
            = mail_to 'support@advlo.com:'
            %ul
              %li 
                You must contact Advlo via email or telephone and provide us with the Travel Problem claim within 24 hours of the Adventure’s conclusion (based on the specified duration time on the Adventure’s Page).
        
              %li 
                You must not have, directly or indirectly, caused the Travel Problem (through your action, omission or negligence).
          
              %li 
                You must have used reasonable efforts to prevent or solve the issues of the Travel Problem directly with the Host (with evidence to confirm this) before making a claim to Advlo.
      %li
        CANCELATION DUE TO OUTSIDE FACTORS
        %ul
          %li
            Certain Adventures may depend on factors outside the control of either parties, such as weather (“Outside Factors”). The Host has the discretion as to whether Outside Factors will prevent the Adventure from taking place. As a Host, if you need to cancel an Adventure due to Outside Factors, you are required to contact the Traveler and Advlo 
            = mail_to '(support@advlo.com)'
            as early as possible. Subject to the Traveler’s consent, the Host and the Traveler may choose to reschedule the Adventure for another time or date. If the Adventure cannot be rescheduled, the Traveler should contact Advlo so we may assist in finding a replacement Adventure. To clarify, in the event the alternative Adventure is of a higher price of the previous, you may be responsible for any difference in price. If the alternative Adventure is of a lower price than the previous, you may be entitled to a partial refund for the difference. If you have contacted Advlo as a Traveler and Advlo is unable to find you a replacement Adventure, Advlo may refund the Total Booking Fee for such booking to the applicable Traveler within a commercially reasonable time of the cancellation.