#adventure.adventure-slider-wrapper
  .container.homepage-container.text-center.headline-margin
    %h1.nexa-light.nexa-bold FEATURED ADVENTURES

  = render partial: '/adventures/adventure_slider_slides', locals: {adventures: @feat_adventures}
