.jumbotron.jumbotron_fix
  #homepage-text
    .text-center
      %span.large_text ADVENTURE
      %span.small_text WITH
      %span.large_text LOCALS
      %p.medium_text NOT TOUR GUIDES
    %p.text-center
      %a.btn.btn-primary.btn-lg.header_btn_fix{href: "/adventures"} Start Exploring