.homepage-photo.jumbotron.jumbotron_fix{:style => "background: url('#{@hero_adv.attachment.url(:hero)}') center center no-repeat"}

.scroll-slow
  #homepage-text  
    #adventure-local
      ADVENTURE LOCAL     
    #explanation
      We connect adventurous travelers and local hosts worldwide through a platform that fosters creativity, innovation and responsible tourism   

    #explore-btn.btn.btn-default
      START EXPLORING

    - if notice
      .col-md-6.col-md-offset-3 
        .alert.alert-warning.text-center
          %button.close{"data-dismiss" => "alert", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          = notice.html_safe


:javascript
  $(document).ready(function(){
    if ($.cookie('referrer_id')) {
      homepage_new_user_set_referrer_id($.cookie('referrer_id'));
    }

    homepage_find_input_geocomplete();

    if( $('.navbar-fixed-top').is(":visible") ){
      $('.scroll-slow').css('top','75px');
      $('#arrow-wrapper').hide();
    }
  });

