- # image = @hero_image ? @hero_image.attachment.url(:hero) : "background/biklo_darken.jpg"

- image_array = Array.new
- image_array[0] = "background/biklo_darken.jpg"
- image_array[1] = "http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/154/hero/6142769488_0824da5ff3_o.jpg?1410848814"
- image_array[2] = "http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/256/hero/IMG_0080.JPG?1414194826"
- image_array[3] = "http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/120/hero/IMG_0172.JPG?1409846204"
- image_array[4] = "http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/068/hero/P1120477.jpg?1409258894"

- image = image_array[rand(5)]

.jumbotron.jumbotron_fix{:style => "background-image: url(#{image_path image})"}
  #homepage-text
    .text-center
      %span.large_text ADVENTURE
      %span.small_text WITH
      %span.large_text LOCALS
      
  - if notice
    .col-md-6.col-md-offset-3 
      .alert.alert-warning.text-center
        %button.close{"data-dismiss" => "alert", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        = notice.html_safe

  #how_it_works_panels
    .row.text-center.adventure-link
      .col-md-4.col-md-offset-1
        %a.find-adventures{href: "/adventures"}
          .panel.panel-default
            .panel-heading
              FIND
            .panel-body
              .find_icon
              .col-md-10.col-md-offset-1
                Search for adventures and connect with locals
      .col-md-2
      .col-md-4
        %a{href: "/adventures/info"}
          .panel.panel-default
            .panel-heading
              HOST
            .panel-body
              .host_icon
              .small_text
              .col-md-10.col-md-offset-1
                Sell and lead the adventures you create
      / .col-md-4        
      /   %a{href: "/adventures/request"}
      /     .panel.panel-default
      /       .panel-heading
      /         REQUEST
      /       .panel-body
      /         .request_icon
      /         .col-md-10.col-md-offset-1
      /           Tell us about the adventure you're seeking and we'll find someone awesome to host it
  


