.jumbotron.jumbotron_fix
  #homepage-text
    .text-center
      %span.large_text ADVENTURE
      %span.small_text WITH
      %span.large_text LOCALS
      %p.medium_text NOT TOUR GUIDES
    %p.text-center
      .dropdown-toggle
        %a.btn.btn-primary.btn-lg.header_btn_fix Start Exploring
        .dropdown-box
          %a.option{href: '/adventures?location=Denver'} Denver
          %a.option{href: '/adventures?location=Boulder'} Boulder
          %a.option{href: '/adventures?location=SummitCounty'} Summit County

:javascript
  $('.dropdown-toggle').hover(function(){
    $('.dropdown-box').slideDown()
    $('.header_btn_fix').animate({
      borderBottomLeftRadius: 0, 
      borderBottomRightRadius: 0
    }, 400);
  },function(){
    $('.dropdown-box').slideUp()
    $('.header_btn_fix').animate({
      borderTopLeftRadius: 10, 
      borderTopRightRadius: 10, 
      borderBottomLeftRadius: 10, 
      borderBottomRightRadius: 10
    }, 400);
  })
  

  //$('.dropdown-box').width(parseInt($('.header_btn_fix').css('width')) - 4)
  
