- image = @hero_image ? @hero_image.attachment.url(:hero) : "background/biklo_darken.jpg"
.jumbotron.jumbotron_fix{:style => "background-image: url(#{image_path image})"}
  #homepage-text
    .text-center
      %span.large_text ADVENTURE
      %span.small_text WITH
      %span.large_text LOCALS
      %p.medium_text NOT TOUR GUIDES
    
    %p.text-center
      .dropdown-container
        .dropdown-toggle
          %a.btn.btn-primary.btn-lg.header_btn_fix{href: "/adventures"}
            Start Exploring          
