.jumbotron.jumbotron_fix
  #homepage-text
    .text-center
      %span.large_text ADVENTURE
      %span.small_text WITH
      %span.large_text LOCALS
      %p.medium_text NOT TOUR GUIDES
    %p.text-center
      .dropdown-container
        .dropdown-toggle
          %a.btn.btn-primary.btn-lg.header_btn_fix Start Exploring
          .dropdown-box
            %a.option{href: '/adventures?location=Denver'} Denver
            %a.option{href: '/adventures?location=Boulder'} Boulder
            %a.option{href: '/adventures?location=SummitCounty'} Summit County

    

    //$('.dropdown-box').width(parseInt($('.header_btn_fix').css('width')) - 4)
    
