.homepage-slider-container#host_slider
  .container
    %h1 FEATURED HOSTS
    %a.small_text{href: "#"} VIEW ALL >>>

  
    .feat-hosts-container
      .host-swiper-container
        - if @feat_hosts
          - @feat_hosts.each_with_index do |user, i|
            %a.swiper-slide{href: user_path(user)}
              - if user.avatar_url
                .col-lg-4.host= image_tag "#{user.avatar_url}?type=large"
              - else
                .col-lg-4.host= image_tag user.avatar.url(:large) 
                            

                  
