.shared-slider-container#host-slider
  .container.homepage-container
    %h1 FEATURED HOSTS
    / %a.small_text{href: "#"} VIEW ALL >>>

  .slider-wrapper
    %i.fa.fa-chevron-right#host-next
    %i.fa.fa-chevron-left#host-prev

    .swiper-container.host-slider
      .swiper-wrapper
        - if @feat_hosts
          - @feat_hosts.each_with_index do |guide, i|
            .swiper-slide
              %a.slide-content{href: user_path(guide)}
                .host-circle-image{style: "background: url(#{guide.get_avatar_url("medium")}) no-repeat center center;"}

              
                  

:javascript
  $(window).resize(function(){
    hostSliderInit();
  })