.homepage-slider-container#host_slider
  .container
    %h1 FEATURED HOSTS
    %a.small_text{href: "#"} VIEW ALL >>>

  
    .feat-hosts-container
      - if @feat_hosts
        - @feat_hosts.each_with_index do |user, i|
          - if user.avatar_url
            .img-circle.col-lg-4.host= image_tag "#{user.avatar_url}?type=large"
          - else
            .img-circle.col-lg-4.host= image_tag user.avatar.url(:large) 
                        

              
