#how_it_works
  .container
    .row.text-center.title
      HOW ADVLO WORKS

    .row.dotted_row_1
      .col-md-4
        %a{href: "/adventures"}
          .dot
            .advlo_img
        %a{href: "/adventures"}
          .dot_copy.text-center
            Pick your adventure destinations
      .line
      .col-md-4
        %a{href: "/adventures"}
          .dot
            .advlo_img
        %a{href: "/adventures"}
          .dot_copy.text-center
            Explore what locals have to offer

      .col-md-4
        %a{href: "/adventures"}
          .dot
            .advlo_img
        %a{href: "/adventures"}
          .dot_copy.text-center
            Connect with the host and book the adventure

    .row
      .advlo_connection_img{'data-toggle' => "modal", 'data-target' => '#video-modal'}
      .video_copy.text-center{'data-toggle' => "modal", 'data-target' => '#video-modal'}
        WATCH
        %br
        VIDEO

  #video-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "video-modal", role: "dialog"}
    .modal-dialog
      .modal-content
        .modal-body
          .embed-container
            %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "", :webkitallowfullscreen => ""}
