#how_it_works
  .container
    .row.text-center.title
      HOW ADVLO WORKS

    .row.dotted_row_1
      .col-md-4
        %a{href: "/adventures"}
          .dot
            .advlo_img
        %a{href: "/adventures"}
          .dot_copy.text-center
            PICK YOUR ADVENTURE DESTINATION
      .line
      .col-md-4
        %a{href: "/adventures"}
          .dot
            .advlo_img
        %a{href: "/adventures"}
          .dot_copy.text-center
            EXPLORE WHAT THE LOCALS HAVE TO OFFER
      .col-md-4
        %a{href: "/adventures"}
          .dot
            .advlo_img
        %a{href: "/adventures"}
          .dot_copy.text-center
            CONNECT WITH THE HOST AND BOOK THE ADVENTURE

    .row
      .advlo_connection_img{'data-toggle' => "modal", 'data-target' => '#video-modal'}
      .video_copy.text-center{'data-toggle' => "modal", 'data-target' => '#video-modal'}
        VIDEO

  #video-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "video-modal", role: "dialog"}
    .modal-dialog
      .modal-content
        .modal-body
          .embed-container
            %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/103610627?title=0&portrait=0&byline=0&badge=0", :webkitallowfullscreen => ""}
