#how_it_works
  .row.text-center
    .container
      .col-md-4
        %a{href: "/adventures?location=Colorado"}
          .large_text FIND
          .find_icon
          .col-md-10.col-md-offset-1
            .small_text
              Search for and connect with locals to set up unique, customizable adventures
      .col-md-4
        %a{href: "/adventures/info"}
          .large_text HOST
          .host_icon
          .col-md-10.col-md-offset-1
            .small_text
              Sell your expertise by leading like-minded travelers on the adventures you create
      .col-md-4
        %a{href: "#", 'data-toggle' => "modal", 'data-target' => '#request_form_modal'}
          .large_text REQUEST
          .request_icon
          .col-md-10.col-md-offset-1
            .small_text
              Create the adventure you're seeking and we'll find someone awesome to host it

    = render partial: "/adventures/request_modal"
