#how_it_works
  .row.text-center
    .col-md-6
      %a{href: "#"}
        %span.large_text FIND
        <br>
        %span.small_text ADVENTURES
        .find_icon
    .col-md-6
      %a{href: "#"}
        %span.large_text HOST
        <br>
        %span.small_text ADVENTURES
        .host_icon
