/ #how_it_works
/   .container
/     %h1.text-center
/     .embed-container
/       %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/103610627", :webkitallowfullscreen => ""}

/ .google_plus{style: "display:none"}
/   %a{href:"https://plus.google.com/103480915155892531074", rel: "publisher"}
/     Google+

