#how_it_works
  .container
    .row.text-center.title
      HOW ADVLO WORKS


    .row
      .col-md-4
        %a{href: "/find"}
          .hiw_img{style: "background: url('#{asset_path("background/hiw_search.jpg")}') center center no-repeat"}
            .hiw_img_text.text-center
              .large SEARCH
              .small BY DESTINATION
      .col-md-4
        %a{href: "/find"}
          .hiw_img{style: "background: url('#{asset_path("background/hiw_find.jpg")}') center center no-repeat"}
            .hiw_img_text.text-center{style: "position: relative; top: 184px;"}
              .large FIND
              .small LOCAL HOSTS
      .col-md-4
        %a{href: "/find"}
          .hiw_img{style: "background: url('#{asset_path("background/hiw_adventure.jpg")}') center center no-repeat"}
            .hiw_img_text.text-center
              .large ADVENTURE
              .small LOCAL

    .row
      .advlo_connection_img{'data-toggle' => "modal", 'data-target' => '#video-modal'}
      .video_copy.text-center{'data-toggle' => "modal", 'data-target' => '#video-modal'}
        WATCH
        %br
        VIDEO

  #video-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "video-modal", role: "dialog"}
    .modal-dialog
      .modal-content
        .modal-body
          .embed-container
            %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "", :webkitallowfullscreen => ""}
