#header-navbar.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right.login-right
    %li.header-button
      %button.btn.btn-default.navbar-btn
        How It Works
    %li
      %form
        %a.btn.btn-default.navbar-btn.header-button{href: "/partner"}
          Host an Adventure

    %li
      %form
        .btn.btn-primary.navbar-btn.login_in_sign_up_btn.new-account{style: "margin-right: 10px; font-weight: bold;"}
          LOGIN

= render partial: 'sign_in_modal'

:javascript
  $('.new-account').click(function(){
    $('#sign_in_modal').modal('show');
  })
