%li.dropdown
  %a.logged_in_dropdown_box{href: "#", "data-toggle" => "dropdown", type: 'button'}
    .img-circle.profile_img{style: "background: url('#{current_user.get_avatar_url("thumb")}') center center no-repeat"}

    - if current_user.name.nil? || current_user.name.empty?
      .user_name
        = current_user.email
        %b.caret
    - else 
      .user_name
        = current_user.get_abbreviated_name
        %b.caret

  %ul.dropdown-menu.right-side.logged_in_dropdown_menu{role: "menu"}
    %li
      %a.orange-hover{href: "/users/dashboard"} 
        %i.fa.fa-user{style: 'float: left; margin-right: 10px;'}
        .text My Dashboard
    
    %li
      %a.orange-hover{href: "/users/sign_out", :data => {:method => "delete"}, rel: "nofollow"} 
        %i.fa.fa-sign-out{style: 'float: left; margin-right: 10px;'}
        Sign Out