%li.dropdown
  %button.btn.btn-primary.navbar-btn{"data-toggle" => "dropdown", href: "#", style: "margin-right: 10px;"}
    LOGIN
    %b.caret
  %ul.dropdown-menu.logged_out_dropdown_menu{role: "menu"}
    %li
      %form.sign_in_form{"accept-charset" => "UTF-8", action: "/users/sign_in", method: "post", roll: "form", id: "sign_in_form"}
        =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
          %i.fa.fa-facebook
          Connect with Facebook
        .form-group
          %input.form-control{placeholder: "Email Address", type: "email", name: "user[email]", id: "user_email_login"}
        .form-group
          %input.form-control{placeholder: "Password", type: "password", autocomplete: "off", id: "user_password", name: "user[password]"}
        %input.btn.btn-primary.sign_in_btn.login-form-submit{name: "sign_in", type: "submit", value: "Sign In"}
        .connect_btn.btn.email_btn#login-toggle
          %i.fa.fa-envelope-o
          Connect with Email
    .text-center
      %li.sign_up_link
        = link_to "New to Advlo? Sign Up", new_user_registration_path
%li
  %form
    %a.btn.btn-primary.navbar-btn{href: "/users/sign_up", style: "margin-right: 10px; font-weight: bold;"}
      SIGN-UP