%li.dropdown
  %a.logged_in_dropdown_box{href: "#", "data-toggle" => "dropdown", type: 'button'}
    .img-circle.profile_img{style: %(background: url("#{current_user.get_avatar_url('thumb')}") center center no-repeat)}

    - if current_user.name.nil? || current_user.name.empty?
      .user_name
        = current_user.email
        %b.caret
    - else 
      .user_name
        = current_user.get_abbreviated_name
        %b.caret

  %ul.dropdown-menu.right-side.logged_in_dropdown_menu{role: "menu"}
    %li
      %a.orange-hover{href: "/users/dashboard"} 
        %i.fa.fa-bicycle.header-fa-little{style: 'float: left; margin-right: 10px;'}
        .text Adventures
        
    %li
      %a.orange-hover{href: "/users/edit"} 
        %i.fa.fa-user.header-fa{style: 'float: left; margin-right: 10px;'}
        .text Profile

    %li
      %a.orange-hover{href: "/users/wallet"} 
        %i.fa.fa-cc-visa.header-fa-little{style: 'float: left; margin-right: 10px;'}
        .text Wallet

    %li
      %a.orange-hover{href: "/travel-fund"} 
        %i.fa.fa-angellist.header-fa{style: 'float: left; margin-right: 10px;'}
        .text Invite
    
    %li
      %a.orange-hover{href: "/users/sign_out", :data => {:method => "delete"}, rel: "nofollow"} 
        %i.fa.fa-sign-out.header-fa{style: 'float: left; margin-right: 10px;'}
        Sign Out