#member-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "member-modal", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-body.text-center
        .advlo_img
          = image_tag 'logos/advlo_words_only.png'

        .row
          %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
            %i.fa.fa-facebook
            FACEBOOK

        .text-center{style: "font-family: bebas_neue; font-size: 1.2em; margin: 10px 0 5px 0"}
          OR

        %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form", id: 'signup_modal', class: 'popup_login_form'}
          =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
          =tag(:input, :type => "hidden", :id => "referrer_id", :name => "user[referrer_id]", :value => nil)
          .form-group
            %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
          .form-group
            %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]"}
          .form-group
            %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", id: "user_password_confirmation", name: "user[password_confirmation]"}
          .row
            %input.btn.btn-primary.sign_up_btn{name: "sign_up", type: "submit", value: "SIGN UP"}

        .row
          .btn.btn-success.sign_up_toggle_btn.popup_login
            EMAIL


        .back-text
          By signing up, you agree to Advlo's
          %a{href: "/terms", target: "_blank"}
            Terms of Service

        .sign-up-link#toggle-sign-in
          Or Sign In
          

:javascript
  if ($.cookie('referrer_id')) {
    modal_new_user_set_referrer_id($.cookie('referrer_id'));
  }

  $('#toggle-sign-in').click(function(){
    $('#member-modal').modal('hide');
    $('#event-modal').modal('hide');
    $('.logged_out_dropdown_menu').show();
  })