#privacy_policy.tab-pane
  .col-md-12.container
    %h2 PRIVACY POLICY
    %h4 Last Updated: August 15, 2014

    %h3 Welcome to Advlo
    %p
      blah blah asf bla sd asdfas blah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfasblah blah asf bla sd asdfas 
