#sign_in_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "sign-in-modal", role: "dialog"}
  .modal-dialog
    .modal-content
      %button.close{"data-dismiss"=>"modal"}
        %span ×
        %span.sr-only Close

      .modal-body.text-center
        .advlo_img
          = image_tag 'logos/advlo_words_only.png'

        .row
          %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
            %i.fa.fa-facebook{style: "margin-right: 28px; font-size: 25px;"}
            LOGIN WITH FACEBOOK

        %form{"accept-charset" => "UTF-8", action: "/users/sign_in", method: "post", roll: "form", id: 'sign_in_form'}
          =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)

          .form-group
            %input.form-control{placeholder: "Email Address", type: "text", required: "required", name: "user[email]", id: "user_email", style: "background-color: rgb(68,68,68); border: none;"}

          .form-group
            %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]", style: "background-color: rgb(68,68,68); border: none;"}

          .row
            %input.btn.btn-primary.sign_in_btn{name: "sign_in", type: "submit", value: "SIGN IN"}

        .row
          .btn.btn-primary.sign_in_toggle_btn
            LOGIN WITH EMAIL

        .row
          .sign_up_link
            Don't have an account? SIGN UP

:javascript
  $(document).ready(function(){
    $('#sign_in_modal .sign_in_toggle_btn').click(function(){
      $(this).hide();
      $('#sign_in_modal #sign_in_form').fadeIn();
    })

    $("#sign_in_modal .sign_up_link").click(function(){
      $('#sign_in_modal').modal('hide');
      $('#member-modal').modal('show');
    })
  })
