#terms_of_service.tab-pane.active
  .col-md-12.container
    %h2 TERMS OF SERVICE
    %h4 Last Updated: August 15, 2014

    %h1 Welcome to Advlo
    %p
      TERMS OF SERVICE
      Updated 8/13/2014

    %p
      This agreement sets forth the terms and conditions between Advlo Inc. and users who use “Our” services to purchase “Adventure” tours and travel services (“You”) from individuals who provide adventure tours and travel related services (“Hosts”).
    %p
      You must read the Agreement before using www.advlo.com (the “Site”) and booking an adventure tour. Use of the Site constitutes an agreement to all terms and conditions in this Agreement and you warrant that you understand, agree to and accept all terms and conditions contained within this Agreement.

    %h1 Terms of Service Modification
    %ul
      %li
        Continued use of our Services after the modification date constitutes your acceptance of the new Terms of Service
      %li
        Through an email notification, by updating this page and the “Updated By” date or through other reasonable means, Advlo will notify you of any updates to the Terms of Service. Ten (10) days after they are posted, the changes will become effective; except changes addressing new functions of the Services or changes made for legal reasons will be effective immediately.


      %h2  
        You will be subject to additional terms such as the
        %a.privacy-toggle{href: '#'} 
          Privacy Policy

      %h3 
        ACCESS AND USE OF THE SERVICE
      %ul
        %li 
          Description of “Services”
          %ul 
            %li
              The Service: an online platform that provides a connection between Hosts who have unique knowledge of an “Adventure” with a particular travel destination or activity (“Hosts”) and Travelers seeking to receive services related to such destinations and activities (“Travelers”).
            %li
              “Hosts” can lead Adventures. Through the Services, Hosts have the ability to create a profile (“Profile”) that provides information about the Host’s knowledge and Adventure offerings, and, by doing so, make themselves available to Traveler “Requests” (Traveler-created forms or messages inquiring about a Host’s services) at a particular destination (each such service, an “Adventure”). Travelers may select Hosts (or may Request that Advlo attempt to connect them to a Host based on their specifications) to provide the Traveler with an Adventure.
        %li
          Platform Nature of the Services
          %ul
            %li
              Advlo is not an operator of tours, activities or adventures, nor is it a provider of tours or activities, and Advlo does not own, sell, resell, furnish, provide, manage and/or control any transportation or tour services.
            %li
              Advlo’s responsibilities are limitied to:
              %ul
                %li
                  Facilitating the availability of the Services
                %li
                  Serving as the limited agent of each Host for the purpose of accepting payments from Travelers on behalf of the Host
                
            %li
              You understand and agree that Advlo is not a party to any agreements entered into between hosts and travelers, nor is Advlo an agent or insurer. The services are intended to be used to facilitate the connections between hosts and travelers. Advlo cannot and does not control the content contained in any profiles and the condition, legality or suitability of any adventures. Advlo has no control over the conduct of Hosts, Travelers and other users of the Services or any adventures, and disclaims all liability in this regard. Accordingly, the planning or partaking of any adventures are at the Host’s and/or Traveler’s own risk.

      %h3
        YOUR REGISTRATION OBLIGATIONS
      %ul
        %li
          In order to access and use certain features of the Service you may be required to register with Advlo. By registering for the Service, you agree to provide and maintain accurate and current information about yourself as prompted by the Service’s registration form.
          %ul
            %li
              The data associated with your account and registration (along with other information about you) are governed by our Privacy Policy.
            %li
              If you are under the age of 13, you are not authorized to use Our Service, with or without registering with Advlo.
            %li
              If you are under the age of 18, you are permitted to use the Services, with or without registering, only with the approval of your parent or legal guardian.
        
        %br
        %li
          MEMBER ACCOUNT, PASSWORD AND SECURITY
          %ul
            %li
              As a User, you are responsible for the confidentiality of your account and password. Additionally, you’re responsible for all activities that occur under your account and password.
            %li
              You agree to:
              %ul
                %li
                  Contact Advlo immediately following any breach of security or any unauthorized use of your account or password.
                %li
                  Make sure to sign out of your account at the conclusion of each session when accessing the Service.
            %li
              Advlo will not be liable for any loss or damage arising from your failure to comply with this Section

        %br
        %li
          MODIFICATIONS TO SERVICE
          %ul   
            %li
              Advlo reserves the right to revisions or discontinuations of the Services (or any part thereof), temporarily or permanently, with or without notice. 
            %li
              You agree that Advlo will not be liable to you or to any third party for any modification suspension or discontinuance of the Service.
        %br
        %li 
          GENERAL PRACTICES REGARDING USE AND STORAGE
          %ul 
            %li 
              Advlo reserves the right to establish general practices and limits concerning the uses of the Service, without limitation. Such limits include, but are not limited to: Maximum amount of time that data or other content will be retained on Advlo’s servers and Maximum storage space that will be allotted to a user on Our behalf.
            %li 
              You agree that Advlo has no liability or responsibility for the deletion or failure to store any data or other content maintained or uploaded by the Service.
            %li 
              If an account is inactive for an extended period of time, Advlo reserves that right to terminate or take other appropriate action on the account. 
            %li 
              You acknowledge that Advlo reserves the right to modify these general practices and limits at any time, in its sole discretion, with or without notice.
        %li
          HOST OBLIGATIONS
          %ul 
            %li
              As a Host, you must create a Profile that showcases your Adventures, basic information and skill (to illustrate the types of Adventures you can lead and help Travelers plan).
            %li
              Profiles will be made publically available via the Services and all other “Users” (Travelers and Hosts) will be able to access the information posted as well as contact you through the Site. 
            %li
              You agree that you are responsible for the information and content shown on your Profile and Adventure pages. You also acknowledge that you are responsible for the acts and omissions of any individuals who are present during the Adventure at your request or invitation, excluding the Traveler (and the individuals the Travelers invites to the Adventure, if applicable).
            %li
              You agree to comply with the Advlo Host Guidelines, available at http://beta.advlo.com/adventures/info
            %li
              You acknowledge and agree that Advlo is not an insurer nor do We act as a contracting agent for Adventures for you as a Host. 
            %li
              In the event of a Traveler requesting your services for an Adventure and participates in your Adventure, Advlo is not a party and any agreement you enter into with such Traveler is between you and the Traveler.
            %li
              Aside from the previous limitations, Advlo serves as your limited authorized agent:
              %ul
                %li
                  For the purpose of accepting payments from Travelers on your behalf, and is responsible for transmitting such payments to you, subject to these Terms of Service
            %li
              As a Host, you are responsible for all other bookings, including without limitation: on-the-ground arrangements, restaurants, accommodations or similar bookings.
            %li
              You represent and warrant that your Profile and your planning of and/or guidance on any Adventure:
              %ul
                %li
                  Will not breach any agreements you have entered into with any third parties (such as any agreements with or rules of employers or local tourism agencies)
                %li
                  Will (a) be in compliance with all applicable laws, tax requirements, and rules and regulations that may apply to any such Adventure, including, but not limited to, tourism, tour guide licensing laws, and other laws governing events and tours of public spaces and other venues and (b) not conflict with the rights of third parties.
            %li
              Please note that Advlo assumes no responsibility for any Host’s or Traveler’s compliance with any applicable laws, rules and regulations. 
            %li
              Advlo reserves the right to terminate or disable access to any Profile for any reason, including Profiles that Advlo, in its sole discretion, considers to be objectionable for any reason, in violation of these Terms or otherwise harmful to the Services, at any time and without any prior notice.
            %li
              Advlo recommends that Hosts and Travelers obtain appropriate insurance for their Adventures.
            %li
              Advlo recommends that you review any insurance policy that you may have for your Adventure in great detail, and in particular please make sure that you are familiar with and understand any exclusions to, and any deductibles that may apply for, such insurance policy, including, but not limited to, whether or not your insurance policy will cover the actions or inactions of Travelers (and the individuals the Traveler invites to the Adventure, if applicable) while participating in you Adventure.
        %li
          NO ENDORSEMENT
          %ul
            %li
              Advlo does not endorse any Adventures.
            %li
              Advlo does not attempt to confirm or not confirm, any user’s alleged identity.
            %li
              As a User of Our Services, you are responsible for determining and confirming the identity and suitability of others who you contact via the Services.
            %li
              Advlo is not, and will not be responsible for any damage or harm, which results from your interactions with other Advlo Users.
            %li
              By using Advlo’s Services, you agree that any liability or legal remedy that you seek to obtain for actions or omissions of other users or other third parties will be limited to a claim against the particular user or other third parties who caused you harm and you agree not to attempt to impose liability on, or seek any legal remedy from Advlo with respect to such actions or omissions.
            %li
              Regarding any bookings you have made or Adventure details, we encourage you to communicate directly with other users via the Services.
            %li
              This limitation shall not apply to any claim by a Host against Advlo regarding:
              %ul
                %li
                  The remittance of payments received from a Traveler by Advlo on behalf of a Host or
                %li
                  The failure of Advlo to book an Advlo Booking for which the Traveler provided accurate booking information, which instead shall be subject to the limitations described in the section below entitled “Limitation of Liability”.

          %li
            CONDITIONS OF USE
            %ul
              %li
                BOOKINGS AND FINANCIAL TERMS FOR HOSTS:
                %ul
                  %li
                    HOSTS: (Users who lead Adventures) If a Traveler sends a requested time for your Adventure via the Services, you are required to either accept or decline the request within 48 hours, as determined by Advlo in its sole discretion, or the booking request will be automatically cancelled.
                  %li
                    If you are unable to confirm or decline a booking of an Adventure within the specified time period, any amounts collected by Advlo will be refunded to the appropriate Traveler’s credit card and pre-authorization of such credit card will be released. 
                  %li
                    Future clause: If a Host fails to accept or decline a request in three separate instances, their account will be deactivated. 
                  %li
                    You may be able to create an Adventure that is pre-scheduled for specific times and dates, where the Traveler’s booking may be automatically confirmed (“Instant Bookings”). When a booking is requested via the Services, we may share with you the first and last name of the Traveler who has requested the booking and a link to the Traveler’s Advlo Profile Page.
      %h3
        FEE STRUCTURE
      %ul
        %li
          In exchange for providing the Services, Advlo retains a portion of the ADVENTURE COST (defined below) of each Adventure (HOST FEE). 
        %li
          As a Customer, you agree to pay the amount posted by the Host (Adventure Cost) from whom you have chosen to purchase an Adventure (in addition to a Service Fee). 
        %li
          As a Host, posting a listing is free, but you agree to pay Advlo our then-current service commission for each purchase made by a Customer. 
          %ul
            %li
              Advlo’s Fees Policy, which is subject to change at our discretion. Changes to the Fees Policy and the fees for Advlo’s Services are effective after Advlo provides you notice by posting the changes on the Site.
            %li
              Each Customer will be solely responsible for any payments due to the Host, and the Host will be solely responsible for providing the Adventure to the Customer.
            %li
            Under no circumstances will Advlo be liable to a Host for payment for any Adventures ordered by a Customer or liable to a Customer to provide any Adventures.
        %li
          TRAVELER FEE TERMS
          %ul
            %li
              If you purchase an Adventure, you will be asked to provide your credit card information. Your card will not be charged the Total Booking Cost (Adventure Cost plus the Service Fee) until the Host confirms the booking request. If you book an “Instant Booking” time, you will be charged the “Total Booking Cost” automatically .
            %li
              Advlo charges a fee to Travelers as a percentage of applicable Adventure Costs, which is the “Service Fee”.
              %ul
                %li
                The Service Fee will be automatically added to the Adventure Cost to make the “Total Booking Cost” upon checkout.
            %li
              Advlo will collect the Total Booking Cost at the time of booking confirmation (i.e. when the Hosts confirms the Adventure Request or an Instant Booking is booked) 
        %li
          HOST FEE TERMS
          %ul
            %li
              There are no fees to upload an Adventure. However, when an Adventure a Host posted gets booked and the Traveler’s credit card charged, Advlo automatically retains the current Host Fee.
            %li
              The dollar amount displayed in an Adventure Page (Adventure Cost) includes the Host Payment (Adventure Cost less the Host Fee) and the Host Fee.
              %ul
                %li
                  Please note that it is the Host and not Advlo who determines the Adventure Cost.
            %li
              Advlo will send the Host the Host Payment amount within 48 hours of the Adventure’s completion (except in the event where a is due refund).
            %li
              Please note that Advlo will not be responsible for delays in payments, where times can vary based on the location, currency, bank, etc.
        %li
          CANCELLATIONS AND REFUNDS
          %ul
            %li
              These Terms and Conditions define the Advlo Traveler Refund Policies, which is available to Travelers who book and pay for an Adventure listed by a Host through the Advlo platform (the “Site”) and suffer a Travel Problem.
        
        %li
          Travel Problems: A “Travel Problem” means that any of the following scenarios took place:
          %ul
            %li
              The Host of the Adventure:
              %ul
                %li 
                  Canceled a trip reservation within 48 hours of the scheduled Adventure start time.
                %li 
                  Failed to arrive at the designated meeting location within 30 minutes of the scheduled Adventure start time.
                %li 
                  Failed to provide the Traveler with the reasonability to access the Adventure (i.e. by allowing the Traveler access to the space in which the Adventure will take place, if applicable).
            %li 
              The description of the Adventure on the Adventure Page on the Site is materially inaccurate with regards to the:
              %ul
                %li 
                  Duration of the Adventure
                %li 
                  Content (including but not limited to the stated activities or points of interest, as applicable), or
                %li 
                  Physical location of the Adventure
                %li 
                  General safety and conditions that would be reasonably expected, given the nature of the particular Adventure, at Advlo’s discretion.

        %li 
          TRAVELER REFUND POLICY
          %ul
            %li
              Travelers who suffer a Travel Problem will receive, at our discretion, either:
              %ul
                %li
                  A refund of the Total Booking Cost, at our discretion and based on the extent of the Travel Problem
                %li
                  A reasonably comparable Adventure (in terms of content and quality) based on availability and our determination.
                  %ul
                    %li
                      If the alternative Adventure is a higher price than the previous, you may be responsible for any difference in price. 
                    %li
                      If the alternative Adventure is a lower price than the previous, you may be entitled to a partial refund to make up for the difference in prices. 
                %li All refunds and determinations of Advlo are final and binding.

        %li
          CLAIMING A TRAVEL PROBLEM
          %ul
            %li
              Only Travelers, who meet the following requirements, can submit Travel Problem Claims to support@advlo.com:
              %ul
                %li 
                  You must contact Advlo via email or telephone and provide us with the Travel Problem claim within 24 hours of the Adventure’s conclusion (based on the specified duration time on the Adventure’s Page).
          
                %li 
                  You must not have, directly or indirectly, caused the Travel Problem (through your action, omission or negligence).
            
                %li 
                  You must have used reasonable efforts to prevent or solve the issues of the Travel Problem directly with the Host (with evidence to confirm this) before making a claim to Advlo.
        %li
          CANCELATION DUE TO OUTSIDE FACTORS
          %ul
            %li
              Certain Adventures may depend on factors outside the control of either parties, such as weather (“Outside Factors”). The Host has the discretion as to whether Outside Factors will prevent the Adventure from taking place. As a Host, if you need to cancel an Adventure due to Outside Factors, you are required to contact the Traveler and Advlo (support@advlo.com) as early as possible. Subject to the Traveler’s consent, the Host and the Traveler may choose to reschedule the Adventure for another time or date. If the Adventure cannot be rescheduled, the Traveler should contact Advlo so we may assist in finding a replacement Adventure. To clarify, in the event the alternative Adventure is of a higher price of the previous, you may be responsible for any difference in price. If the alternative Adventure is of a lower price than the previous, you may be entitled to a partial refund for the difference. If you have contacted Advlo as a Traveler and Advlo is unable to find you a replacement Adventure, Advlo may refund the Total Booking Fee for such booking to the applicable Traveler within a commercially reasonable time of the cancellation.
        %li
          QUALITY STANDARDS
          %p
            As a Host, it is your responsibility to make certain that the Adventures you post on the Site meet and maintain the minimum quality standards in terms of the descriptions on the site, health and safety standards, as well as prevent any Travel Problems. Throughout the Adventure, Hosts should be available in order to attempt to remedy, in good faith, or resolve Travel Problems.

          %p
            If you are a Host, and if (a) Advlo determines that a Traveler has suffered a Travel Problem related to an Adventure posted by you and (b) Advlo either refunds or reimburses that Traveler any amount up to the amount paid by the Traveler (Total Booking Cost) through the Site for the Adventure or provides an alternative Adventure to the Traveler, you agree to reimburse Advlo up to the Total Booking Cost within 30 days of Advlo’s request. All determinations of Advlo with respect to the Traveler Refund Policy, including without limitation the size of any refund to the Traveler, shall be final and binding on the Travelers and Hosts. You also agree that in order for you to reimburse Advlo up to the amount paid by Advlo, Advlo may off-set or reduce any amounts owed by Advlo to you by this amount. If the Traveler is rescheduled to an alternative Adventure, you may lose part or all of the Host Payment for the booking and you may be responsible for reasonable additional costs incurred to reschedule the Traveler to the alternative Adventure.

          %p
            The rights of the Traveler under the Traveler Refund Policy supersede the cancellations policies that otherwise apply to a particular Adventure. If you dispute the Travel Problem, you may notify us in writing at support@advlo.com or via telephone in order to provide us with information (including evidence) disputing the claims regarding the Travel Problem.  In order to dispute the claim, you must have used reasonable and good faith efforts to try to remedy the Travel Problem with the Traveler prior to disputing the Travel Problem claim (and you must provide evidence of doing so). You agree that all determination of Advlo with respect to the Travel Problem shall be final and binding on the Travelers and Hosts regardless of your submission of a dispute against such Travel Problem. 

          %p
            In the event of one or more Travel Problems being related to one Host, Advlo, in its discretion, may elect to take additional actions. These actions include, but are not limited to, terminating or suspending the Host’s account, canceling future bookings, suspending or removing the the Adventure Page(s) or imposing penalties or fees for the administrative burden associated with the Travel Problems.

        %li
          GENERAL PROVISIONS
          
          %li
            NO ISSURANCE/NO ASSIGNMENT
            %ul
              %li
                The Traveler Refund Policy is not intended to constitute an offer to insure, does not constitute insurance or an insurance contract, does not take the place of insurance obtained or obtainable by the Traveler, and the Traveler has not paid any premium in respect of the Traveler Refund Policy. The benefits provided under this Traveler Refund Policy are not assignable or transferable by you.
          
          %li
            MODIFICATION OR TERMINATION
            %ul
              %li
                Advlo reserves the right to modify or terminate this Traveler Refund Policy, at any time, in its sole discretion, and without prior notice. If Advlo modifies this Traveler Refund Policy, we will post the modification on the Site or provide you with notice of the modification and Advlo will continue to process all claims for Travel Problems made prior to the effective date of the modification.
          
          %li
            ENTIRE AGREEMENT AND DEFINITIONS
            %ul
              %li
                This Traveler Refund Policy constitutes the entire and exclusive understanding and agreement between Advlo and you regarding the Traveler Refund Policy and supersedes and replaces any and all prior oral or written understandings or agreements between Advlo and you regarding the Traveler Refund Policy. Capitalized terms not otherwise defined herein shall have the meaning set forth in the Advlo Terms of Service. Controlling Law. This Traveler Refund Policy will be interpreted in accordance with the laws of the State of Colorado and the United States of America, without regard to its conflict-of-law provisions.
            
          %li
            LIMITATION OF LIABILITY
            %ul
              %li
                IN NO EVENT WILL ADVLO’S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THIS ADVLO POLICY TERMS, EXCEED THE AMOUNT OF THE TOTAL BOOKING FEES COLLECTED BY ADVLO FROM THE TRAVELER. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU. YOU ACKNOWLEDGE AND AGREE THAT, BY POSTING A LISTING OR BOOKING AN ADVENTURE OR OTHERWISE USING THE SITE, SERVICES AS A HOST OR TRAVELER, YOU ARE INDICATING THAT YOU HAVE READ, AND THAT YOU UNDERSTAND AND AGREE TO BE BOUND BY THESE POLICY TERMS.
            
        %li
          TAXES
          %li
            You understand and agree that you are solely responsible for determining your applicable tax reporting requirements in consultation with your tax advisors. Advlo cannot and does not offer tax-related advice to any users of the Services. Additionally, please note that each Host is responsible for determining local indirect taxes including any applicable taxes to be collected or obligations relating to applicable taxes.
        %li
          USER CONDUCT
          %p
            You are solely responsible for all code, video, images, information, data, text, software, music, sound, photographs, graphics, messages or other materials (“Content”) that you upload, post, publish, display, email or otherwise use via the Service. The following are examples of the kind of content and/or use that is illegal or prohibited by Advlo. Advlo reserves the right to investigate and take appropriate legal action against anyone who, in Advlo’s sole discretion, violates this provision, including without limitation, removing the offending content from the Service, suspending or terminating the account of such violators and reporting you to the law enforcement authorities. You agree to not use the Service to:
          %ul
            %li
              Email or otherwise upload any content that (a) infringes any intellectual property or other proprietary rights of any party; (b) you do not have a right to upload under any law or under contractual or fiduciary relationships; (c) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; (d) poses or creates a privacy or security risk to any person; (e) constitutes unsolicited or unauthorized advertising, promotional materials, commercial activities and/or sales, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” “contests,” “sweepstakes,” or any other form of solicitation; (f) is unlawful, harmful, threatening, abusive, harassing, tortuous, excessively violent, defamatory, vulgar, obscene, pornographic, libelous, invasive of another’s privacy, hateful racially, ethnically or otherwise objectionable; or (g) in the sole judgment of Advlo, is objectionable or which restricts or inhibits any other person from using or enjoying the Service, or which may expose Advlo or its users to any harm or liability of any type.
            %li
              Interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service; or
            %li
              Violate any applicable local, state, national or international law, or any regulations having the force of law;
            %li
              Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;
            %li
              Solicit personal information from anyone under the age of 18;
            %li
              Harvest or collect email addresses or other contact information of other users from the Service by electronic or other means for the purposes of sending unsolicited emails or other unsolicited communications;
            %li
              Advertise or offer to sell or buy any goods or services for any business purpose that is not specifically authorized;
            %li
              Further or promote any criminal activity or enterprise or provide instructional information about illegal activities; or
            %li
              Obtain or attempt to access or otherwise obtain any materials or information through any means not intentionally made available or provided for through the Service;
            %li
              Offer, as a Host, any Adventures that you do not yourself have permission to provide (without limiting the foregoing, you will not list Adventures as a Host if you are serving in the capacity of an agent for a third party);
            %li
              Offer, as a Host, any Adventure that may not be provided pursuant to the terms and conditions of an agreement with a third party;
            %li
              Contact a Host for any purpose other than asking a question related to a booking, such Host’s Adventures or Profiles;
            %li
              Contact a Traveler for any purpose other than asking a question related to a booking or such Traveler’s use of the Services;
            %li
              When acting as a Traveler or otherwise, recruit or otherwise solicit any Host or other user of the Services to join third party services or websites that are competitive to Advlo, without Advlo’s prior written approval;
            %li
              Use the Services to find a Host or Traveler and then complete a booking of an Adventure transaction independent of the Services, whether or not you do so in order to circumvent the obligation to pay any Service Fees related to Advlo’s provision of the Services; or
            %li
              As a Host, submit any Profile or Adventure with a false or misleading price information.

        %li
          SPECIAL NOTICE FOR INTERNATIONAL USE
          %ul
            %li
              Software available in connection with the Service and the transmission of applicable data, if any, is subject to United States export controls. No Software may be downloaded from the Service or otherwise exported or re-exported in violation of U.S. export laws. Downloading or using the Software is at your sole risk. Recognizing the global nature of the Internet, you agree to comply with all local rules and laws regarding your use of the Service, including as it concerns online conduct and acceptable content.

        %li 
          COMMERCIAL USE
          %ul
            %li
              Unless otherwise expressly authorized herein or in the Service, you agree not to display, distribute, license, perform, publish, reproduce, duplicate, copy, create derivative works from, modify, sell, resell, exploit, transfer or upload for any commercial purposes, any portion of the Service, use of the Service, or access to the Service. The Service is for your personal use.

        %li
          INTELLECTUAL PROPERTY RIGHTS



