#about
  - image = "background/advlo_about.jpg"
  .jumbotron{:style => "background-image: url(#{image_path image})"}
      
  .border

  .white_background
    .container
      %p.text-center.mission_statement
        Adventure Local aims to connect adventure travelers around the world, with the most authentic local hosts. We have built the platform as something we want to use ourselves, and have seen the neccessity for this service with the countless guides we have encountered on our own travels.
  
  .border

  .white_background.container-fluid
    .col-md-4
      .row.text-center
        %h3 CHRISTOPHER
      %p

    .col-md-4
      .row.text-center
        %h3 JONATHAN
      %p

    .col-md-4
      .row.text-center
        %h3 SHAYAN
      %p


  / .container
  /   .panel.panel-default
  /     %h3.text-center We started Advlo..
  /     .well.text-center
  /       Because travel is a luxury that most people of the world never have access to. 

  /     .well
  /       %h4 Jon
  /       .pic= image_tag User.where(email:'jemaser@syr.edu').first.get_avatar_url('large')
  /       .about-text.text-center
          

  /     .well 
  /       %h4.text-right Shayan
  /       .pic{style:'float:right;'}= image_tag User.where(email: 'shayan@advlo.com').first.get_avatar_url("large")
  /       .about-text.text-center
          


  /     .well
  /       %h4 Christopher
  /       .pic= image_tag User.where(id: 1).first.get_avatar_url('large')
  /       .about-text.text-center
          