#about
  - image = "background/advlo_about.jpg"
  .jumbotron{:style => "background-image: url(#{image_path image})"}
  .border
  .logo= image_tag 'logos/advlo_header_logo.png'
  .border


  .about-wrapper
    .container
      .panel.panel-default
        %p.text-center.mission_statement
          .text-brick
            Our goal is to connect adventure travelers around the world with the most authentic locals. We have built the platform as something we want to use ourselves, and out of the neccessity we have seen from the incredible guides around the globe we have adventured with on our own.
          .text-brick
            We know travelling is a luxury that most of the world's people never get to experience. However, the ability to immerse yourself into a foreign culture has been the greatest learning experience the three of us have ever had. To build a tool to help others do the same, in conjunction with enabling adventure guides around the world... Well. We couldn't ask for a better way to spend our time. 
  


  .border

  .white_background.container-fluid
    .col-md-4
      .row.text-center
        %h3 CHRISTOPHER
        %h4 The Anthropologist Programmer

      .panel.panel-default.text-brick
        .self-bio
          Someone once told, "If it were easy, anyone could do it." Over the past few years i've searched long and hard for a way to live life to the fullest. Often times I reflect on my experiences from traveling...
          

    .col-md-4
      .row.text-center
        %h3 JONATHAN
        %h4 The Entreprenuerial Thrillseeker

      .panel.panel-default.text-brick
        .self-bio


    .col-md-4
      .row.text-center
        %h3 SHAYAN
        %h4 The Exploring Scientist

      .panel.panel-default.text-brick
        .self-bio
          The world is an extremely diverse place, and I truly believe that the only way to experience and learn about what it has to offer is by being there and interacting with those whom have spent a good portion of their life there. Stepping out of your comfort zone and going after that unusual or scary experience to me is the definition of an Adventure and traveling. Every person's experience is different when they travel, for me the cultural exchange along with learning from the locals about their customs and language will have me traveling for the remainder of my life.

