#hero-image-container
  = render partial: 'hero_image'

#how-it-works-container
  = render partial: 'how_it_works'

#featured-adventures
  = render partial: 'adventure_slider'
  
#featured-guides
  = render partial: 'guide_slider'
  