- #If the user meet min. requirements to be a guide
- #then show the create an adventure form
- if current_user.is_guide(current_user.id)
	= render 'adventures/create'

- #If the user has an account but is not a guide, must update his profile to include guide req. info.
- elseif current_user && current_user.is_guide(current_user.id) == false
	= render 
- else
- #User is not a registered user and must fill out a custom form to continue