#invite {
	margin-top: 90px;

	.number_2_money {
		font-family: bebas_neue_book;
		font-weight: bold;
		letter-spacing: 3px;
		margin-top: 5px;
		font-size: 4.2em;
	}

	.number_2_credit {
		font-family: cabin_regular;
		margin-top: -15px;
		font-size: 1.1em;
	}
	
	.panel {

		.panel-heading {
			font-size: 2.0em;
		}

		.panel-body {
			padding-bottom: 35px;

			.number_btn {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				font-size: 25px;
				line-height: 87px;
				background-color: $advlo_orange;
				border-color: $advlo_orange;
				color: #FFF;
				cursor: default;
				font-family: 'nexa_light';
				font-weight: bold;
				margin-top: 20px;
				padding-left: 15px;

				&:hover {
					background-color: $orange;
					border-color: $orange;
				}
			}

			.number_1_text {
				margin-top: 20px;
				font-size: 1.4em;
			}

			.number_2_text {
				margin-top: 20px;
				font-size: 1.6em;
			}

			.number_3_text {
				margin-top: 20px;
				font-size: 1.8em;
			}

			.referral_link {
				font-size: 1.3em;
				margin-top: 15px;
				border: 1px solid $lighter_gray;
				border-radius: 3px;
				padding-top: 5px;
				padding-bottom: 5px;
				height: 40px;

				.fa{
					position: relative;
					float: right;
					cursor: pointer;
					top: -20px;
				}
				.fa:hover{
					opacity: 0.5;
				}
			}

			.referral_count{
				@extend .referral_link;
			}

			.referral_icons {
				margin-top: 25px;

				.fa {
					margin-right: 20px;
				}
			}

			.social_btns {
				margin-top: 15px;
			}

			.social_btn {
	          width: 50px;
	          height: 50px;
	          text-align: center;
	          padding: 15px 0;
	          font-size: 20px;
	          line-height: 1.0;
	          border-radius: 50%;
	        }

	        .fb {
	          color: #FFF;
	          background-color: #3B5998;
	          border-color: #3B5998;

	          &:hover {
	            opacity: 0.8;
	          }          
	        }

	        .twitter {
	          padding-left: 2px;
	          color: #FFF;
	          background-color: #30D8F0;
	          border-color: #30D8F0;

	          &:hover {
	            opacity: 0.8;
	          }
	        }

	        .email {
	          padding-left: 14px;
	          color: #FFF;
	          background-color: $light_orange;
	          border-color: $light_orange;

	          .fa {
	          	margin-top: -1px;
	          }

	          &:hover {
	            opacity: 0.8;
	          }
	        }

	        .border {
	        	margin: 20px 0;
	        	border: 1px solid $light_gray;
	        }
		}
	}
}