#d_sign_up {
	background-image: asset-url($banner_image);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -80px;
	padding-top: 180px;

	color: #FFFFFF;

	.container {
		min-height: 90vh;

		.panel {
			background: rgba(0,0,0,0.75);
		}

		h2 {
			font-size: 2.6em;
			padding-bottom: 15px;
			border-bottom: 1px solid $lighter_gray;
		}

		.referrer_text {
			font-size: 1.2em;
			padding-bottom: 10px;
			border-bottom: 1px solid $lighter_gray;
		}

		form {
			margin: 0px auto;

			.sign_up_btn {
				width: 100%; 
				font-size: 1.2em;
				background-color: $login_btn_color;
				border-color: $login_btn_color;
				margin-top: 10px;

				&:hover {
					background-color: $login_btn_color_hover;
					border-color: $login_btn_color_hover;
				}
			}
			.fb_btn {
				width: 100%;
				color: #FFFFFF !important;
				font-size: 1.3em;
				margin-bottom: 20px;
				

				.fa {
					margin-right: 10px;
				}
			}
		}
	}
}


.d_error_msgs {

	.alert {
		background-color: $light_gray;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}