#d_user_edit {
	background-color: $profile_background_color;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -80px;
	padding-top: 180px;

	color: $profile_font_color;

	.container {

		.panel {

			h2 {
				font-size: 2.2em;
				margin-bottom: 30px;
				background-color: #FFF;
				border: none;
			}

			.update_notice {
				font-size: 1.2em;
			}

			form {

				.form_label {
					font-weight: bold;
					padding-top: 7px;

				}

				.update_btn {
					font-size: 1.4em;
					background-color: $login_btn_color;
					border-color: $login_btn_color;
					padding: 10px 20px;

					&:hover {
						background-color: $login_btn_color_hover;
						border-color: $login_btn_color_hover;
					}
				}

				.prefill_input {
					padding-top: 6px;
				}

				.bootstrap-filestyle {
					margin: 10px auto;

					.btn {
						font-size: 1.2em;
						padding: 10px 30px;

						&:hover {

						}
					}
				}

				.panel-footer {
					background-color: #FFF !important;
					padding: 25px 0px !important;
				}

				.forgot_pass_fix {
					margin-top: 5px;
				}

				.forgot_password {
					text-decoration: none;
					font-size: 1.3em;
				}

				.be_host_title {
					font-size: 1.3em;
				}

				.location_map {
					height: 250px;
					width: auto;
					margin-bottom: 15px;
				}
			}
		}
	}

}