#d_user_edit {
	margin-top: -80px;
	padding-top: 155px;

	color: $profile_font_color;

	.img-banner {
		min-height: 200px;
		max-width: 300px;
		width: 100%;
	}
	.container {


		.profile_avatar_img {
			width: 200px;
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.update-user-btn {
			width: 50%;
			margin-top: 25px;
			margin-bottom: 10px;
		}

		#pre-check {
			text-align: center;
			margin-bottom: 300px;
			position: relative;
			float: left;
			width: 100%;
			margin-top: 50px;

			.pre-check {
				width: 175px;
				height: 50px;
				margin: 10px;
				color: #fff;

				p {	
					margin-top: 6px;
					font-family: 'bebas_neue' !important;
					font-size: 20px;
					letter-spacing: 2px;
				}
			}
			.pre-check:hover {
				opacity: 0.6;
			}

			#travel {
				background-color: $advlo_orange;
			}
			#host {
				background-color: $advlo_green;
			}
		}

		.travel-toggle {
			width: 50%;
		}

    .basic-form {
			display: none;
    }
		.host-only-form {
			display: none;
		}
		.traveler-only-form {
			display: none;
		}

		.panel {

			h2 {
				font-size: 2.2em;
				margin-bottom: 30px;
				background-color: #FFF;
				border: none;
			}

			.update_notice {
				font-size: 1.2em;
			}

			.preview_profile_btn {
				font-size: 1.4em;

				.fa {
					margin-right: 5px;
				}
				padding: 10px 15px;
			}

			form {

				.form_label {
					font-weight: bold;
					padding-top: 7px;
				}

				.checkbox-inline.no_indent {
					margin-left: 0;
  					margin-right: 10px;
				}

				.checkbox-inline.no_indent:last-child {
					margin-right: 0;
				}

				.update_btn {
					font-size: 1.4em;
					background-color: $login_btn_color;
					border-color: $login_btn_color;
					padding: 10px 20px;
					margin-top: 15px;
					margin-bottom: 15px;

					&:hover {
						background-color: $login_btn_color_hover;
						border-color: $login_btn_color_hover;
					}
				}

				.prefill_input {
					padding-top: 6px;
				}

				.bootstrap-filestyle {
					margin: 10px auto;

					.btn {
						font-size: 1.2em;
						padding: 10px 30px;

						&:hover {

						}
					}
				}

				.panel-footer {
					background-color: #FFF !important;
					padding: 25px 0px !important;
				}

				.forgot_pass_fix {
					margin-top: 5px;
				}

				.forgot_password {
					text-decoration: none;
					font-size: 1.3em;
				}

				.be_host_title {
					font-size: 1.3em;
				}

				.location_map {
					height: 250px;
					width: auto;
					margin-bottom: 15px;
				}
			}
		}
	}
}

