#d_user_dashboard {
	background-color: $profile_background_color;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -80px;
	padding-top: 180px;

	color: $profile_font_color;

	.container {

		.panel {

			h2 {
				font-size: 2.4em;
				margin-bottom: 30px;
				background-color: #FFF;
				border: none;
			}
		}
	}

}