!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Adventure Local
    :css

      body {
        background: url(http://beta.advlo.com/assets/cartographer_small-fc921f98c10167b7c55cb2de8357be54.png)
      }

      body, td {
        color: #000000;
        font-size: 14px;
        font-family: Verdana, Helvetica, Arial;
      }
      .divider {
        background-color: #555555;
        height: 2px;
      }
      h1 {
        font-family: nexa_bold;
        color: #fff;
        font-size: 4.6em;
        text-shadow: -1px -1px 5px #000;
      }
      .adventure h2 {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 18px;
      }
      .adventure p {
        margin: 3px 0;
      }
      .adventure img {
        border: solid 1px #777777;
      }
      .adventure .duration {
        font-size: 11px;
        color: #555555;
      }
      #footer {
        font-size: 11px;
        color: #555555;
      }
      #footer a {
        color: #555555;
      }
      .logo {
        position: relative;
        float: left;
        height: 60px;
      }
      .logo img {
        height: 100%;
        width: auto;
      }
  %body
    %table#background{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %td{align: "center", valign: "top"}
          %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "650"}
            %tr
              %td#header{colspan: "2"}
                %a{href: "http://beta.advlo.com/"}
                  .logo= image_tag "http://beta.advlo.com/assets/logos/advlo_header_logo-439f03315b58ba7b980fd7aab2234985.png"
            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
                = yield


            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
            %tr
              %td#footer{align: "center", colspan: "2"}
                %p
                  / %a{href: "#"} Unsubscribe
                  / if you do not wish to receive these emails in the future.
                %p= "©#{Time.now.year} Advlo inc."