!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Adventure Local
    :css

      #header {
        height: 65px;
        padding: 30px;
        background: url(http://beta.advlo.com/assets/cartographer_small-fc921f98c10167b7c55cb2de8357be54.png)

      }

      #footer {
        height: 65px;
        padding: 30px;
        background: url(http://beta.advlo.com/assets/cartographer_small-fc921f98c10167b7c55cb2de8357be54.png)
      }

      html {

      }

      body, td {
        color: #000000;
        font-size: 14px;
        font-family: Verdana,Helvetica,Arial;
      }
      #main {
        background: #fff;
      }

      .divider {
        height: 2px;
      }

      h1 {
        font-family: nexa_bold;
        color: #fff;
        font-size: 4.6em;
        text-shadow: -1px -1px 5px #000;
      }
      .adventure h2 {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 18px;
      }
      .adventure p {
        margin: 3px 0;
      }
      .adventure img {
        border: solid 1px #777777;
      }
      .adventure .duration {
        font-size: 11px;
        color: #fff;
      }
      #footer {
        font-size: 11px;
        color: #fff;
      }
      #footer a {
        color: #fff;
      }
      .logo {
        text-align: center;
        position: relative;
        height: 60px;
      }
      .logo img {
        height: 100%;
        width: auto;
      }


  %body
    %table#background{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %td{align: "center", valign: "top"}
          %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "700"}

            // header
            %tr
              %td#header{colspan: "2"}
                %a{href: "http://beta.advlo.com/"}
                  .logo= image_tag "http://beta.advlo.com/assets/logos/advlo_header_logo-439f03315b58ba7b980fd7aab2234985.png"

              // content      
              %tr
                %td
                  = yield

            // footer
            %tr
              %td#footer{align: "center", colspan: "2"}
                %p= "©#{Time.now.year} Advlo inc."

